{{ 'cart.css' | asset_url | stylesheet_tag }}

<div class='yc-cart'>
  {%- if cart and cart.items %}
    <div class='cart-table container'>
      <div class="header-block">
        <div class="header-bar">
          <h2>{{ 'cart.title' | t }}</h2>
          <span class='cart-badge' id="cart-items-count">
            {{ cart.items | size }}
          </span>
        </div>
        <div class="checkout_cta">
          <a href='{{ cart.cart_submit_url }}' class='yc-btn'>
            {{ 'cart.summary.checkout_cta' | t }}
          </a>
        </div>
      </div>
      <div class="table-container">
        {% for item in cart.items %}
          <div class="row cart__item" id='{{ item.id }}'>
            <div class="cell">
              <div class='product-image'>
                <img loading='lazy' src='{{ item.image }}' alt='{{ item.name }}'>
              </div>
            </div>
            <div class='cell mobile-view'>
              <div class="product-title">
                <span class="product-name">{{ item.name }}</span>
                <button
                  onclick="removeItem('{{ item.id }}', '{{ item.product_variant_id }}')"
                  class='yc-btn-close'
                  aria-label="close cart"
                >
                  <ion-icon name="trash-outline"></ion-icon>
                </button>
              </div>
              <div class="product-variant">
                {% for variant in item.variations %}
                  {% if variant[0] != 'default' or variant[1] != 'default' %}
                    <span>{{ variant[0] }}: {{ variant[1] }}</span>
                  {% endif %}
                {% endfor %}
                <div class="hidden">
                  <span class='product-price'> {{ item.price | money }}</span>
                </div>
              </div>
              <div class='quantity-x-price-container'>
                {%- render 'quantity-input', item: item -%}
                <div class='subtotal-price-table'>
                  <div class='cart-item-loader-spinner hidden' id='loading__{{ item.id }}'>
                    <span class='spinner h-7 w-7'></span>
                  </div>
                  <div class="subtotal-price">
                    <span class="total-price">{{ item.price | times: item.quantity | money }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class='cell quantity-input'></div>
            <div class='cell subtotal-price-table'></div>
            <div class="cell close-btn">
              <button onclick="removeItem('{{ item.id }}', '{{ item.product_variant_id }}')" class='yc-btn-close'>
                <ion-icon name="trash-outline"></ion-icon>
              </button>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class='summary-box'>
        <div class="empty-box"></div>
        <div id='summary'>
          {% if section.settings.show_coupon %}
            <form name='promo'>
              <div class='coupon-wrapper'>
                <input
                  type='text'
                  name='coupon'
                  id='promo'
                  placeholder='{{ "cart.summary.promo_input" | t }}'
                  class='w-full'
                >
                <button
                  type='submit'
                  class='yc-btn-secondary'
                >
                  <span
                    class='spinner hidden'
                    id='loading__coupon'
                  ></span>
                  <span class="content">{{ 'cart.summary.promo_cta' | t }}</span>
                </button>
              </div>
              <div class="coupon-applied"></div>
            </form>
          {% endif %}
          {%- if cart and cart.items %}
            <template id="summary-item-template">
              <div class='summary-item'>
                <p class='item-name capitalize'></p>
                <div class="summary-item-price">
                  <span class="item-price"></span>
                </div>
              </div>
            </template>
            <div class="price-box">
              {%- for item in cart.items %}
                <div class='summary-item' id='cart-item-{{ item.id }}'>
                  <p class='item-name capitalize'>{{ item.name }}</p>
                  <div class="summary-item-price">
                    <span class="item-price">{{ item.price | times: item.quantity | money }}</span>
                  </div>
                </div>
              {%- endfor %}
            </div>
          {%- endif %}
          <div class="border-divider"></div>
          <div class='total-price-wrapper'>
            {%- if cart and cart.available_shipping_options %}
              <div class="shipping-wrapper">
                <div class='flex text-sm justify-between mt-5'>
                  <div class='shipping-text'>{{ 'cart.summary.shipping' | t }}</div>
                  <span>{{ 'cart.summary.shipping_not_calculated' | t }}</span>
                </div>
              </div>
            {%- endif %}
            <div class="discount-wrapper hidden">
              <div class='coupon-container'>
                <span class="discount-text">{{ 'cart.summary.discount' | t }}</span>
                <span class="discount-price"></span>
              </div>
            </div>
            <div class='total-items'>
              <span class="total">{{ 'cart.summary.total' | t }}</span>
              <span class="item-total-price"></span>
            </div>
            <a href='{{ cart.cart_submit_url }}' class='yc-btn'>
              {{ 'cart.summary.checkout_cta' | t }}
            </a>
          </div>
        </div>
      </div>
    </div>
  {%- endif %}
  <div class='{% if cart and cart.items %}hidden {% endif %} container empty-cart pt-12'>
    <div class='empty-result'>
      <img src='{{ 'cart-icon.png' | asset_url }}'  alt='Cart icon'/>
      <h3 class='title'>{{ 'cart.empty.title' | t }}</h3>
      <p class="description">{{ 'cart.empty.description' | t }}</p>
      <a
        href='/'
        class='yc-btn'
      >
        {{ 'cart.empty.cta' | t }}
      </a>
    </div>
  </div>
</div>

{{ 'cart.js' | asset_url | script_tag_deferred }}

{% schema %}
{
  "label": "Cart",
  "templates": ["cart"],
  "class": "cart",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_coupon",
      "label": "Show coupon",
      "default": false
    }
  ]
}
{% endschema %}

{% javascript %}

  const CART_PAGE_CONTENT = {
    coupon_applied: '{{- 'cart.summary.coupon_applied' | t -}}',
    coupon_removed: '{{- 'cart.summary.coupon_removed' | t -}}',
    coupon: '{{- 'cart.summary.coupon' | t -}}'
  }
{% endjavascript %}
