{{ 'upsell.css' | asset_url | stylesheet_tag }}

<div class="upsell-page">
  <div class="upsell-content">
    {{ upsell.description }}
  </div>
  <div>
    <input
      type="hidden"
      data-upsell-id="{{ upsell.id }}"
    />
    <input
      type="hidden"
      data-order-id="{{ order.id }}"
    />
    {%- for product in upsell.products %}
      <input
        type="hidden"
        data-product-offer
        name="{{ product.id }}"
        value="{{ product.variants.0.id }}"
      />
    {%- endfor %}
    <div class="upsell-form-submit">
      <button data-upsell-submit-yes class="upsell-submit-yes size-{{- upsell.actions.btn_yes.size -}}"
        style="background: {{- upsell.actions.btn_yes.bg_color -}};">
        <span class="button-text text-{{- upsell.actions.btn_yes.font_size -}}" style="color: {{- upsell.actions.btn_yes.font_color -}}">
            {{- upsell.actions.btn_yes.title -}}
        </span>
        <div class="spinner hidden"></div>
      </button>
      <button data-upsell-submit-no class="upsell-submit-no size-{{- upsell.actions.btn_no.size -}}"
        style="background: {{- upsell.actions.btn_no.bg_color -}};">
        <span class="button-text text-{{- upsell.actions.btn_no.font_size -}}" style="color: {{- upsell.actions.btn_no.font_color -}}">
            {{- upsell.actions.btn_no.title -}}
        </span>
        <div class="spinner hidden"></div>
      </button>
    </div>
  </div>
  <div class="upsell-content">
    {{ upsell.footer }}
  </div>
</div>

{{ 'upsell.js' | asset_url | script_tag_deferred }}

{%- schema %}
{
  "label": "Upsell",
  "templates": ["upsell"]
}
{%- endschema %}
