{% comment %}
  Renders cart item template (cart page)

  Accepts:
  - product: {Object} cart item info

  Usage:
  {% render 'core.cart-item', product: {...} %}
{% endcomment %}

<div class="product-item">
  <div class="media" ui-cart-item="image">
    <img
      src="{{ product.image }}"
      alt="{{ product.name }}"
      height="100%"
      width="100%"
      loading="lazy"
      {% if product.image contains '/store-front/images/product-default' %}
        hidden
      {% endif %}
    >
    {% if product.image contains '/store-front/images/product-default' %}
      {% render 'misc.image-fallback', type: 'product', icon_size: 40 %}
    {% else %}
      {% render 'misc.image-fallback', type: 'product', icon_size: 40, hidden: true %}
    {% endif %}
  </div>
  <div class="content">
    <div class="info">
      <a class="name" ui-cart-item="title" href="{{ product.url }}">{{ product.name }}</a>
      <div class="price">
        <span class="original" ui-cart-item="price" hidden>{{ product.price | default: 0 | money }}</span>
        {% assign subtotal = product.quantity | times: product.price %}
        <span class="subtotal" ui-cart-item="subtotal">{{ subtotal | money }}</span>
        <span
          class="compare-at"
          ui-cart-item="compare-at-price"
          {% unless product.compare_at_price %}
            hidden
          {% endunless %}
        >
          {{ product.compare_at_price | default: 0 | times: product.quantity | money }}
        </span>
      </div>
      <div
        class="save"
        ui-slot="status-badge"
        data-variant="stroke"
        data-status="completed"
        {% unless product.compare_at_price %}
          hidden
        {% endunless %}
      >
        {{ 'general.you_save' | t }}
        <span>
          {% assign price_total = product.price | times: product.quantity %}
          {% assign compare_at_price_total = product.compare_at_price | default: 0 | times: product.quantity %}
          {{ compare_at_price_total | minus: price_total | money }}
        </span>
      </div>
      <div
        class="variants"
        ui-cart-item="variant"
        {% if product.variations == null or product.variations.default %}
          hidden
        {% endif %}
      >
        {% for variant in product.variations %}
          <span>{{ variant[1] }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="actions">
      {% render 'core.quantity' %}
      <ui-cart-remove item="{{ product.id }}" product-variant="{{ product.product_variant_id }}">
        <button
          ui-slot="button"
          data-mode="lighter"
          data-size="xs"
          data-as-icon
          aria-label="Remove"
          ui-cart-item="delete-button"
        >
          {% render 'misc.icon', name: 'hgi-delete-02' %}
        </button>
      </ui-cart-remove>
    </div>
  </div>
</div>
