{% comment %}
  Renders a product badge (by type)

  Accepts:
  - type: {String} (Optional)
  - style: {String} (Optional)
  - position: {String} (Optional)
  - custom_text: {String} (Optional)
  - threshold: {Number} (Optional)

  Usage:
  {% render 'misc.product-badge', type: 'discount-percentage', style: 'default', position: 'top-left'  %}
{% endcomment %}

<span
  class="product-badge"
  ui-slot="status-badge"
  data-variant="stroke"
  data-status="disabled"
  data-size="xs"
  data-style="{{ style | default: settings.badge_style }}"
  data-position="{{ position | default: settings.badge_position }}"
>
  {% assign badge_type = type | default: settings.badge_type %}

  {% case badge_type %}
    {% when 'discount-percentage' %}
      {% if compare_at_price %}
        {% assign percentage = compare_at_price | minus: price | times: 100 | divided_by: compare_at_price | round %}
        <span>-{{ percentage }}%</span>
      {% endif %}
    {% when 'discount-amount' %}
      {% if compare_at_price %}
        {% assign fixed = compare_at_price | minus: price %}
        <span>Save {{ fixed | money }}</span>
      {% endif %}
    {% when 'low-stock' %}
      {% assign badge_threshold = threshold | default: settings.badge_threshold %}

      {% if block.settings.product.isTrackingInventory and block.settings.product.inventory < badge_threshold %}
        <span>Only {{ block.settings.product.inventory }} left!</span>
      {% endif %}
    {% when 'custom-text' %}
      {% if type %}
        <span>{{ custom_text }}</span>
      {% else %}
        <span>{{ settings.badge_text }}</span>
      {% endif %}
  {% endcase %}
</span>
