<!doctype html>
{% assign lang = store.store_locale.iso_code %}
{% assign direction = 'ltr' %}

{% if lang == 'ar' %}
  {% assign direction = 'rtl' %}
{% endif %}

<html lang="{{ lang }}" dir="{{ direction }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ request.url }}">

    {% render 'config-title' %}
    {% render 'config-meta-tags' %}

    {{ '_main.css' | asset_url | stylesheet_tag }}
    {% render 'config-theme' %}
    {% render '_config' %}
  </head>
  <body
    data-primary="{{ settings.primary_color.hex }}"
    data-theme-mode="{{ settings.theme_mode }}"
  >
    {% render 'ui-skip-to-content' %}
    {% render 'ui-loader' %}
    {% render 'ui-toast' %}

    {% section 'announcement-bar' %}
    {% section 'header' %}
    <main layout="main" id="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </body>
</html>
