{{ 'section.cart.css' | asset_url | stylesheet_tag }}

<div
  section="cart"
  {% if settings.enable_global_theme_style %}
    theme="{{ settings.theme_style }}"
  {% else %}
    theme="{{ section.settings.theme }}"
  {% endif %}
>
  <div class="cart-head">
    <h2 class="title">{{ 'cart.page.title' | t }}</h2>
  </div>
  <div class="cart-core">
    <template ui-cart-item>
      {% render 'misc-cart-item', product: product %}
    </template>
    <ui-cart-items
      {% unless cart.items.size > 0 %}
        hidden
      {% endunless %}
    >
      {% for product in cart.items %}
        {% render 'misc-cart-item', product: product %}
      {% endfor %}
    </ui-cart-items>
    <ui-summary-box
      class="summary"
      {% unless cart.items.size > 0 %}
        hidden
      {% endunless %}
    >
      <div class="head">
        <h3>{{ 'cart.page.summary.title' | t }}</h3>
      </div>
      <ul class="detail-items">
        {% if section.settings.show_coupon %}
          <li class="coupon">
            <form class="coupon-input" ui-summary-box="coupon-form">
              <div class="icon">
                {% render 'ui-icon', name: 'local_activity', size: 20 %}
              </div>
              <input
                type="text"
                name="coupon_code"
                data-coupon="coupon-input"
                placeholder="{{ 'cart.page.coupon.placeholder' | t }}"
              >
              <button
                ui-button
                data-variant="ghost"
                data-size="sm"
                type="submit"
                data-coupon="coupon-button"
              >
                {{ 'cart.page.coupon.apply' | t }}
              </button>
            </form>
          </li>
        {% endif %}

        <li class="item">
          <span class="label">{{ 'order.coupon_code' | t }}</span>
          <span class="value">
            <span
              ui-summary-box="coupon-code"
              {% unless cart.coupon != null %}
                hidden
              {% endunless %}
            >
              {{ cart.coupon.code }}
            </span>
            <button ui-button data-variant="ghost" data-size="xxs" ui-summary-box="remove-coupon">
              {% render 'ui-icon', name: 'close_small' %}
            </button>
          </span>
        </li>
        <li class="item">
          <span class="label">{{ 'cart.page.summary.subtotal' | t }}</span>
          <span class="value" ui-cart-item="subtotal" ui-summary-box="subtotal">{{ cart.sub_total | default: 0 | money }}</span>
        </li>
        <li class="item">
          <span class="label">
            {{ 'order.discount_amount' | t }}
          </span>
          <span
            class="value"
            ui-summary-box="discount"
            {% unless cart.coupon != null %}
              hidden
            {% endunless %}
          >
            {% render 'const-discount-value', coupon: cart.coupon %}
          </span>
        </li>
        <li class="item">
          <span class="label">{{ 'cart.page.summary.total' | t }}</span>
          <span class="value" ui-summary-box="total">{{ cart.discounted_sub_total | default: 0 | money }}</span>
        </li>
      </ul>
      <div class="cta">
        <a href="{{ cart.cart_submit_url }}" ui-button data-variant="secondary" data-size="md">
          {{ 'cart.page.summary.checkout_button' | t }}
          {% render 'ui-icon', name: 'arrow_right_alt', flip_in_rtl: true %}
        </a>
      </div>
    </ui-summary-box>
    {% assign empty_content = 'cart.empty.title' | t %}
    {% if cart.items.size > 0 %}
      {% render 'ui-empty', content: empty_content, hidden: true %}
    {% else %}
      {% render 'ui-empty', content: empty_content %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "label": "t:sections.cart.label",
  "templates": ["cart"],
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_coupon",
      "label": "t:sections.cart.show_coupon",
      "default": true
    },
    {
      "type": "select",
      "id": "theme",
      "label": "t:common.theme.label",
      "options": [
        {
          "value": "primary-low",
          "label": "t:common.theme.contrast.low"
        },
        {
          "value": "primary-high",
          "label": "t:common.theme.contrast.high"
        },
        {
          "value": "neutral",
          "label": "t:common.theme.contrast.neutral"
        }
      ],
      "default": "primary-low"
    }
  ]
}
{% endschema %}
