{% comment %}
  Renders a slide item (Block)

  Accepts:
    - slide: {Object} Item info

  Usage:
  {% render 'block.slide' %}
{% endcomment %}

{% assign overlay_opacity = slide.settings.overlay_opacity | divided_by: 100 %}

<li
  ui-carousel="item"
  ui-block="slide"
  ui-slot="carousel-item"
  {{ slide.youcan_attributes }}
  data-alignment="{{ section.settings.mobile_content_alignment }}"
  style="
    --slide-bg: {{ slide.settings.slide_bg_color.hex }};
    --slide-fg: {{ slide.settings.slide_fg_color.hex }};
  "
>
  <div class="slide-wrapper">
    <div class="first-img">img1</div>
    <div
      class="main-content"
      style="
        --fg-color: {{ slide.settings.slide_fg_color.hex }};
        --bg-color: {{ slide.settings.slide_bg_color.hex }};
        --content-order: {{ slide.settings.content_order }};
      "
    >
      <div
        class="content"
        data-y-alignment="{{ slide.settings.vertical_alignment }}"
        data-x-alignment="{{ slide.settings.content_alignment }}"
      >
        <div ui-slot="head">
          {% if slide.settings.slide_heading %}
            <h1 class="heading">{{ slide.settings.slide_heading }}</h1>
          {% endif %}
          {% if slide.settings.slide_description %}
            <p class="description">{{ slide.settings.slide_description }}</p>
          {% endif %}
        </div>
        <div class="actions">
          <a
            ui-slot="button"
            data-variant="primary"
            data-size="lg"
            {% if slide.setting.first_button_link %}
              href="{{ slide.setting.first_button_link }}"
            {% endif %}
          >
            <span ui-slot="button-front">
              {{ slide.settings.first_button_label }}
            </span>
          </a>
          <a
            ui-slot="button"
            data-variant="tertiary"
            data-size="lg"
            {% if slide.setting.second_button_link %}
              href="{{ slide.setting.second_button_link }}"
            {% endif %}
          >
            <span ui-slot="button-front">
              {{ slide.settings.second_button_label }}
              <i class="hgi hgi-stroke hgi-rounded hgi-arrow-right-02"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="media"></div>
    </div>
    <div class="second-img">img2</div>
  </div>
</li>
