{{ 'misc.search.css' | asset_url | stylesheet_tag }}

{% comment %}
  Renders a search drawer

  Accepts:
  - keywords: {String} (optional) Most searched keywords
  - collection_id: {String} (optional) Recommended collection id

  Usage:
  {% render 'misc.search' %}
{% endcomment %}

<div ui-slot="sheet-content" id="search" popover>
  <div ui-slot="sheet-header">
    <h3 ui-slot="sheet-title">{{ 'search.title' | t }}</h3>
    <button
      ui-slot="button"
      data-variant="secondary"
      data-size="lg"
      aria-label="Close"
      popovertarget="search"
    >
      <span ui-slot="button-front">
        {% render 'misc.icon', name: 'hgi-arrow-right-03', size: 24 %}
      </span>
    </button>
  </div>
  <div ui-slot="sheet-body">
    <form action="/search">
      <fieldset ui-slot="input-wrapper" data-size="lg" role="group">
        <input
          ui-slot="input"
          name="q"
          type="text"
          minlength="3"
          required
          placeholder="{{ 'search.placeholder' | t }}"
        >
        <button
          aria-label="search"
          ui-slot="input-button"
          data-variant="ghost"
          data-size="lg"
          aria-label="Search"
          popovertarget="search"
        >
          <i ui-slot="input-icon" class="hgi hgi-stroke hgi-search-02"></i>
        </button>
      </fieldset>
    </form>
    {% if keywords %}
      {% assign words = keywords | split: ',' %}
      <div class="terms">
        <h4 class="label">{{ 'search.drawer.search_terms' | t }}:</h4>
        <div class="options">
          {% for keyword in words %}
            <a
              ui-slot="link-button"
              data-size="md"
              href="/search?q={{ keyword | url_encode }}"
            >
              {{- keyword -}}
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if collection_id %}
      <div class="products">
        <h4 class="label">{{ 'search.drawer.products_recommendations' | t }}:</h4>
        {% paginate collection.products by 8 id category_id: collection_id %}
          <div class="items">
            {% for product in items %}
              <a class="item" href="{{product.url}}">
                <div class="media">
                  {% if product.preview_image %}
                    <img
                      src="{{ product.preview_image.original }}"
                      alt="{{ product.name }}"
                      height="100%"
                      width="100%"
                      loading="lazy"
                    >
                  {% else %}
                    {% render 'misc.image-fallback', icon_size: 32 %}
                  {% endif %}
                </div>
                <div class="content">
                  <span
                    class="title"
                    href="{{ product.url }}"
                  >
                    {{ product.name }}
                  </span>
                  {% assign price = default_variant.price | default: product.price %}
                  <span class="price">{{ price | money }}</span>
                  {% if product.categories.size > 0 %}
                    <div class="categories">
                      {% for category in product.categories limit: 2 %}
                        <span class="category">
                          {{ category.name -}}
                        </span>
                      {% endfor %}
                      {% assign remaining = product.categories.size | minus: 2 %}
                      {% if remaining > 0 %}
                        <span class="category">+{{ remaining }}</span>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              </a>
            {% endfor %}
          </div>
        {% endpaginate %}
      </div>
    {% endif %}
  </div>
</div>
