{{ 'cart.css' | asset_url | stylesheet_tag }}

{% assign cart_size = cart.items.size %}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
    --section-bg-color: {{ section.settings.background_color.hex }};
    --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
  "
>
  <div
    class="cart"
    {% unless cart_size > 0 %}
      data-is-empty
    {% endunless %}
    data-cart
  >
    <template data-cart-item-template>
      {% render 'cart-item' %}
    </template>
    <div class="content">
      <h1 class="title h4">{{ 'cart.page.title' | t }}</h1>
      <ul class="list">
        <yc-cart-items>
          {% for item in cart.items %}
            <li>{% render 'cart-item', product: item %}</li>
          {% endfor %}
        </yc-cart-items>
      </ul>
    </div>
    <div class="summary">
      <h2 class="h4">{{ 'cart.page.summary.title' | t }}</h2>
      <yc-summary-box>
        <div class="box">
          {% if section.settings.show_coupon %}
            <form class="coupon" data-coupon-form>
              <input
                name="coupon_code"
                type="text"
                placeholder="{{ 'cart.page.coupon.placeholder' | t }}"
                data-coupon="coupon-input"
              >
              <button type="submit" class="yc-btn secondary" data-coupon="coupon-button">
                <span> {{ 'cart.page.coupon.apply' | t }} </span>
              </button>
            </form>
          {% endif %}
          <div class="subtotal">
            <div class="item">
              <span>{{ 'cart.page.summary.subtotal' | t }}</span>
              <span data-cart-subtotal>{{ cart.sub_total | default: 0 | money }}</span>
            </div>

            <div class="item">
              <span>{{ 'order.coupon_code' | t }}</span>
              <div class="coupon-code">
                <span data-coupon-code hidden></span>
                <button class="tertiary" data-remove-coupon>
                  {% render 'yc-icon', name: 'x-mark' %}
                </button>
              </div>
            </div>
            <div class="item">
              <span>{{ 'order.discount_amount' | t }}</span>
              <span data-discount hidden></span>
            </div>
            <div class="total-box">
              <div class="total">
                <span>{{ 'cart.page.summary.total' | t }}</span>
                <span data-cart-total>{{ cart.total | default: 0 | money }}</span>
              </div>
              <a href="{{ cart.cart_submit_url }}" class="yc-btn primary">
                {{- 'cart.page.summary.checkout_button' | t -}}
              </a>
            </div>
          </div>
        </div>
      </yc-summary-box>
    </div>
    <div class="empty">
      <div class="empty-page">
        {% assign placeholder_title = 'cart.empty.title' | t %}
        {% render 'yc-empty', icon: 'cart', heading: placeholder_title %}
      </div>
    </div>
  </div>
</yc-section>

{%- schema -%}
{
  "label": "Cart",
  "templates": ["cart"],
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_coupon",
      "label": "Show coupon",
      "default": true
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 60
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 60
    }
  ]
}
{%- endschema -%}
