{{ 'cart.css' | asset_url | stylesheet_tag }}
{{ 'component-quantity-control.js' | asset_url | script_tag_deferred }}

{% assign cart_size = cart.items.size %}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
    --section-bg-color: {{ section.settings.background_color.hex }};
    --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
  "
>
  <div
    class="cart"
    {% unless cart_size > 0 %}
      data-is-empty
    {% endunless %}
    data-cart-page
  >
    <div class="content">
      <h1 class="title h4">{{ 'cart.page.title' | t }}</h1>
      <ul class="list">
        {% for item in cart.items %}
          <li>{% render 'cart-item', product: item %}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="summary">
      <h2 class="h4">{{ 'cart.page.summary.title' | t }}</h2>
      <div class="box">
        {% if section.settings.show_coupon %}
          <div class="coupon">
            <input type="text" placeholder="{{ 'cart.page.coupon.placeholder' | t }}">
            <button class="yc-btn secondary">{{ 'cart.page.coupon.apply' | t }}</button>
          </div>
        {% endif %}
        <div class="subtotal">
          <div class="item">
            <span>{{ 'cart.page.summary.subtotal' | t }}</span>
            <span>{{ cart.sub_total | money }}</span>
          </div>
          <div class="item">
            <span>{{ 'cart.page.summary.coupon' | t }}</span>
            <span>-15%</span>
          </div>
          <div class="total-box">
            <div class="total">
              <span>{{ 'cart.page.summary.total' | t }}</span>
              <span data-cart-total>{{ cart.total | money }}</span>
            </div>
            <button class="yc-btn primary">{{ 'cart.page.summary.checkout_button' | t }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="empty">
      <div class="empty-page">
        {% assign placeholder_title = 'cart.empty.title' | t %}
        {% render 'yc-empty', icon: 'cart', heading: placeholder_title %}
      </div>
    </div>
  </div>
</yc-section>

{%- schema -%}
{
  "label": "Cart",
  "templates": ["cart"],
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_coupon",
      "label": "Show coupon",
      "default": true
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 60
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 60
    }
  ]
}
{%- endschema -%}
