{{ 'component-quantity-control.js' | asset_url | script_tag_deferred }}

{{ 'component-variants.css' | asset_url | stylesheet_tag }}
{{ 'component-variants.js' | asset_url | script_tag_deferred }}

{{ 'component-select.css' | asset_url | stylesheet_tag }}
{{ 'component-select.js' | asset_url | script_tag_deferred }}

{% comment %}
  TO REMOVE ❌
  TODO: This section is just a placeholder for the theme pages, as the template schema requires at least one section
{% endcomment %}
<yc-section style="display: grid; gap: 1.5em;">
  <div style="width: 300px;">
    <yc-select name="county">
      <yc-select-trigger class="yc-btn icon" aria-label="select trigger">
        <yc-select-value>Please select a value</yc-select-value>
      </yc-select-trigger>
      <yc-select-content>
        <yc-select-search placeholder="Search country.." no-results="No country found."></yc-select-search>
        <yc-select-item value="usa">United States</yc-select-item>
        <yc-select-item value="canada">Canada</yc-select-item>
        <yc-select-item value="mexico">Mexico</yc-select-item>
        <yc-select-item value="brazil">Brazil</yc-select-item>
        <yc-select-item value="argentina">Argentina</yc-select-item>
        <yc-select-item value="uk">United Kingdom</yc-select-item>
        <yc-select-item value="germany">Germany</yc-select-item>
        <yc-select-item value="france">France</yc-select-item>
        <yc-select-item value="italy">Italy</yc-select-item>
        <yc-select-item value="japan">Japan</yc-select-item>
        <yc-select-item value="australia">Australia</yc-select-item>
        <yc-select-item value="india">India</yc-select-item>
      </yc-select-content>
    </yc-select>
  </div>
</yc-section>

<yc-section
  style="
    --section-space-top: 100px;
    --section-space-bottom: 100px;
    --section-text-color: 18, 18, 18;
    --section-bg-color: #FFFFFFFF;
  "
>
  <div style="display: grid; gap: 2em; width: 400px;">
    {% assign toggle_options = 'XL,L,M,S' | split: ',' %}
    {% render 'variant-toggle', name: 'size', options: toggle_options %}

    {% assign color_options = 'Red,Green,Blue,Yellow,Black,White' | split: ',' %}
    {% render 'variant-color', name: 'color', options: color_options %}

    {% assign radio_options = 'Tight,Slim,Regular,Relaxed' | split: ',' %}
    {% render 'variant-radio', name: 'fit', options: radio_options %}

    {% assign image_options = '1,2,3,4' | split: ',' %}
    {% render 'variant-image', name: 'image', options: image_options %}

    {% assign dropdown_options = 'Solid,Striped,Plaid,Floral' | split: ',' %}
    {% render 'variant-dropdown', name: 'pattern', options: dropdown_options, placeholder: 'Select a pattern' %}

    {% render 'variant-upload', name: 'my-file', placeholder: 'Click here to choose a file' %}
  </div>
</yc-section>

{% schema %}
{
  "label": "Default",
  "tag": "div",
  "settings": [
    {
      "type": "checkbox",
      "id": "menu",
      "default": true,
      "label": "Menu"
    }
  ]
}
{% endschema %}
