{{ 'component-combobox.js' | asset_url | script_tag_deferred }}
{{ 'component-combobox.css' | asset_url | stylesheet_tag }}

{{ 'component-product.js' | asset_url | script_tag_deferred }}

{{ 'component-select.css' | asset_url | stylesheet_tag }}

{{ 'component-variants.css' | asset_url | stylesheet_tag }}
{{ 'product-quick-view.css' | asset_url | stylesheet_tag }}

{% comment %}
  TO REMOVE ❌
  TODO: This section is just a placeholder for the theme pages, as the template schema requires at least one section
{% endcomment %}

<script>
  async function removeFromCart() {
    const cart = {% if cart %}JSON.parse({{ cart | json }}){% else %}{}{% endif %};
    console.log(cart);
    const cartItem = cart.items[0];
    const cartItemId = cartItem.id;
    const productVariantId = cartItem.product_variant_id;
    const response = await youcanjs.cart.removeItem({ cartItemId, productVariantId });
    console.log(response);
  }
</script>

<yc-section style="display: grid; gap: 1.5em;">
  {% assign nav_links_string = '/, Home | /collections, Collections| /product-a, Product A' %}

  {% render 'breadcrumb', nav_links_string: nav_links_string %}

  <div>
    <h1>Youcan-js Core Playground</h1>
    <h2>Add to Cart</h2>
    {% assign product = section.settings.product %}

    {% if product %}
      <p>
        <span>Product ID:</span>
        <span>{{ product.id }}</span>
      </p>
      <p>
        <span>1st Variant ID:</span>
        <span>{{ product.variants[0].id }}</span>
      </p>
      <yc-product-form
        variant-id="{{ product.variants[0].id  }}"
        quantity="1"
      >
        <button
          data-buy-button
          name="add"
          class="primary"
        >
          <span>
            {{ 'general.add_to_cart' | t }}
          </span>
        </button>
      </yc-product-form>
      <button onclick="removeFromCart()">
        {% render 'yc-icon', name: 'trash' %}
      </button>
      {% comment %} Render product-form {% endcomment %}
    {% else %}
      <span>Please go to theme editor > default > select a product</span>
    {% endif %}
  </div>
</yc-section>

{% schema %}
{
  "label": "Default",
  "tag": "div",
  "settings": [
    {
      "id": "product",
      "type": "product",
      "label": "Product"
    }
  ]
}
{% endschema %}
