{{ 'featured-product.css' | asset_url | stylesheet_tag }}
{{ 'component-product-media.js' | asset_url | script_tag_deferred }}

{% if section.settings.item.images.size > 1 %}
  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
  {{ 'component-slider.js' | asset_url | script_tag_deferred }}
{% endif %}

{% assign current_main_image = 1 %}
{% assign product = section.settings.item %}
{% assign product_image = product.images[0] %}
{% assign default_variant = product.selected_or_first_available_variant %}

{% for image in product.images %}
  {% if default_variant.image == image %}
    {% assign current_main_image = forloop.index %}
  {% endif %}
{% endfor %}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
    --section-bg-color: {{ section.settings.background_color.hex }};
    --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};

    --media-main-image-border-radius: {{ settings.button_border_radius }}px;
    --media-gallery-border-radius: calc(var(--media-main-image-border-radius) * 0.66);
    --accordion-border-radius: {{ settings.button_border_radius }}px;
  "
>
  <yc-product class="single-product" product-id="{{ product.id }}" data-prevent-sticky>
    <yc-product-media role="region" aria-label="Product images">
      <div class="main-image">
        {% if product.images.size > 1 %}
          <div class="count">
            <span data-current-image>{{ current_main_image }}</span>
            <span>/</span>
            <span>{{ product.images.size }}</span>
          </div>
        {% endif %}
        {% if product_image %}
          <img
            src="{{ default_variant.image | default: product_image }}"
            alt="{{ product.name }}"
            height="100%"
            width="100%"
            data-main-image
          >
        {% else %}
          <div class="placeholder">
            {% render 'yc-placeholder', name: 'product' %}
          </div>
        {% endif %}
      </div>
      {% if product.images.size > 1 %}
        <div class="gallery" data-gallery>
          <yc-slider
            arrows
            responsive
            per-move="page"
            data-type="fit"
            style="
              --slider-gap: 8;
              --slider-speed: 600;
              --slider-height: auto;
              --slider-per-page: 5;

              --slider-max-items-lg: 4;
              --slider-max-items-md: 5;
            "
            aria-role="region"
            aria-roledescription="Carousel"
          >
            <div class="slider-area">
              <div class="slider-box" data-slider-box>
                <div class="slider-inner" data-slider>
                  {% for image in product.images %}
                    <yc-slider-item>
                      {% assign index = forloop.index %}
                      <label class="image" for="{{ index }}">
                        <input
                          type="radio"
                          name="selected_image"
                          id="{{ index }}"
                          value="{{ index }}"
                          hidden
                          aria-label="{{ product.name }} - {{ index }}"
                          {% if default_variant.image == image or index == 1 %}
                            checked
                          {% endif %}
                        >
                        <img src="{{ image }}" alt="{{ product.name }}" height="100%" width="100%">
                      </label>
                    </yc-slider-item>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% if product.images.size > 5 %}
              <yc-slider-arrows data-position="right">
                <div class="slider-arrows">
                  <button class="icon" data-arrow="left" aria-label="previous" disabled>
                    {% render 'yc-icon', name: 'arrow-left', size: 15 %}
                  </button>
                  <button class="icon" data-arrow="right" aria-label="next">
                    {% render 'yc-icon', name: 'arrow-right', size: 15 %}
                  </button>
                </div>
              </yc-slider-arrows>
            {% endif %}
          </yc-slider>
        </div>
      {% endif %}
    </yc-product-media>
    <yc-product-info role="complementary" aria-label="Product information">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {% when 'title' %}
            {% render 'product-title', title: product.name %}
          {% when 'price' %}
            {% assign product_price = default_variant.price | default: product.price %}
            {% assign product_compare_at_price = default_variant.compare_at_price | default: product.compare_at_price %}
            {% render 'product-price', price: product_price, compare_at_price: product_compare_at_price %}
          {% when 'description' %}
            {% render 'product-description', description: product.description %}
          {% when 'rating' %}
            {% render 'product-rating', rating: product.averageRating, show_avg_rating: true %}
          {% when 'inventory_status' %}
            {% if product.isTrackingInventory %}
              {% render 'product-inventory-status',
                count: default_variant.inventory,
                threshold: block.settings.threshold,
                show_count: block.settings.show_count
              %}
            {% endif %}
          {% when 'countdown_timer' %}
            {% render 'countdown-timer',
              year: block.settings.year,
              month: block.settings.month,
              day: block.settings.day,
              hour: block.settings.hour,
              minute: block.settings.minutes,
              second: block.settings.seconds,
              title: block.settings.title
            %}
          {% when 'accordion' %}
            {% render 'product-accordion', title: block.settings.title, content: block.settings.content %}
        {% endcase %}
      {% endfor %}
      {% render 'product-variants' %}
      {% render 'product-buy-button', product: product %}
    </yc-product-info>
  </yc-product>
</yc-section>

{% if product %}
  {% javascript %}
    if (!window.productsVariants["{{ product.id }}"]) {
      window.productsVariants["{{ product.id }}"] = JSON.parse({{ product.variants | json }});
    }
  {% endjavascript %}
{% endif %}

{% schema %}
{
  "templates": ["index"],
  "label": "Featured Product",
  "settings": [
    {
      "id": "item",
      "type": "product",
      "label": "Product"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "Background color",
      "default": "#FFFFFFFF"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 100
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "inventory_status",
      "label": "Inventory Status",
      "limit": 1,
      "settings": [
        {
          "id": "threshold",
          "type": "range",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 10,
          "unit": "",
          "label": "Low inventory threshold"
        },
        {
          "id": "show_count",
          "type": "checkbox",
          "default": true,
          "label": "Show inventory count"
        }
      ]
    },
    {
      "type": "title",
      "label": "Title",
      "limit": 1,
      "settings": []
    },
    {
      "type": "price",
      "label": "Price",
      "limit": 1,
      "settings": []
    },
    {
      "type": "rating",
      "label": "Rating",
      "limit": 1,
      "settings": []
    },
    {
      "type": "description",
      "label": "Description",
      "limit": 1,
      "settings": []
    },
    {
      "type": "countdown_timer",
      "label": "Countdown Timer",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "placeholder": "Time is running out"
        },
        {
          "id": "background_color",
          "type": "color",
          "label": "Background color",
          "default": "#ffffff"
        },
        {
          "id": "foreground_color",
          "type": "color",
          "label": "Text color",
          "default": "#535151"
        },
        {
          "type": "header",
          "content": "Countdown End Date"
        },
        {
          "type": "paragraph",
          "content": "Set the date to when the timer should count down to."
        },
        {
          "label": "Year",
          "id": "year",
          "type": "number",
          "default": 2025
        },
        {
          "label": "Month",
          "id": "month",
          "type": "number",
          "default": 12
        },
        {
          "label": "Day",
          "id": "day",
          "type": "number",
          "default": 31
        },
        {
          "label": "Hour",
          "id": "hour",
          "type": "number",
          "default": 0
        },
        {
          "label": "Minute",
          "id": "minute",
          "type": "number",
          "default": 0
        },
        {
          "label": "Second",
          "id": "second",
          "type": "number",
          "default": 0
        }
      ]
    },
    {
      "type": "accordion",
      "label": "Accordion",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "placeholder": "Title"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content",
          "placeholder": "Content"
        }
      ]
    }
  ]
}
{% endschema %}
