{{ 'layout-footer.css' | asset_url | stylesheet_tag }}

{% assign currentYear = default: 'now' | date: '%Y' %}
{% style %}
  footer {
    --footer-bg-color: {{ section.settings.footer_background_color.hex}};
    --footer-text-color: {{ section.settings.footer_text_color.red }}, {{ section.settings.footer_text_color.green }}, {{ section.settings.footer_text_color.blue }};
    --footer-logo-width: {{ section.settings.logo_width }}px;
  }
{% endstyle %}

{% assign has_social_links = false %}

{% for link in store.brand.social_links %}
  {% if link[1] != null %}
    {% assign has_social_links = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if section.settings.toggle_footer == true %}
  <footer>
    <div class="content">
      <div class="store-brand">
        <a href="/" aria-label="home">
          {% if section.settings.footer_logo.src %}
            <img
              src="{{ section.settings.footer_logo.src }}"
              alt="{{ store.name }}"
              height="auto"
              width="{{ section.settings.logo_width }}"
            >
          {% else %}
            {{ store.name }}
          {% endif %}
        </a>
        {% if section.settings.show_social_links %}
          {% if has_social_links != false %}
            <ul role="list" class="social-links">
              {% for link in store.brand.social_links %}
                {% assign platform = link[0] %}
                {% assign url = link[1] %}
                {% if url != null %}
                  <li>
                    <a class="yc-btn tertiary" target="_blank" href="{{ url }}" aria-label="{{ platform }}">
                      {% render 'social-icon', name: platform %}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
      </div>
      <div class="links-box">
        {%- for linklist in link-lists -%}
          {%- if linklist.links | count > 0  and linklist != main-link-list -%}
            <div class="navigation">
              <p>{{ linklist.title }}</p>
              <div class="links">
                {%- for item in linklist.links -%}
                  <a href="{{ item.url }}" class="yc-btn link">{{ item.title }}</a>
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
      {% if section.settings.show_social_links %}
        {% if has_social_links != false %}
          <ul role="list" class="social-links">
            {% for link in store.brand.social_links %}
              {% assign platform = link[0] %}
              {% assign url = link[1] %}
              {% if url != null %}
                <li>
                  <a class="yc-btn tertiary" target="_blank" href="{{ url }}" aria-label="{{ platform }}">
                    {% render 'social-icon', name: platform %}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    </div>
    <div class="copyright">
      {{ section.settings.copyright | default: 'footer.copyright.title' | t | replace: '%', currentYear }}
    </div>
  </footer>
{% endif %}

{% schema %}
{
  "label": "Footer",
  "limit": 1,
  "settings": [
    {
      "type": "paragraph",
      "content": "Footer links can be managed from your [menu settings](https:\/\/seller-area.youcan.shop\/admin\/menus)"
    },
    {
      "type": "paragraph",
      "content": "Social links can be managed from your [social media settings](https:\/\/seller-area.youcan.shop\/admin\/settings\/general#social-media)"
    },
    {
      "type": "checkbox",
      "id": "toggle_footer",
      "label": "Show footer",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_social_links",
      "label": "Social Links",
      "default": true
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 60,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Width",
      "default": 60
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "footer_background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "footer_text_color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "type": "richtext",
      "id": "copyright",
      "label": "Copyright text"
    }
  ]
}
{% endschema %}
