{{ 'page.css' | asset_url | stylesheet_tag }}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
    --section-bg-color: {{ section.settings.background_color.hex }};
    --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
  "
>
  {% if section.settings.show_title %}
    <yc-section-head data-position="{{ section.settings.position }}">
      <h1 class="h3">{{ page.name }}</h1>
    </yc-section-head>
  {% endif %}
  <div class="page" data-page-width="{{ section.settings.page_width }}">
    {% comment %}
      TODO: The `type` property doesn't exist yet, it will be handled in another PR to render the contact form appropriately
    {% endcomment %}
    {% if page.type == 'contact' %}
      {% comment %}
        TODO: Render contact form
      {% endcomment %}
    {% else %}
      {{ page.content }}
    {% endif %}
  </div>
</yc-section>

{%- schema -%}
{
  "label": "Page",
  "templates": ["page"],
  "limit": 1,
  "settings": [
    {
      "id": "show_title",
      "type": "checkbox",
      "label": "Show Title",
      "default": true
    },
    {
      "id": "position",
      "type": "select",
      "label": "Title Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "id": "page_width",
      "type": "select",
      "label": "Page Width",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "reading-mode",
          "label": "Reading mode"
        }
      ],
      "default": "full-width"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "Background color",
      "default": "#FFFFFFFF"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ]
}
{%- endschema -%}
