{{ 'products-by-collection.css' | asset_url | stylesheet_tag }}

{%- assign collection = section.settings.collection -%}
{%- assign number_of_products = section.settings.max_products -%}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
    --section-bg-color: {{ section.settings.background_color.hex }};
    --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};

    --product-columns: {{ section.settings.product_columns }};
    --product-card-background: var(--section-bg-color);
    --product-card-foreground: var(--section-text-color);
    --product-card-border: 1px solid rgba(var(--product-card-foreground), 0.1);
  "
>
  {% if section.settings.title or section.settings.description %}
    <yc-section-head data-position="{{ section.settings.position }}">
      {% if section.settings.title %}
        <h2>{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.description %}
        <p>{{ section.settings.description }}</p>
      {% endif %}
    </yc-section-head>
  {% endif %}
  <div class="products-by-collection">
    {% comment %}
      If type is slider: Render slider
    {% endcomment %}
    {% comment %}
      else: render grid
    {% endcomment %}
    <div class="grid">
      {%- paginate collection.products by number_of_products id category_id: collection.id %}
        {%- for item in items -%}
          {%- render 'product-card', product: item, quick_add: section.settings.quick_add_enabled -%}
        {%- endfor -%}
      {%- endpaginate %}
      {% if section.settings.show_view_more == true %}
        <div class="show-more">
          <a href="/collections/{{ collection.slug }}" class="yc-btn secondary">
            {{ 'general.show_more_button' | t }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</yc-section>

{% schema %}
{
  "label": "Products by Collection",
  "settings": [
    {
      "type": "category",
      "id": "collection",
      "label": "Collection"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Products by Collection"
    },
    {
      "id": "description",
      "type": "textarea",
      "label": "Description",
      "default": "List out products from a collection of your choosing"
    },
    {
      "id": "position",
      "type": "select",
      "label": "Header position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "Background color",
      "default": "#FFFFFFFF"
    },
    {
      "id": "max_products",
      "type": "range",
      "label": "Maximum products to show",
      "min": 2,
      "max": 25,
      "step": 1,
      "unit": "",
      "default": 4
    },
    {
      "id": "product_columns",
      "type": "range",
      "label": "Number of columns on desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "unit": "",
      "default": 3
    },
    {
      "id": "show_view_more",
      "type": "checkbox",
      "label": "Show link to collection",
      "default": true
    },
    {
      "id": "quick_add_enabled",
      "type": "checkbox",
      "label": "Enable quick add button",
      "default": false
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 100
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 100
    }
  ]
}
{% endschema %}
