{{ 'testimonial-card.css' | asset_url | stylesheet_tag }}
{{ 'component-testimonials.js' | asset_url | script_tag_deferred }}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
    --section-bg-color: {{ section.settings.background_color.hex }};
    --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};

    --items-columns: {{ section.settings.columns }};
  "
>
  {% if section.settings.title or section.settings.description %}
    <yc-section-head data-position="{{ section.settings.position }}">
      {% if section.settings.title %}
        <h2>{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.description %}
        <p>{{ section.settings.description }}</p>
      {% endif %}
    </yc-section-head>
  {% endif %}
  <yc-testimonials product-id="{{ section.settings.product.id }}">
    <ul class="items-grid" data-container>
      {% render 'testimonial-card' %}
      <div class="show-more" data-show-more hidden>
        <button
          class="icon"
          aria-label="{{ 'general.show_more' | t }}"
        >
          {{ 'general.show_more' | t }}
        </button>
      </div>
    </ul>
    {% render 'testimonial-skeleton' %}
    <div class="empty-section" data-empty hidden>
      {% assign title = 'testimonials.empty.title' | t %}
      {% render 'yc-empty', icon: 'testimonials', heading: title %}
    </div>
  </yc-testimonials>
</yc-section>

{%- schema -%}
{
  "templates": ["index"],
  "label": "Product Testimonials",
  "settings": [
    {
      "id": "product",
      "type": "product",
      "label": "Product"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "My title"
    },
    {
      "id": "description",
      "type": "textarea",
      "label": "Description",
      "default": "My subtitle"
    },
    {
      "id": "position",
      "type": "select",
      "label": "Header position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "Background color",
      "default": "#FFFFFFFF"
    },
    {
      "id": "columns",
      "type": "range",
      "label": "Number of columns on desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "unit": "",
      "default": 4
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ]
}
{%- endschema -%}
