{{ 'product-reviews.css' | asset_url | stylesheet_tag }}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
    --section-bg-color: {{ section.settings.background_color.hex }};
    --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
  "
>
  <div class="product-reviews">
    <div class="rating-area">
      <div class="total">
        <div class="visual">
          <h1 class="average">4.8</h1>
          <div class="count">
            <div class="stars">
              {% for star in (1..5) %}
                {% if star <= 4 %}
                  {% render 'yc-icon', name: 'star', size: 15, fill: 'currentColor' %}
                {% else %}
                  {% render 'yc-icon', name: 'star', size: 15 %}
                {% endif %}
              {% endfor %}
            </div>
            <span>25 reviews</span>
          </div>
        </div>
        <div class="graph">
          {% for bar in (1..5) %}
            <div class="bar">
              {% render 'yc-icon', name: 'star', size: 15, fill: 'currentColor' %}
              <span>{{ bar }}</span>
              <div class="process" style="--rating-count: {{ bar }}"></div>
              <span>{{ bar }}0%</span>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="filter">
        <label for="all" class="yc-btn icon">
          <input type="radio" name="rating-type" id="all" checked hidden>
          All
        </label>
        {% for type in (1..5) %}
          <label for="{{ type }}" class="yc-btn icon">
            {% render 'yc-icon', name: 'star', size: 15, fill: 'currentColor' %}
            <input type="radio" name="rating-type" id="{{ type }}" hidden>
            {{ type }}
          </label>
        {% endfor %}
      </div>
    </div>
    <div class="items-grid reviews-area">
      {% for item in (1..6) %}
        <div class="review-card">
          <div class="info">
            <div class="author">
              <p class="name">Kamal Alawi</p>
              <span class="date">2 weeks ago</span>
            </div>
            <div class="rate">
              {% for star in (1..5) %}
                {% if star <= 4 %}
                  {% render 'yc-icon', name: 'star', size: 15, fill: 'currentColor' %}
                {% else %}
                  {% render 'yc-icon', name: 'star', size: 15 %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="content">
            <p>
              Really cool design and the patches make it stand out. It’s a bit oversized, but that’s
              the vibe I wanted!
            </p>
            {% if item < 4 %}
              <yc-modal data-hidden="true">
                <div class="images">
                  {% for img in (1..6) %}
                    <button class="icon" data-image data-toggle>
                      <img
                        src="https://static.zara.net/assets/public/0dc2/096d/a65442ac8e65/1b701456e047/04416303700-e1/04416303700-e1.jpg?ts=1730641874520&w=530"
                        height="100%"
                        width="100%"
                        alt="product"
                      >
                    </button>
                  {% endfor %}
                  <label class="yc-btn icon">
                    <input type="checkbox" name="show-more" hidden>
                    +3
                  </label>
                </div>

                <div class="modal-container">
                  <div class="modal-box" data-modal>
                    <div class="image-preview">
                      <button class="icon" data-size="sm" data-toggle>
                        {% render 'yc-icon', name: 'x-mark' %}
                      </button>
                      <div class="preview-core">
                        <img
                          src="https://static.zara.net/assets/public/0dc2/096d/a65442ac8e65/1b701456e047/04416303700-e1/04416303700-e1.jpg?ts=1730641874520&w=530"
                          height="100%"
                          width="100%"
                          alt="product"
                        >
                      </div>
                    </div>
                  </div>
                  <div class="modal-overlay overlay" data-toggle></div>
                </div>
              </yc-modal>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</yc-section>

{% schema %}
{
  "label": "Product Reviews",
  "settings": [
    {
      "id": "text_color",
      "type": "color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "Background color",
      "default": "#FFFFFFFF"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ]
}
{% endschema %}
