{{ 'product-reviews.css' | asset_url | stylesheet_tag }}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
    --section-bg-color: {{ section.settings.background_color.hex }};
    --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
  "
>
  <div class="product-reviews">Reviews</div>
</yc-section>

{% schema %}
{
  "label": "Product reviews",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "My title"
    },
    {
      "id": "description",
      "type": "textarea",
      "label": "Description",
      "default": "My subtitle"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "Background color",
      "default": "#FFFFFFFF"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 100
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 100
    }
  ]
}
{% endschema %}
