{% if product.averageRating > 0 %}
  {{ 'product-reviews.css' | asset_url | stylesheet_tag }}
  {{ 'component-reviews.js' | asset_url | script_tag_deferred }}
  {{ 'component-write-review.js' | asset_url | script_tag_deferred }}

  <yc-section
    style="
      --section-space-top: {{ section.settings.space_top }}px;
      --section-space-bottom: {{ section.settings.space_bottom }}px;
      --section-bg-color: {{ section.settings.background_color.hex }};
      --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
    "
  >
    <yc-reviews product-id="{{ product.id }}">
      <div class="rating-area">
        <div class="total">
          <div class="visual">
            <h1 class="average">{{ product.averageRating }}</h1>
            <div class="count">
              <div class="stars">
                {% for star in (1..5) %}
                  {% if star <= 4 %}
                    {% render 'yc-icon', name: 'star', size: 15, fill: 'currentColor' %}
                  {% else %}
                    {% render 'yc-icon', name: 'star', size: 15 %}
                  {% endif %}
                {% endfor %}
              </div>
              <p class="nbr"><span data-total>-</span> {{ 'product.ratings' | t }}</p>
            </div>
          </div>
          <div class="graph" data-graph>
            {% for bar in (1..5) %}
              <div class="bar">
                {% render 'yc-icon', name: 'star', size: 15, fill: 'currentColor' %}
                <span>{{ bar }}</span>
                <div class="process"></div>
                <span data-percentage>0%</span>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="filter" data-filters>
          <label for="all" class="yc-btn icon">
            <input type="radio" name="rating-type" id="all" checked hidden>
            {{ 'general.all' | t }}
          </label>
          {% for type in (1..5) %}
            <label for="{{ type }}" class="yc-btn icon">
              {% render 'yc-icon', name: 'star', size: 15, fill: 'currentColor' %}
              <input type="radio" name="rating-type" id="{{ type }}" hidden>
              {{ type }}
            </label>
          {% endfor %}
        </div>
      </div>
      <ul class="items-grid reviews-area" data-container>
        {% render 'review-card' %}
      </ul>
      {% render 'review-skeleton' %}
    </yc-reviews>
  </yc-section>
{% endif %}

{% schema %}
{
  "label": "Product Reviews",
  "settings": [
    {
      "id": "text_color",
      "type": "color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "Background color",
      "default": "#FFFFFFFF"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ]
}
{% endschema %}
