{{ 'product-reviews.css' | asset_url | stylesheet_tag }}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
    --section-bg-color: {{ section.settings.background_color.hex }};
    --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
  "
>
  <div class="product-reviews">
    <div class="rating-area">
      <div class="total">
        <h1 class="average">4.8</h1>
        <div class="count">
          <div class="stars">
            {% for star in (1..5) %}
              {% if star <= 4 %}
                {% render 'yc-icon', name: 'star', size: 15, fill: 'currentColor' %}
              {% else %}
                {% render 'yc-icon', name: 'star', size: 15 %}
              {% endif %}
            {% endfor %}
          </div>
          <span>134 reviews</span>
        </div>
        <div class="graph">
          {% for bar in (1..5) %}
            <div class="bar">
              {% render 'yc-icon', name: 'star', size: 15, fill: 'currentColor' %}
              <span>{{ bar }}</span>
              <div class="process" style="--rating-count: {{ bar }}"></div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="filter">
        <label for="all" class="yc-btn icon">
          <input type="radio" name="rating-type" id="all" checked hidden>
          All
        </label>
        {% for type in (1..5) %}
          <label for="{{ type }}" class="yc-btn icon">
            {% render 'yc-icon', name: 'star', size: 15, fill: 'currentColor' %}
            <input type="radio" name="rating-type" id="{{ type }}" hidden>
            {{ type }}
          </label>
        {% endfor %}
      </div>
    </div>
    <div class="reviews-area"></div>
  </div>
</yc-section>

{% schema %}
{
  "label": "Product reviews",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "My title"
    },
    {
      "id": "description",
      "type": "textarea",
      "label": "Description",
      "default": "My subtitle"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "Background color",
      "default": "#FFFFFFFF"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 100
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 100
    }
  ]
}
{% endschema %}
