{{ 'product-card.css' | asset_url | stylesheet_tag }}
{{ 'collection-card.css' | asset_url | stylesheet_tag }}
{{ 'product-listing.css' | asset_url | stylesheet_tag }}
{{ 'component-select.css' | asset_url | stylesheet_tag }}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
    --section-bg-color: {{ section.settings.background_color.hex }};
    --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};

    --items-columns: {{ section.settings.product_columns }};
  "
>
  {%- paginate search.products by 24 cod %}
    <div class="product-listing">
      <div class="filter-area">
        <h1 class="title h3">
          {% if terms == null or terms == '' %}
            {{ 'search.all_products' | t }}
            <span class="h6" data-count>[{{ total }}]</span>
          {% else %}
            <span class="eyebrow">{{ 'search.heading' | t }}</span>
            <div class="content">
              "{{ terms | escape }}"
              <span class="h6" data-count>[{{ total }}]</span>
            </div>
          {% endif %}
        </h1>
        {% if items.size > 0 %}
          <div class="sort-box">
            <span class="label"> {{ 'general.sort.label' | t }}: </span>
            {% render 'yc-sort', url: previous_page %}
          </div>
        {% endif %}
      </div>
      <div class="products-area">
        {% if items.size > 0 %}
          <ul class="items-grid">
            {% for product in items %}
              <li>
                {%- render 'product-card', product: product -%}
              </li>
            {% endfor %}
          </ul>
          {% render 'yc-pagination',
            next_page_url: next_page,
            previous_page_url: previous_page,
            current: current,
            last: last,
            terms: terms
          %}
        {% else %}
          <div class="empty-page">
            {% assign title = 'single-collection.empty.title' | t %}
            {% assign description = 'single-collection.empty.description' | t %}

            {% render 'yc-empty', icon: 'products', heading: title, subheading: description %}
          </div>
        {% endif %}
      </div>
    </div>

    {% comment %} TODO: Add pagination {% endcomment %}
  {%- endpaginate %}
</yc-section>

{%- schema -%}
{
  "label": "Search",
  "templates": ["search"],
  "limit": 1,
  "settings": [
    {
      "id": "text_color",
      "type": "color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "Background color",
      "default": "#FFFFFFFF"
    },
    {
      "id": "product_columns",
      "type": "range",
      "label": "Number of columns on desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "unit": "",
      "default": 4
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ]
}
{%- endschema -%}
