{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.js' | asset_url | script_tag_deferred }}

{% assign slideshow = section.settings %}

<yc-section
  {% if slideshow.type == 'full' %}
    data-full
  {% endif %}
  style="
    --section-space-top: {{ slideshow.space_top }}px;
    --section-space-bottom: {{ slideshow.space_bottom }}px;
  "
>
  <yc-slider
    {% if slideshow.autoplay %}
      autoplay
    {% endif %}
    {% if slideshow.show_arrows %}
      arrows
    {% endif %}
    {% if slideshow.type != 'full' %}
      data-radius="true"
    {% endif %}
    interval="{{ slideshow.duration | times: 1000 }}"
    data-type="full"
    style="
      --slider-gap: 0;
      --slider-speed: 600;
      --slider-per-page: 1;
      --slider-height: {{ slideshow.height }};

      --section-content-color: {{ slideshow.content_color.hex }};
      --section-button-background: {{ slideshow.button_background.hex }};
      --section-button-foreground: {{ slideshow.button_foreground.hex }};
      --section-overlay-background: {{ slideshow.overlay_background.red }}, {{ slideshow.overlay_background.green }}, {{ slideshow.overlay_background.blue }};
      --section-arrows-foreground: {{ slideshow.arrows_foreground.hex }};
      --section-arrows-background: {{ slideshow.arrows_background.red }}, {{ slideshow.arrows_background.green }}, {{ slideshow.arrows_background.blue }};
    "
  >
    <div class="slider-area">
      <div class="slider-box" data-slider-box>
        <div class="slider-inner" data-slider>
          {% for block in section.blocks %}
            {% render 'slideshow-slide' %}
          {% endfor %}
        </div>
      </div>
    </div>

    {% if section.blocks.size > 1 %}
      <yc-slider-arrows data-position="{{ slideshow.arrow_position }}">
        <div class="slider-arrows">
          <button class="icon" data-arrow="left" aria-label="previous">
            {% render 'yc-icon', name: 'arrow-left', size: 15 %}
          </button>
          <button class="icon" data-arrow="right" aria-label="next">
            {% render 'yc-icon', name: 'arrow-right', size: 15 %}
          </button>
        </div>
      </yc-slider-arrows>
    {% endif %}
  </yc-slider>
</yc-section>

{%- schema -%}
{
  "label": "Slideshow",
  "templates": ["index", "page"],
  "settings": [
    {
      "type": "select",
      "id": "height",
      "label": "Height",
      "options": [
        {
          "value": "420",
          "label": "Small"
        },
        {
          "value": "560",
          "label": "Medium"
        },
        {
          "value": "720",
          "label": "Large"
        }
      ],
      "default": "560"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show arrows",
      "default": true
    },
    {
      "type": "range",
      "id": "duration",
      "min": 3,
      "max": 9,
      "step": 1,
      "unit": "s",
      "label": "Change slides every",
      "default": 3
    },
    {
      "type": "select",
      "id": "type",
      "label": "Type",
      "options": [
        {
          "value": "full",
          "label": "Full"
        },
        {
          "value": "fit",
          "label": "Fit"
        }
      ],
      "default": "full"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 0
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "overlay_background",
      "label": "Overlay color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "button_foreground",
      "label": "Button text",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Arrows"
    },
    {
      "type": "select",
      "id": "arrow_position",
      "label": "Arrow position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "arrows_foreground",
      "label": "Arrows color",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "arrows_background",
      "label": "Arrows background",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "label": "Slide",
      "limit": 4,
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading",
          "default": "Image Slide"
        },
        {
          "id": "subheading",
          "type": "text",
          "label": "Subheading",
          "default": "An image is worth a thousand words"
        },
        {
          "id": "button_text",
          "type": "text",
          "label": "Button text",
          "default": ""
        },
        {
          "id": "button_url",
          "type": "text",
          "label": "Button link",
          "default": ""
        }
      ]
    }
  ]
}
{%- endschema -%}
