{{ 'thank-you.css' | asset_url | stylesheet_tag }}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
    --section-bg-color: {{ section.settings.background_color.hex }};
    --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
  "
>
  <yc-section-head data-position="center">
    <div class="message">
      {% render 'yc-icon', name: 'check-circle', size: 80 %}
      <h1>{{ 'order.title' | t }}</h1>
      <p>{{ 'order.description' | t }}</p>
    </div>
  </yc-section-head>

  <div class="order">
    <div class="title">
      <h2 class="h3">Order summary</h2>
    </div>
    <div class="payment">
      <div class="status">
        <span class="label">Status:</span>
        <span class="value">
          Unpaid
          {% comment %} TODO: Payment status snippet {% endcomment %}
        </span>
      </div>
      <div class="method">
        <span class="label">Payment Method:</span>
        <span class="value">
          Cash on Delivery
          {% comment %}
            TODO: Render payment method snippet by gateway number
          {% endcomment %}
        </span>
      </div>
    </div>
    <div class="items">
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>
                <img src="" alt="" width="64" height="64">
                <span>Fabulous T-Shirt</span>
              </div>
            </td>
            <td>$29.99</td>
            <td>2</td>
            <td>$59.98</td>
          </tr>
          <tr>
            <td>
              <div>
                <img src="" alt="" width="64" height="64">
                <span>Spectacular Garment</span>
              </div>
            </td>
            <td>$89.99</td>
            <td>14</td>
            <td>$89.99</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td colspan="2">Subtotal</td>
            <td>$149.97</td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">Coupon</td>
            <td>-$15.00</td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">Shipping</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">Total price</td>
            <td>$139.97</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="summary">summary</div>
  </div>
  {% comment %}
    {% if section.settings.title or section.settings.description %}
      <yc-section-head data-position="{{ section.settings.position }}">
        {% if section.settings.title %}
          <h2>{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.description %}
          <p>{{ section.settings.description }}</p>
        {% endif %}
      </yc-section-head>
    {% endif %}
  {% endcomment %}

  {% comment %}
    - Message
      icon
      title
      desc
      continue shopping button
    - Summary
      status
      payment method
      - table
        products
  {% endcomment %}
</yc-section>

{%- schema -%}
{
  "label": "Thank you",
  "templates": ["thank-you"],
  "limit": 1,
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "My title"
    },
    {
      "id": "description",
      "type": "textarea",
      "label": "Description",
      "default": "My subtitle"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "Background color",
      "default": "#FFFFFFFF"
    },
    {
      "id": "position",
      "type": "select",
      "label": "Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ]
}
{%- endschema -%}
