{{ 'thank-you.css' | asset_url | stylesheet_tag }}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
    --section-bg-color: {{ section.settings.background_color.hex }};
    --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
  "
>
  <yc-section-head data-position="center">
    <div class="message">
      {% render 'yc-icon', name: 'check-circle', size: 80 %}
      <h1 class="h3">{{ 'order.title' | t }}</h1>
      <p>{{ 'order.description' | t }}</p>
    </div>
  </yc-section-head>

  <div class="order">
    <div class="title">
      <h2 class="h5">{{ 'order.order_summary' | t }}</h2>
    </div>
    <div class="payment">
      <div class="status">
        <span class="label">{{ 'order.status.label' | t }}:</span>
        <span class="value">
          {% render 'payment-status', status: 'unpaid' %}
        </span>
      </div>
      <div class="method">
        <span class="label">{{ 'order.payment_method.label' | t }}:</span>
        <span class="value">
          {% render 'payment-gateway', gatewayType: 6 %}
        </span>
      </div>
    </div>
    <ul class="items">
      {% for item in (1..5) %}
        <li>
          {% render 'order-summary-item' %}
        </li>
      {% endfor %}
    </ul>
    <div class="subtotal">
      <div class="summary-item">
        <div class="label">{{ 'order.subtotal' | t }}</div>
        <div class="value">{{ 0 | money }}</div>
      </div>
    </div>
    <div class="summary">
      <div class="summary-item">
        <div class="label">{{ 'order.coupon_code' | t }}</div>
        <div class="value coupon-code">MAR25</div>
      </div>
      <div class="summary-item">
        <div class="label">{{ 'order.discount_amount' | t }}</div>
        <div class="value">{{ 40 | money }}</div>
      </div>
      <div class="summary-item">
        <div class="label">{{ 'order.shipping' | t }}</div>
        <div class="value">{{ 45 | money }}</div>
      </div>
    </div>
    <div class="grand-total">
      <div class="summary-item">
        <div class="label">{{ 'order.total' | t }}</div>
        <div class="value">{{ 0 | money }}</div>
      </div>
      <a href="/" class="yc-btn primary">{{ 'order.action' | t }}</a>
    </div>
  </div>
  {% comment %}
    {% if section.settings.title or section.settings.description %}
      <yc-section-head data-position="{{ section.settings.position }}">
        {% if section.settings.title %}
          <h2>{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.description %}
          <p>{{ section.settings.description }}</p>
        {% endif %}
      </yc-section-head>
    {% endif %}
  {% endcomment %}

  {% comment %}
    - Message
      icon
      title
      desc
      continue shopping button
    - Summary
      status
      payment method
      - table
        products
  {% endcomment %}
</yc-section>

{%- schema -%}
{
  "label": "Thank you",
  "templates": ["thank-you"],
  "limit": 1,
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "My title"
    },
    {
      "id": "description",
      "type": "textarea",
      "label": "Description",
      "default": "My subtitle"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "Background color",
      "default": "#FFFFFFFF"
    },
    {
      "id": "position",
      "type": "select",
      "label": "Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ]
}
{%- endschema -%}
