{{ 'upsell.css' | asset_url | stylesheet_tag }}
{{ 'component-upsell.js' | asset_url | script_tag_deferred }}

{% capture product_offers %}
{
  {% for product in upsell.products %}
    "product_offers[{{ product.id }}]": "{{ product.variants.0.id }}"
    {% unless forloop.last %},{% endunless %}
  {% endfor %}
}
{% endcapture %}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
    --section-bg-color: {{ section.settings.background_color.hex }};
    --section-text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};

    --yes-btn-background: {{ upsell.actions.btn_yes.bg_color }};
    --yes-btn-foreground: {{ upsell.actions.btn_yes.font_color }};

    --no-btn-background: {{ upsell.actions.btn_no.bg_color }};
    --no-btn-foreground: {{ upsell.actions.btn_no.font_color }};
  "
>
  <div class="upsell">
    <div class="description">
      {{ upsell.description }}
    </div>
    <yc-upsell
      id="{{ upsell.id }}"
      order-id="{{ order.id }}"
      product-offers="{{ product_offers | strip_newlines | strip | escape }}"
    >
      <span class="title">Do you accept this offer?</span>
      <button
        data-upsell
        name="no"
        class="yc-btn"
        data-button-size="{{ upsell.actions.btn_no.size }}"
        data-font-size="{{ upsell.actions.btn_no.font_size }}"
      >
        {{ upsell.actions.btn_no.title }}
      </button>
      <button
        data-upsell
        name="yes"
        data-button-size="{{ upsell.actions.btn_yes.size }}"
        data-font-size="{{ upsell.actions.btn_yes.font_size }}"
      >
        {{- upsell.actions.btn_yes.title -}}
      </button>
    </yc-upsell>
    <div class="footer">
      {{ upsell.footer }}
    </div>
  </div>
</yc-section>

{%- schema -%}
{
  "label": "Upsell",
  "templates": ["upsell"],
  "limit": 1,
  "settings": [
    {
      "id": "text_color",
      "type": "color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "Background color",
      "default": "#FFFFFFFF"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ]
}
{%- endschema -%}
