{% unless section.settings.homepage_only and template.name != 'index' %}
  {% if section.blocks.size > 0 %}
    {{ 'section.announcement-bar.css' | asset_url | stylesheet_tag }}

    <div
      ui-section="announcement-bar"
      role="banner"
      style="
        --bg-color: {{ section.settings.bg_color.hex }};
        --fg-color: {{ section.settings.fg_color.hex }};
      "
    >
      <ui-marquee
        {% if section.settings.pause_on_hover %}
          data-pause-on-hover
        {% endif %}
        speed="{{ section.settings.speed }}"
      >
        <div ui-marquee="track">
          <ul ui-marquee="cloud">
            {% for item in section.blocks %}
              <li ui-marquee="item" {{ item.youcan_attributes }}>
                <span>{{ item.settings.heading }}:</span>
                {% if item.settings.link %}
                  <a
                    ui-slot="link-button"
                    data-size="md"
                    data-underline="true"
                    href="{{ item.settings.link }}"
                  >
                    {{ item.settings.text }}
                  </a>
                {% else %}
                  <span>
                    {{ item.settings.text }}
                  </span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </ui-marquee>
    </div>
  {% endif %}
{% endunless %}

{% schema %}
{
  "label": "t:sections.announcement_bar.label",
  "tag": "header",
  "limit": 1,
  "max_blocks": 10,
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "t:common.colors.bg_color",
      "default": "#E14A43"
    },
    {
      "type": "color",
      "id": "fg_color",
      "label": "t:common.colors.fg_color",
      "default": "#FAFAFA"
    },
    {
      "type": "header",
      "content": "t:common.headers.general"
    },
    {
      "type": "checkbox",
      "id": "homepage_only",
      "label": "t:sections.announcement_bar.homepage_only",
      "default": false
    },
    {
      "type": "header",
      "content": "t:common.headers.motion"
    },
    {
      "type": "select",
      "id": "speed",
      "label": "t:sections.announcement_bar.speed.label",
      "options": [
        {
          "value": "20",
          "label": "t:sections.announcement_bar.speed.slow"
        },
        {
          "value": "60",
          "label": "t:sections.announcement_bar.speed.normal"
        },
        {
          "value": "80",
          "label": "t:sections.announcement_bar.speed.fast"
        }
      ],
      "default": "60"
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "label": "t:sections.announcement_bar.pause_on_hover",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "announcement_item",
      "label": "t:sections.announcement_bar.blocks.announcement.label",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.announcement_bar.blocks.announcement.heading",
          "default": ""
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "t:sections.announcement_bar.blocks.announcement.text",
          "default": ""
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement_bar.blocks.announcement.link",
          "default": ""
        }
      ]
    }
  ]
}
{% endschema %}
