{{ 'section.cart.css' | asset_url | stylesheet_tag }}

<style>
  #youcan-section--cart {
    --bg-color: {{ section.settings.bg_color.hex }};
    --fg-color: {{ section.settings.fg_color.hex }};
    --top-spacing: {{ section.settings.top_spacing }}px;
    --bottom-spacing: {{ section.settings.bottom_spacing }}px;
  }
</style>

<div ui-slot="container">
  <div
    ui-section="cart"
    style="
      --bg-color: {{ section.settings.bg_color.hex }};
      --fg-color: {{ section.settings.fg_color.hex }};
      --top-spacing: {{ section.settings.top_spacing }}px;
      --bottom-spacing: {{ section.settings.bottom_spacing }}px;
    "
  >
    {% capture breadcrumb_items %}
      {{ 'navigation.home' | t }},/|
      {{ 'cart.title' | t }}
    {% endcapture %}

    {% render 'misc.breadcrumb', items: breadcrumb_items %}

    <div ui-slot="head" data-align="start">
      <h1 class="heading">{{ 'cart.title' | t }}</h1>
    </div>
    <div class="core-area">
      <template ui-cart-item>
        {% render 'core.cart-item', product: product %}
      </template>
      <ui-cart-items
        {% unless cart.items.size > 0 %}
          hidden
        {% endunless %}
      >
        <table>
          <thead>
            <tr>
              <th>{{ 'cart.page.table.product' | t }}</th>
              <th>{{ 'cart.page.table.quantity' | t }}</th>
              <th>{{ 'cart.page.table.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for product in cart.items %}
              {% render 'core.cart-item', product: product %}
            {% endfor %}
          </tbody>
        </table>
      </ui-cart-items>
      <ui-summary-box
        class="summary"
        {% unless cart.items.size > 0 %}
          hidden
        {% endunless %}
      >
        {% if section.settings.show_coupon %}
          <div ui-slot="accordion">
            <form ui-slot="accordion-item" ui-summary-box="coupon-form">
              <label ui-slot="accordion-trigger">
                {% render 'misc.icon', name: 'hgi-coupon-01', size: 24 %}
                {{ 'cart.page.summary.coupon' | t }}
                <input type="checkbox" name="my-accordion" checked>
              </label>
              <div ui-slot="accordion-content" role="region">
                <div class="coupon">
                  <div
                    ui-slot="input-wrapper"
                    class="input"
                  >
                    <input
                      ui-slot="input"
                      data-size="md"
                      type="text"
                      placeholder="{{ 'cart.page.coupon.placeholder' | t }}"
                      name="coupon_code"
                      data-coupon="coupon-input"
                    >
                    <button
                      type="submit"
                      ui-slot="button"
                      data-variant="ghost"
                      data-size="lg"
                      data-coupon="coupon-button"
                    >
                      {{ 'cart.page.coupon.apply' | t }}
                    </button>
                  </div>
                  <div class="output">
                    <div class="info">
                      <div
                        ui-slot="status-badge"
                        ui-summary-box="coupon-code"
                        {% unless cart.coupon != null %}
                          hidden
                        {% endunless %}
                      >
                        {{ cart.coupon.code }}
                      </div>
                    </div>
                    <button
                      type="button"
                      ui-slot="button"
                      data-variant="neutral"
                      data-size="sm"
                      ui-summary-box="remove-coupon"
                    >
                      {% render 'misc.icon', name: 'hgi-delete-02' %}
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        {% endif %}
        <div class="details">
          <span class="label">{{ 'cart.drawer.total' | t }}</span>
          <span class="value" ui-summary-box="subtotal">{{ cart.discounted_sub_total | default: 0 | money }}</span>
          <hr ui-slot="divider" data-variant="line">
          <span class="description">{{ 'cart.drawer.note' | t }}</span>
          <a href="{{ cart.cart_submit_url }}" ui-slot="button" data-variant="primary" data-mode="filled" data-size="lg" id="checkout-button">
            <span ui-slot="button-front">
              {% render 'misc.icon', name: settings.cart_icon %}
              {{ 'cart.drawer.actions.checkout' | t }}
            </span>
          </a>
        </div>
      </ui-summary-box>

      {% assign empty_content = 'cart.empty.title' | t %}
      {% assign continue_shopping = 'order.action' | t %}
      {% if cart.items.size > 0 %}
        {% render 'misc.empty', heading: empty_content, action_label: continue_shopping, action_url: '/', hidden: true %}
      {% else %}
        {% render 'misc.empty', heading: empty_content, action_label: continue_shopping, action_url: '/' %}
      {% endif %}
    </div>
  </div>
</div>

{% if cart %}
  {% javascript %}
    document.addEventListener('DOMContentLoaded', function () {
      const checkoutButton = document.querySelector('#checkout-button');

      if (!checkoutButton) return;

      const cart = JSON.parse({{ cart | json }});

      let updatedCart = cart;

      subscribe(PUB_SUB_EVENTS.cartUpdate, function (payload) {
        updatedCart = payload.cartData;
      });

      checkoutButton.addEventListener('click', function () {
        window.Dotshop.pixels.publish('initiate-checkout', updatedCart);
      });
    });
  {% endjavascript %}
{% endif %}

{% schema %}
{
  "label": "t:sections.cart.label",
  "templates": ["cart"],
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "t:common.colors.bg_color",
      "default": "#fef7ee"
    },
    {
      "type": "color",
      "id": "fg_color",
      "label": "t:common.colors.fg_color",
      "default": "#0E0E0E"
    },
    {
      "type": "header",
      "content": "t:common.headers.layout"
    },
    {
      "type": "checkbox",
      "id": "show_coupon",
      "label": "t:sections.cart.show_coupon",
      "default": true
    },
    {
      "type": "header",
      "content": "t:common.headers.spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "label": "t:common.spacing.top_spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "label": "t:common.spacing.bottom_spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 40
    }
  ]
}
{% endschema %}
