{{ 'section.collections.css' | asset_url | stylesheet_tag }}

<ui-carousel
  ui-section="collections"
  style="
    --bg-color: {{ section.settings.bg_color.hex }};
    --fg-color: {{ section.settings.fg_color.hex }};
    --nbr-columns-desktop: {{ section.settings.nbr_columns_desktop }};
    --nbr-columns-mobile: {{ section.settings.nbr_columns_mobile }};
    --top-spacing: {{ section.settings.top_spacing }}px;
    --bottom-spacing: {{ section.settings.bottom_spacing }}px;
  "
  {% if section.settings.override_global_colors %}
    data-scoped-color
    data-intensity="{{ section.settings.color_intensity }}"
  {% endif %}
>
  <div class="content-area">
    <div ui-slot="head">
      <h1 class="heading">{{ section.settings.heading }}</h1>
      <p class="description">{{ section.settings.description }}</p>
    </div>
    <a
      ui-slot="link-button"
      data-size="md"
      data-underline="true"
      href="/collections"
    >
      {{ section.settings.button_label }}
    </a>
  </div>
  <ul
    class="items-area"
    ui-carousel="wrapper"
    ui-slot="carousel"
    aria-orientation="vertical"
    style="--items-text-alignment: {{ section.settings.text_alignment }};"
  >
    {% for collection in section.blocks %}
      {% render 'block.collection' %}
    {% endfor %}
  </ul>
  {% if section.blocks.size > 1 %}
    <div class="controls">
      <button
        ui-carousel="arrow-previous"
        ui-slot="button"
        data-variant="primary"
        data-mode="stroke"
        data-size="lg"
        data-as-icon
        data-flip-icon-in-rtl
        aria-label="Previous"
      >
        {% render 'misc.icon', name: 'hgi-arrow-left-01' %}
      </button>
      <button
        ui-carousel="arrow-next"
        ui-slot="button"
        data-variant="primary"
        data-mode="stroke"
        data-size="lg"
        data-as-icon
        data-flip-icon-in-rtl
        aria-label="Next"
      >
        {% render 'misc.icon', name: 'hgi-arrow-right-01' %}
      </button>
    </div>
  {% endif %}
</ui-carousel>

{% schema %}
{
  "label": "t:sections.collections.label",
  "templates": ["index"],
  "limit": 3,
  "max_blocks": 10,
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "t:common.colors.bg_color",
      "default": "#fef7ee"
    },
    {
      "type": "color",
      "id": "fg_color",
      "label": "t:common.colors.fg_color",
      "default": "#0E0E0E"
    },
    {
      "type": "header",
      "content": "t:common.headers.header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.header.heading",
      "default": "t:sections.collections.default.heading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:common.header.description",
      "default": ""
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:common.button.label",
      "default": "t:sections.collections.default.button_label"
    },
    {
      "type": "header",
      "content": "t:common.headers.layout"
    },
    {
      "type": "range",
      "id": "nbr_columns_desktop",
      "label": "t:common.globals.number_per_column",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 5
    },
    {
      "type": "select",
      "id": "nbr_columns_mobile",
      "label": "t:common.globals.number_per_column_mobile",
      "options": [
        { "label": "t:common.layout.column.one", "value": "1" },
        { "label": "t:common.layout.column.two", "value": "2" }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "t:theme.collection_cards.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:common.globals.text_alignment",
      "options": [
        { "label": "t:common.layout.alignment.start", "value": "flex-start" },
        { "label": "t:common.layout.alignment.center", "value": "center" },
        { "label": "t:common.layout.alignment.end", "value": "flex-end" }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:common.slideshow.label"
    },
    {
      "type": "checkbox",
      "id": "enable_slideshow",
      "label": "t:common.slideshow.enable_slideshow",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "auto_play",
      "label": "t:common.slideshow.autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "change_every",
      "label": "t:common.slideshow.change_every",
      "min": 3,
      "max": 7,
      "step": 1,
      "unit": "s",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "t:common.slideshow.show_dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "t:common.slideshow.show_arrows",
      "default": true
    },
    {
      "type": "select",
      "id": "arrows_position",
      "label": "t:common.slideshow.desktop_arrows_position.label",
      "options": [
        { "label": "t:common.slideshow.desktop_arrows_position.options.centered", "value": "centered" },
        { "label": "t:common.slideshow.desktop_arrows_position.options.edges", "value": "edges" }
      ],
      "default": "edges"
    },
    {
      "type": "header",
      "content": "t:common.headers.spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "label": "t:common.spacing.top_spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "label": "t:common.spacing.bottom_spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "collection_item",
      "label": "t:common.globals.collection",
      "settings": [
        {
          "type": "category",
          "id": "collection",
          "label": "t:common.globals.collection"
        }
      ]
    }
  ]
}
{% endschema %}
