{{ 'section.logo-list.css' | asset_url | stylesheet_tag }}

<div
  ui-section="logo-list"
  role="banner"
  {% if section.settings.fullscreen %}
    data-fullscreen
  {% endif %}
  style="
    --bg-color: {{ section.settings.bg_color.hex }};

    --top-spacing: {{ section.settings.top_spacing }}px;
    --bottom-spacing: {{ section.settings.bottom_spacing }}px;
  "
>
  <ui-marquee speed="{{ section.settings.speed }}">
    <div ui-marquee="track">
      <ul ui-marquee="cloud">
        {% for item in section.blocks %}
          <li ui-marquee="item" {{ item.youcan_attributes }}>
            <div ui-block="logo">
              {% if item.settings.logo %}
                <img
                  src="{{ item.settings.logo.src }}"
                  alt="logo-{{ forloop.index }}"
                  height="100%"
                  width="100%"
                  loading="lazy"
                >
              {% else %}
                {% render 'misc.image-fallback', icon_size: 142 %}
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </ui-marquee>
</div>

{% schema %}
{
  "label": "t:sections.logo_list.label",
  "limit": 2,
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "t:common.colors.bg_color",
      "default": "#FEFEFE"
    },
    {
      "type": "header",
      "content": "t:common.headers.general"
    },
    {
      "type": "checkbox",
      "id": "fullscreen",
      "label": "t:sections.logo_list.fullscreen",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "grayscale",
      "label": "t:sections.logo_list.grayscale",
      "default": true
    },
    {
      "type": "header",
      "content": "t:common.headers.motion"
    },
    {
      "type": "checkbox",
      "id": "scrolling",
      "label": "t:sections.logo_list.scrolling",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "label": "t:sections.announcement_bar.pause_on_hover",
      "default": true,
      "visible_if": {
        "setting_id": "scrolling",
        "value": true
      }
    },
    {
      "type": "select",
      "id": "speed",
      "label": "t:sections.announcement_bar.speed.label",
      "options": [
        {
          "value": "20",
          "label": "t:sections.announcement_bar.speed.slow"
        },
        {
          "value": "60",
          "label": "t:sections.announcement_bar.speed.normal"
        },
        {
          "value": "80",
          "label": "t:sections.announcement_bar.speed.fast"
        }
      ],
      "default": "60",
      "visible_if": {
        "setting_id": "scrolling",
        "value": true
      }
    },
    {
      "type": "header",
      "content": "t:common.headers.spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "label": "t:common.spacing.top_spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 32
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "label": "t:common.spacing.bottom_spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "logo_item",
      "label": "t:sections.logo_list.blocks.logo.label",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:common.globals.image",
          "default": ""
        }
      ]
    }
  ]
}
{% endschema %}
