{{ 'section.scrolling-banner.css' | asset_url | stylesheet_tag }}

<div
  ui-section="scrolling-banner"
  role="banner"
  {% if section.settings.fullscreen %}
    data-fullscreen
  {% endif %}
  style="
    --bg-color: {{ section.settings.bg_color.hex }};
    --fg-color: {{ section.settings.fg_color.hex }};
    --nbr-columns-desktop: {{ section.settings.nbr_columns_desktop }};
    --top-spacing: {{ section.settings.top_spacing }}px;
    --bottom-spacing: {{ section.settings.bottom_spacing }}px;
  "
>
  <ui-marquee
    {% if section.settings.pause_on_hover %}
      data-pause-on-hover
    {% endif %}
    speed="{{ section.settings.speed }}"
  >
    <div ui-marquee="track">
      <ul ui-marquee="cloud">
        {% for item in section.blocks %}
          <li ui-marquee="item" {{ item.youcan_attributes }}>
            <div ui-block="text">
              {% if item.settings.image %}
                <img
                  src="{{ item.settings.image.src }}"
                  alt="image-{{ forloop.index }}"
                  height="100%"
                  width="100%"
                  loading="lazy"
                >
              {% endif %}
              <span>
                {{ item.settings.text }}
              </span>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </ui-marquee>
</div>

{% schema %}
{
  "label": "t:sections.scrolling_banner.label",
  "limit": 2,
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "t:common.colors.bg_color",
      "default": "#49AB6A"
    },
    {
      "type": "color",
      "id": "fg_color",
      "label": "t:common.colors.fg_color",
      "default": "#FEFEFE"
    },
    {
      "type": "header",
      "content": "t:common.headers.general"
    },
    {
      "type": "checkbox",
      "id": "fullscreen",
      "label": "t:common.marquee.fullscreen",
      "default": false
    },
    {
      "type": "header",
      "content": "t:common.headers.motion"
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "label": "t:common.marquee.pause_on_hover",
      "default": false
    },
    {
      "type": "select",
      "id": "speed",
      "label": "t:common.marquee.speed.label",
      "options": [
        {
          "value": "20",
          "label": "t:common.marquee.speed.slow"
        },
        {
          "value": "60",
          "label": "t:common.marquee.speed.normal"
        },
        {
          "value": "80",
          "label": "t:common.marquee.speed.fast"
        }
      ],
      "default": "60"
    },
    {
      "type": "header",
      "content": "t:common.headers.spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "label": "t:common.spacing.top_spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 32
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "label": "t:common.spacing.bottom_spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "text_item",
      "label": "t:sections.scrolling_banner.blocks.text.label",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.scrolling_banner.blocks.text.label",
          "default": ""
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.globals.image",
          "default": ""
        },
        {
          "type": "select",
          "id": "image_shape",
          "label": "t:sections.scrolling_banner.blocks.text.image_shape.label",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.scrolling_banner.blocks.text.image_shape.circle"
            },
            {
              "value": "square",
              "label": "t:sections.scrolling_banner.blocks.text.image_shape.square"
            },
            {
              "value": "pill",
              "label": "t:sections.scrolling_banner.blocks.text.image_shape.pill"
            }
          ],
          "default": "circle"
        }
      ]
    }
  ]
}
{% endschema %}
