{{ 'section.footer.css' | asset_url | stylesheet_tag }}

{% assign has_social_links = false %}

{% for link in store.brand.social_links %}
  {% if link[1] != null %}
    {% assign has_social_links = true %}
    {% break %}
  {% endif %}
{% endfor %}

<div
  ui-layout="footer"
  {% if section.settings.override_global_colors %}
    style="
      --brand-lightness: {{ section.settings.main_color.lightness | divided_by: 100 }};
      --brand-chroma: {{ section.settings.main_color.chroma }};
      --brand-hue: {{ section.settings.main_color.oklch_hue }};
    "
    data-scoped-color
    data-intensity="{{ section.settings.color_intensity }}"
  {% endif %}
  data-top-border="{{ section.settings.top_border }}"
  data-top-spacing="{{ section.settings.top_spacing }}"
  data-bottom-spacing="{{ section.settings.bottom_spacing }}"
>
  <div class="groups">
    {% for list in link-lists %}
      {% if list.links | count > 0  and list != main-link-list %}
        <div class="group">
          <h4 class="title">{{ list.title }}</h4>
          <ul class="links">
            {% for link in list.links %}
              <li class="link">
                <a ui-slot="link-button" data-variant="gray" data-size="md" href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
    {% if section.settings.show_social_links and has_social_links == true %}
      <div class="group">
        <h3 class="title">{{ 'footer.social_media.label' | t }}</h3>
        <ul class="links">
          {% for link in store.brand.social_links %}
            {% assign platform = link[0] %}
            {% assign url = link[1] %}

            {% if url != null %}
              <li class="link">
                <a ui-slot="link-button" data-variant="gray" data-size="md" href="{{ link.url }}">
                  {% case platform %}
                    {% when 'facebook' %}
                      {{ 'footer.social_media.facebook' | t }}
                    {% when 'twitter' %}
                      {{ 'footer.social_media.x' | t }}
                    {% when 'instagram' %}
                      {{ 'footer.social_media.instagram' | t }}
                    {% when 'tiktok' %}
                      {{ 'footer.social_media.tiktok' | t }}
                  {% endcase %}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="logo">
    {% if settings.logo_desktop.src or settings.logo_mobile.src %}
      <a href="/">
        <picture>
          {% if settings.logo_mobile.src %}
            <source srcset="{{ settings.logo_mobile.src }}" media="(max-width: 768px)">
          {% endif %}
          {% if settings.logo_desktop.src %}
            <source srcset="{{ settings.logo_desktop.src }}" media="(min-width: 769px)">
          {% endif %}
          <img
            src="{{ settings.logo_desktop.src | default: settings.logo_mobile.src }}"
            alt="{{ store.name }}"
            loading="eager"
            height="100%"
            loading="lazy"
            width="{{ settings.logo_desktop_width }}px"
            data-mobile-width="{{ settings.logo_mobile_width }}"
          >
        </picture>
      </a>
    {% else %}
      <a class="name" ui-slot="link-button" data-variant="primary" href="/">
        {{ store.name }}
      </a>
    {% endif %}

    {% assign copyright_fallback = 'footer.copyright' | t %}
    <span class="copyright">
      {{ section.settings.copyright_content | default: copyright_fallback }}
    </span>
  </div>
</div>
{% schema %}
{
  "label": "t:sections.footer.label",
  "tag": "footer",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.colors"
    },
    {
      "type": "checkbox",
      "id": "override_global_colors",
      "label": "t:common.colors.override_global_colors",
      "default": false
    },
    {
      "type": "color",
      "id": "main_color",
      "label": "t:common.colors.main_color",
      "default": "#121212"
    },
    {
      "type": "select",
      "id": "color_intensity",
      "label": "t:common.colors.color_intensity",
      "options": [
        { "label": "t:common.colors.options.as_solid_bg", "value": "as-solid-bg" },
        { "label": "t:common.colors.options.as_light_bg", "value": "as-light-bg" },
        { "label": "t:common.colors.options.as_foreground", "value": "as-foreground" }
      ],
      "default": "as-foreground"
    },
    {
      "type": "header",
      "content": "t:common.headers.social_media"
    },
    {
      "type": "checkbox",
      "id": "show_social_links",
      "label": "t:sections.footer.show_social_links",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "t:sections.footer.about_social_links"
    },
    {
      "type": "header",
      "content": "t:common.headers.general"
    },
    {
      "type": "text",
      "id": "copyright_content",
      "placeholder": "t:sections.footer.copyright.placeholder",
      "label": "t:sections.footer.copyright.label"
    },
    {
      "type": "checkbox",
      "id": "top_border",
      "label": "t:sections.footer.top_border",
      "default": true
    },
    {
      "type": "range",
      "id": "top_spacing",
      "label": "t:common.spacing.top_spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 32
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "label": "t:common.spacing.bottom_spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 32
    },
    {
      "type": "paragraph",
      "content": "t:sections.footer.about_menu_links"
    }
  ]
}
{% endschema %}
