{{ 'section.thankyou.css' | asset_url | stylesheet_tag }}

<div
  ui-section="thankyou"
  {% if section.settings.override_global_colors %}
    style="
      --brand-lightness: {{ section.settings.main_color.lightness | divided_by: 100 }};
      --brand-chroma: {{ section.settings.main_color.chroma }};
      --brand-hue: {{ section.settings.main_color.oklch_hue }};
    "
    data-scoped-color
    data-intensity="{{ section.settings.color_intensity }}"
  {% endif %}
  data-top-spacing="{{ section.settings.top_spacing }}"
  data-bottom-spacing="{{ section.settings.bottom_spacing }}"
>
  <div ui-slot="head" class="content-area">
    <h3 class="heading">{{ 'order.title' | t }}</h3>
    <p class="description">{{ 'order.description' | t }}</p>
  </div>
  <div class="order-summary-area">
    <div class="statuses">
      <div class="item">
        <span ui-slot="label">{{ 'order.status.label' | t }}</span>
        {% render 'const.payment-status', status: order.paymentStatusSlug %}
      </div>
      <div class="item">
        <span ui-slot="label">{{ 'order.payment_method.label' | t }}:</span>
        <span class="value">
          {% assign payment_gateway = order.gatewayType %}
          {% render 'const.payment-gateway', type: payment_gateway %}
        </span>
      </div>
    </div>
    <div class="products">
      {% for product in order.order_variants %}
        <div class="product">
          <div class="media">
            {% if product.image %}
              <img
                src="{{ product.image }}"
                alt="{{ product.name }}"
                height="100%"
                width="100%"
                loading="eager"
              >
            {% else %}
              {% render 'misc.image-fallback' %}
            {% endif %}
          </div>
          <div class="content">
            <a
              ui-slot="link-button"
              data-variant="black"
              data-size="md"
              class="title"
              href="{{ product.url }}"
            >
              {{ product.name }}
            </a>
            <span class="count">x{{ product.quantity }}</span>
          </div>
          <span class="price">{{ product.price | default: 0 | money }}</span>
        </div>
        {% unless forloop.last %}
          <hr ui-slot="divider" data-variant="line">
        {% endunless %}
      {% endfor %}
    </div>
    <div class="summary">
      <div class="item">
        <span ui-slot="label">{{ 'order.subtotal' | t }}</span>
        <span class="value">{{ order.sub_total | default: 0 | money }}</span>
      </div>
      {% if order.coupon != null %}
        <div class="item">
          <span ui-slot="label">{{ 'order.coupon_code' | t }}</span>
          <div class="value">{{ order.coupon.code }}</div>
        </div>
        <div class="item">
          <span ui-slot="label">{{ 'order.discount_amount' | t }}</span>
          <span class="value">
            {% render 'const.discount-value', coupon: order.coupon %}
          </span>
        </div>
      {% endif %}
      {% if order.vat != 0 %}
        <div class="item">
          <span ui-slot="label">{{ 'cart.page.summary.vat' | t }} ({{ order.vat | times: 100 | append: '%' }})</span>
          <span class="value">{{ order.total_tax_amount | default: 0 | money }}</span>
        </div>
      {% endif %}
      <div class="item">
        <span ui-slot="label">{{ 'order.shipping' | t }}</span>
        {% if order.shippingCost == 0 or order.shippingCost == null %}
          {% assign shipping_cost = 'order.free' | t %}
        {% else %}
          {% assign shipping_cost = order.shippingCost | default: 0 | money %}
        {% endif %}
        <span class="value">{{ shipping_cost }}</span>
      </div>
      <div class="item">
        <span ui-slot="label">{{ 'order.total' | t }}</span>
        <span class="value">{{ order.total | default: 0 | money }}</span>
      </div>
    </div>
    <a
      ui-slot="button"
      data-variant="primary"
      data-mode="stroke"
      data-size="lg"
      href="{{ routes.root_url |  default: "/" }}"
    >
      {{ 'order.action' | t }}
    </a>
  </div>
</div>

{% schema %}
{
  "label": "t:sections.thankyou.label",
  "templates": ["thankyou"],
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.colors"
    },
    {
      "type": "checkbox",
      "id": "override_global_colors",
      "label": "t:common.colors.override_global_colors",
      "default": false
    },
    {
      "type": "color",
      "id": "main_color",
      "label": "t:common.colors.main_color",
      "default": "#121212"
    },
    {
      "type": "select",
      "id": "color_intensity",
      "label": "t:common.colors.color_intensity",
      "options": [
        { "label": "t:common.colors.options.as_solid_bg", "value": "as-solid-bg" },
        { "label": "t:common.colors.options.as_light_bg", "value": "as-light-bg" },
        { "label": "t:common.colors.options.as_foreground", "value": "as-foreground" }
      ],
      "default": "as-foreground"
    },
    {
      "type": "header",
      "content": "t:common.headers.spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "label": "t:common.spacing.top_spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 64
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "label": "t:common.spacing.bottom_spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 64
    }
  ]
}
{% endschema %}
