{{ 'https://unpkg.com/libphonenumber-js@1.12.27/bundle/libphonenumber-min.js' | script_tag_deferred }}
{{ 'core.phone-validation.js' | asset_url | script_tag_deferred }}

<ui-phone-validation>
  <label ui-express-checkout="field">
    <input type="hidden" name="{{ field.name }}" ui-phone-validator="hidden-input">
    <span ui-slot="label">{{ field.display_name }}</span>
    <div ui-phone-validator="input-wrapper" dir="ltr">
      <div ui-phone-validator="countries" ui-slot="input" data-size="lg">
        <span ui-phone-validator="displayed-country-code"></span>
        <select
          name="phone_country_code"
          autocomplete="tel-country-code"
          ui-phone-validator="select-country-code"
        ></select>
      </div>
      <input
        type="{{ field.type }}"
        inputmode="tel"
        name="phone_number"
        placeholder="{{ field.placeholder }}"
        autocomplete="tel-national"
        data-size="lg"
        ui-phone-validator="number"
        ui-slot="input"
        {% if field.required %}
          required
        {% endif %}
      >
    </div>
    <div data-hidden="true" ui-phone-validator="error">
      {{ 'error_messages.invalid_phone_number' | t }}
    </div>
  </label>
</ui-phone-validation>
