{% comment %}
  Renders the cart item template (cart page)

  Accepts:
  - product: {Object} cart item info

  Usage:
  {% render 'misc-cart-item', product: {...} %}
{% endcomment %}

<tr>
  <td>
    <div class="product">
      <div class="image" ui-cart-item="image" data-image-ratio="{{ settings.product_image_ratio }}">
        <img
          src="{{ product.image }}"
          alt="{{ product.name }}"
          height="100%"
          width="100%"
          loading="lazy"
          {% if product.image contains '/store-front/images/product-default' %}
            hidden
          {% endif %}
        >
        {% if product.image contains '/store-front/images/product-default' %}
          {% render 'misc.image-fallback' %}
        {% else %}
          {% render 'misc.image-fallback', hidden: true %}
        {% endif %}
      </div>
      <div class="info">
        <a
          class="title"
          href="{{ product.url }}"
          ui-slot="link-button"
          data-size="md"
          ui-cart-item="title"
        >
          {{ product.name }}
        </a>
        <span class="price" ui-cart-item="price">
          {{ product.price | default: 0 | money }}
        </span>
        <span
          class="variants"
          ui-cart-item="variant"
          {% if product.variations == null or product.variations.default %}
            hidden
          {% endif %}
        >
          {% for variant in product.variations %}
            <div class="variant">
              <span class="label">{{ variant[0] }}:</span>
              <p class="value">{{ variant[1] }}</p>
            </div>
          {% endfor %}
        </span>
      </div>
    </div>
  </td>
  <td>
    <div class="qty">
      {% render 'core.quantity' %}
      <ui-cart-remove
        item="{{ product.id }}"
        product-variant="{{ product.product_variant_id }}"
      >
        <button
          ui-slot="link-button"
          data-variant="gray"
          data-size="sm"
          ui-cart-item="delete-button"
          data-underline="true"
        >
          {{ 'general.remove' | t }}
        </button>
      </ui-cart-remove>
    </div>
  </td>
  <td>
    {% assign subtotal = product.quantity | times: product.price %}
    <span class="subtotal" ui-cart-item="subtotal">{{ subtotal | money }}</span>
  </td>
</tr>
