{% comment %}
  Renders cart bundle item template (cart drawer)

  Accepts:
  - product: {Object} cart item info

  Usage:
  {% render 'core.cart-form-bundle-item', product: {...} %}
{% endcomment %}

<div class="item">
  <div class="image" ui-cart-item="image" data-image-ratio="{{ settings.product_image_ratio }}">
    <img
      src="{{ product.image }}"
      alt="{{ product.name }}"
      height="100%"
      width="100%"
      loading="lazy"
      {% unless product.image %}
        hidden
      {% endunless %}
    >
    {% unless product.image %}
      {% render 'misc.image-fallback' %}
    {% else %}
      {% render 'misc.image-fallback', hidden: true %}
    {% endunless %}
  </div>
  <div class="content">
    <div class="head">
      <a
        class="title"
        ui-slot="link-button"
        data-variant="black"
        data-size="md"
        title="{{ product.name }}"
        ui-cart-item="title"
        href="{{ product.url }}"
      >
        {{ product.name }}
      </a>
      <div
        class="save"
        ui-slot="status-badge"
        data-variant="light"
        data-status="completed"
        {% unless product.compare_at_price %}
          hidden
        {% endunless %}
      >
        {{ 'general.you_save' | t }}
        <span>
          {% assign price_total = product.price | times: product.quantity %}
          {% assign compare_at_price_total = product.compare_at_price | default: 0 | times: product.quantity %}
          {{ compare_at_price_total | minus: price_total | money }}
        </span>
      </div>
    </div>
    <div class="core">
      <div
        class="variants"
        ui-cart-item="variant"
        {% if product.variations == null or product.variations.default %}
          hidden
        {% endif %}
      >
        {% for variant in product.variations %}
          <div class="variant">
            <span class="label">{{ variant[0] }}:</span>
            <p class="value">{{ variant[1] }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="footer">
      <div class="price">
        <span class="original" ui-cart-item="price" hidden>{{ product.price | default: 0 | money }}</span>
        {% assign subtotal = product.quantity | times: product.price %}
        <div class="subtotal" ui-cart-item="subtotal">
          <span
            class="free"
            ui-slot="status-badge"
            data-variant="light"
            data-status="completed"
            {% if subtotal %}
              hidden
            {% endif %}
          >
            {% render 'misc.icon', name: 'hgi-gift' %}
            {{ 'order.free' | t }}
          </span>
          <span
            {% unless subtotal %}
              hidden
            {% endunless %}
          >
            {{ subtotal | money }}
          </span>
        </div>
        <span
          class="compare-at"
          ui-cart-item="compare-at-price"
          {% unless product.compare_at_price %}
            hidden
          {% endunless %}
        >
          {{ product.compare_at_price | default: 0 | times: product.quantity | money }}
        </span>
      </div>
    </div>
  </div>
</div>
