{{ 'misc.cart-drawer.css' | asset_url | stylesheet_tag }}

{% comment %}
  Renders a cart drawer

   Accepts:
  - collection_id: {String} (optional) Recommended collection id
  - show_products: {String} (optional) Control recommend products visibility

  Usage:
  {% render 'misc.cart-drawer' %}
{% endcomment %}

<div ui-slot="sheet-content" id="cart" popover>
  <div ui-slot="sheet-header">
    <h2 ui-slot="sheet-title">
      {{ 'cart.title' | t }}
      <span>
        [<ui-cart-bubble>{{ cart.count | default: 0 }}</ui-cart-bubble>]
      </span>
    </h2>
    <button
      ui-slot="button"
      data-variant="primary"
      data-mode="ghost"
      data-size="sm"
      aria-label="Close"
      popovertarget="cart"
    >
      {% render 'misc.icon', name: 'hgi-cancel-01' %}
    </button>
  </div>
  <div ui-slot="sheet-body">
    {% render 'core.cart-form' %}
    {% if show_products %}
      <ui-carousel class="products">
        {% if collection_id %}
          {% paginate collection.products by 8 id category_id: collection_id %}
            <div class="head">
              <h4 class="label">{{ 'search.drawer.products_recommendations' | t }}</h4>
              {% if items.size > 1 %}
                <div class="arrows">
                  <button
                    ui-carousel="arrow-previous"
                    ui-slot="button"
                    data-variant="primary"
                    data-mode="stroke"
                    data-size="xs"
                    data-as-icon
                    data-flip-icon-in-rtl
                    aria-label="Previous"
                  >
                    {% render 'misc.icon', name: 'hgi-arrow-left-01' %}
                  </button>
                  <button
                    ui-carousel="arrow-next"
                    ui-slot="button"
                    data-variant="primary"
                    data-mode="stroke"
                    data-size="xs"
                    data-as-icon
                    data-flip-icon-in-rtl
                    aria-label="Next"
                  >
                    {% render 'misc.icon', name: 'hgi-arrow-right-01' %}
                  </button>
                </div>
              {% endif %}
            </div>
            <div
              ui-carousel="wrapper"
              ui-slot="carousel"
              aria-orientation="vertical"
              class="items"
            >
              {% for product in items %}
                <div
                  ui-carousel="item"
                  ui-slot="carousel-item"
                  class="item"
                >
                  <a href="{{product.url}}" class="media" data-image-ratio="{{ settings.product_image_ratio }}">
                    {% if product.preview_image %}
                      <img
                        src="{{ product.preview_image.original }}"
                        alt="{{ product.name }}"
                        height="100%"
                        width="100%"
                        loading="lazy"
                      >
                    {% else %}
                      {% render 'misc.image-fallback' %}
                    {% endif %}
                  </a>
                  <div class="content">
                    <a
                      class="title"
                      ui-slot="link-button"
                      data-variant="gray"
                      data-size="md"
                      class="title"
                      href="{{ product.url }}"
                    >
                      {{ product.name }}
                    </a>
                    {% assign price = default_variant.price | default: product.price %}
                    <span class="price">{{ price | money }}</span>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endpaginate %}
        {% else %}
          <div class="head">
            <h4 class="label">{{ 'search.drawer.products_recommendations' | t }}</h4>
            <div class="arrows">
              <button
                ui-carousel="arrow-previous"
                ui-slot="button"
                data-variant="primary"
                data-mode="stroke"
                data-size="xs"
                data-as-icon
                data-flip-icon-in-rtl
                aria-label="Previous"
              >
                {% render 'misc.icon', name: 'hgi-arrow-left-01' %}
              </button>
              <button
                ui-carousel="arrow-next"
                ui-slot="button"
                data-variant="primary"
                data-mode="stroke"
                data-size="xs"
                data-as-icon
                data-flip-icon-in-rtl
                aria-label="Next"
              >
                {% render 'misc.icon', name: 'hgi-arrow-right-01' %}
              </button>
            </div>
          </div>
          <div
            ui-carousel="wrapper"
            ui-slot="carousel"
            aria-orientation="vertical"
            class="items"
          >
            {% for product in (1..4) %}
              <div
                ui-carousel="item"
                ui-slot="carousel-item"
                class="item"
              >
                <a href="#" class="media" data-image-ratio="{{ settings.product_image_ratio }}">
                  {% render 'misc.image-fallback' %}
                </a>
                <div class="content">
                  <a
                    class="title"
                    ui-slot="link-button"
                    data-variant="gray"
                    data-size="md"
                    class="title"
                    href="#"
                  >
                    {{ 'product.title' | t }}
                    {{ product }}
                  </a>
                  <span class="price">{{ 0 | money }}</span>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </ui-carousel>
    {% endif %}
  </div>
  <div ui-slot="sheet-footer">
    <div
      class="main-footer"
      {% unless cart.count > 0 %}
        hidden
      {% endunless %}
      ui-cart-drawer="footer"
    >
      <div class="subtotal">
        <span class="label">{{ 'cart.drawer.total' | t }}</span>
        <span class="value" ui-cart-item="subtotal">{{ cart.sub_total | default: 0 | money }}</span>
      </div>
      <a
        href="{{ cart.cart_submit_url }}"
        ui-slot="button"
        data-variant="primary"
        data-mode="filled"
        data-size="lg"
      >
        {{ 'cart.drawer.actions.checkout' | t }}
      </a>
      <a
        href="/cart"
        ui-slot="button"
        data-variant="primary"
        data-mode="stroke"
        data-size="lg"
        popovertarget="cart"
      >
        {{ 'cart.drawer.actions.view_cart' | t }}
      </a>
    </div>
    <div class="secondary-footer">
      <button
        ui-slot="button"
        data-variant="primary"
        data-mode="stroke"
        data-size="lg"
        aria-label="Close"
        popovertarget="cart"
      >
        {{ 'cart.drawer.actions.continue_shopping' | t }}
      </button>
    </div>
  </div>
</div>
