{{ 'misc.menu-drawer.css' | asset_url | stylesheet_tag }}

{% comment %}
  Renders a menu drawer

  Usage:
  {% render 'misc.menu-drawer' %}
{% endcomment %}

{% assign has_social_links = false %}

{% for link in store.brand.social_links %}
  {% if link[1] != null %}
    {% assign has_social_links = true %}
    {% break %}
  {% endif %}
{% endfor %}

<div ui-slot="sheet-content" id="menu" popover>
  <div ui-slot="sheet-header">
    <div class="logo">
      {% if settings.logo_desktop.src or settings.logo_mobile.src %}
        <a href="/">
          <picture>
            {% if settings.logo_mobile.src %}
              <source srcset="{{ settings.logo_mobile.src }}" media="(max-width: 768px)">
            {% endif %}
            {% if settings.logo_desktop.src %}
              <source srcset="{{ settings.logo_desktop.src }}" media="(min-width: 769px)">
            {% endif %}
            <img
              src="{{ settings.logo_desktop.src | default: settings.logo_mobile.src }}"
              alt="{{ store.name }}"
              loading="eager"
              height="100%"
              width="{{ settings.logo_desktop_width }}px"
              data-mobile-width="{{ settings.logo_mobile_width }}"
            >
          </picture>
        </a>
      {% else %}
        <a class="name" ui-slot="link-button" href="/">
          {{ store.name }}
        </a>
      {% endif %}
    </div>
    <button
      ui-slot="button"
      data-variant="primary"
      data-mode="ghost"
      data-size="sm"
      aria-label="Close"
      popovertarget="menu"
    >
      {% render 'misc.icon', name: 'hgi-cancel-01' %}
    </button>
  </div>
  <form action="/search">
    <fieldset role="group">
      {% render 'misc.icon', name: 'hgi-search-01' %}
      <input name="q" type="text" placeholder="{{ 'search.placeholder' | t }}">
    </fieldset>
  </form>
  <div ui-slot="sheet-body">
    <ul class="links">
      {% for link in main-link-list.links %}
        <li class="link">
          <a
            ui-slot="button"
            data-variant="primary"
            data-mode="ghost"
            data-size="lg"
            data-flip-icon-in-rtl
            href="{{ link.url }}"
          >
            {{ link.title }}
            {% render 'misc.icon', name: 'hgi-arrow-right-01' %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
