{% comment %}
  Renders a product content (title, rating, inventory, variants, description, shop buttons, collapsible content, feature list)

  Usage:
  {% render 'misc.product-content' %}
{% endcomment %}

<div ui-box="content">
  <div
    class="badge"
    ui-slot="status-badge"
    data-variant="stroke"
    data-status="{{ settings.sale_badge_status }}"
  >
    New
  </div>

  {% if product.categories %}
    <div ui-block="collection">
      <a ui-slot="link-button" data-variant="gray" data-size="md" href="#" {{ block.youcan_attributes }}>
        {% comment %} {{ product.categories.first.name }} {% endcomment %}
        Men
      </a>
    </div>
  {% endif %}

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'block_title' %}
        <h1 ui-block="title" data-size="{{ block.settings.title_size }}" {{ block.youcan_attributes }}>
          {{ product.name }}
        </h1>

      {% when 'block_inventory_status' %}
        {% render 'const.inventory-status',
          count: default_variant.inventory,
          threshold: block.settings.low_inventory_threshold,
          show_count: block.settings.show_inventory_count
        %}

      {% when 'block_description' %}
        {% if product.description %}
          <div ui-block="description" {{ block.youcan_attributes }}>
            <article>{{ product.description }}</article>
          </div>
        {% endif %}
    {% endcase %}
  {% endfor %}
</div>
