{% comment %}
  Renders a product content (title, rating, inventory, variants, description, shop buttons, collapsible content, feature list)

  Usage:
  {% render 'misc.product-content' %}
{% endcomment %}

<div ui-box="content">
  {% for c in product.categories %}
    {% assign collection_name = c.name %}
    {% assign collection_slug = c.slug %}
  {% endfor %}

  {% assign translated_collections = 'navigation.collections' | t %}
  {% capture breadcrumb_items %}
  {{ 'navigation.home' | t }},/|
  {{ translated_collections }},/collections
  {% if collection_name %}
    |{{ collection_name }},/collections/{{ collection_slug }}
  {% endif %}
  {% endcapture %}

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'block_breadcrumb' %}
        {% render 'misc.breadcrumb', items: breadcrumb_items, last_link_active: true %}

      {% when 'block_badge' %}
        <div
          class="badge"
          ui-slot="status-badge"
          data-variant="stroke"
          data-status="{{ settings.sale_badge_status }}"
        >
          {% if settings.sale_badge_type == 'percentage' %}
            {% assign percentage = compare_at_price | minus: price | times: 100 | divided_by: compare_at_price | round %}
            -{{ percentage }}%
          {% else %}
            {% assign fixed = compare_at_price | minus: price %}
            {{ 'general.save' | t }}
            {{ fixed | money }}
          {% endif %}
        </div>

      {% when 'block_title' %}
        <h1 ui-block="title" data-size="{{ block.settings.title_size }}" {{ block.youcan_attributes }}>
          {{ product.name }}
        </h1>

      {% when 'block_inventory_status' %}
        {% render 'const.inventory-status',
          count: default_variant.inventory,
          threshold: block.settings.low_inventory_threshold,
          show_count: block.settings.show_inventory_count
        %}

      {% when 'block_description' %}
        {% if product.description %}
          <div ui-block="description" {{ block.youcan_attributes }}>
            <article>{{ product.description }}</article>
          </div>
        {% endif %}
    {% endcase %}
  {% endfor %}
</div>
