{{ 'section.announcement-bar.css' | asset_url | stylesheet_tag }}

<div
  ui-section="announcement-bar"
  role="banner"
  {% if section.settings.override_global_colors %}
    style="
      --brand-hue: {{ section.settings.main_color.hue }};
      --brand-saturation: {{ section.settings.main_color.saturation }}%;
      --brand-lightness: {{ section.settings.main_color.lightness }}%;
    "
    data-scoped-color
    data-intensity="{{ section.settings.color_intensity }}"
  {% endif %}
>
  <ui-carousel
    {% if section.settings.auto_rotate %}
      autoplay
      interval="{{ section.settings.change_every | times: 1000 }}"
    {% endif %}
  >
    <button
      class="arrow"
      ui-carousel="arrow-previous"
      ui-slot="compact-button"
      data-size="lg"
      aria-label="Previous"
    >
      {% render 'misc.icon', name: 'hgi-arrow-left-01' %}
    </button>
    <ul
      class="items"
      ui-carousel="wrapper"
      ui-slot="carousel"
      aria-orientation="vertical"
      data-align="center"
      style="--per-page: 1;"
      data-width="{{ section.settings.desktop_content_width }}"
    >
      {% for item in section.blocks %}
        <li class="item" ui-carousel="item" ui-slot="carousel-item">
          <a ui-slot="link-button" data-size="md" href="{{ item.settings.link }}">
            {{ item.settings.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <button
      class="arrow"
      ui-carousel="arrow-next"
      ui-slot="compact-button"
      data-size="lg"
      aria-label="Next"
    >
      {% render 'misc.icon', name: 'hgi-arrow-right-01' %}
    </button>
  </ui-carousel>
</div>

{% schema %}
{
  "label": "Announcement Bar",
  "tag": "header",
  "limit": 1,
  "max_blocks": 5,
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "main_color",
      "label": "Main Color",
      "default": "#121212"
    },
    {
      "type": "select",
      "id": "color_intensity",
      "label": "Color Intensity",
      "options": [
        { "label": "As Solid Background", "value": "as-solid-bg" },
        { "label": "As Light Background", "value": "as-light-bg" },
        { "label": "As Foreground", "value": "as-foreground" }
      ],
      "default": "as-solid-bg"
    },
    {
      "type": "checkbox",
      "id": "override_global_colors",
      "label": "Override global colors",
      "default": true
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "range",
      "id": "desktop_content_width",
      "label": "Desktop Content Width",
      "min": 20,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 50
    },
    {
      "type": "range",
      "id": "change_every",
      "label": "Change Every",
      "min": 3,
      "max": 7,
      "step": 1,
      "unit": "s",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "Auto Rotate",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "announcement_item",
      "label": "Announcement",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Welcome to our store!"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "default": "#"
        }
      ]
    }
  ]
}
{% endschema %}
