{{ 'section.example.css' | asset_url | stylesheet_tag }}

<div ui-section="example">
  <div class="head">
    <h3 class="title">{{ 'example.templates' | t }}</h3>
  </div>
  <ul class="pages">
    <li>
      <a ui-slot="button" data-variant="neutral" data-mode="stroke" data-size="sm" href="/">
        {{ 'templates.page' | t }}
      </a>
    </li>
    <li>
      <a ui-slot="button" data-variant="neutral" data-mode="stroke" data-size="sm" href="/products/product-1">
        {{ 'templates.product' | t }}
      </a>
    </li>
    <li>
      <a ui-slot="button" data-variant="neutral" data-mode="stroke" data-size="sm" href="/collections">
        {{ 'templates.list-collections' | t }}
      </a>
    </li>
    <li>
      <a ui-slot="button" data-variant="neutral" data-mode="stroke" data-size="sm" href="/collections/">
        {{ 'templates.collection' | t }}
      </a>
    </li>
    <li>
      <a ui-slot="button" data-variant="neutral" data-mode="stroke" data-size="sm" href="/search">
        {{ 'templates.search' | t -}}
      </a>
    </li>
    <li>
      <a ui-slot="button" data-variant="neutral" data-mode="stroke" data-size="sm" href="/cart">
        {{ 'templates.cart' | t -}}
      </a>
    </li>
    <li>
      <a
        ui-slot="button"
        data-variant="neutral"
        data-mode="stroke"
        data-size="sm"
        href="/orders/8e8427fa-2ca1-489a-8833-a6bd9429b686"
      >
        {{ 'templates.thankyou' | t }}
      </a>
    </li>
    <li>
      <a ui-slot="button" data-variant="neutral" data-mode="stroke" data-size="sm" href="/pages/return-policy">
        {{ 'templates.page' | t -}}
      </a>
    </li>
  </ul>
  <div class="head">
    <h3 class="title">{{ 'example.products' | t }}</h3>
  </div>
  <ul class="list">
    {% for product in (1..4) %}
      {% render 'block.product', product: product %}
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "label": "Example",
  "settings": []
}
{% endschema %}
