{{ 'section.featured-collection.css' | asset_url | stylesheet_tag }}

<div
  ui-section="featured-collection"
  {% if section.settings.override_global_colors %}
    style="
      --brand-hue: {{ section.settings.main_color.hue }};
      --brand-saturation: {{ section.settings.main_color.saturation }}%;
      --brand-lightness: {{ section.settings.main_color.lightness }}%;

      {% if section.settings.main_color.hue == 0 and section.settings.main_color.lightness <= 20 %}
        --brand-raw-lightness: {{ section.settings.main_color.lightness }}%;
      {% endif %}
    "
    data-scoped-color
    data-intensity="{{ section.settings.color_intensity }}"
  {% endif %}
  data-top-spacing="{{ section.settings.top_spacing }}"
  data-bottom-spacing="{{ section.settings.bottom_spacing }}"
>
  <div ui-slot="head">
    <h4 class="heading">{{ section.settings.heading }}</h4>
    <h1 class="subheading">{{ section.settings.subheading }}</h1>
  </div>
  <div class="core-area">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'media' %}
          <div ui-block="content" {{ block.youcan_attributes }}>
            <div class="media">
              {% if block.settings.block_image.src %}
                <img
                  src="{{ block.settings.block_image.src }}"
                  alt="{{ block.settings.block_heading }}"
                  height="100%"
                  width="100%"
                  loading="lazy"
                >
              {% else %}
                {% render 'misc.image-fallback', icon_size: 100 %}
              {% endif %}
            </div>
            <div
              class="content"
              data-text-alignment="{{ block.settings.text_alignment }}"
              data-vertical-alignment="{{ block.settings.vertical_alignment }}"
            >
              <h4 class="subheading">{{ block.settings.block_heading }}</h4>
              <h1 class="heading">{{ block.settings.block_subheading }}</h1>
              <a
                class="cta"
                {% if block.settings.block_button_style == 'underline' %}
                  ui-slot="link-button"
                  data-underline="true"
                {% else %}
                  ui-slot="button"
                  data-variant="primary"
                {% endif %}
                {% if block.settings.block_button_style == 'primary' %}
                  data-mode="filled"
                {% elsif block.settings.block_button_style == 'secondary' %}
                  data-mode="lighter"
                {% endif %}
                data-size="lg"
                href="{{ block.settings.block_button_link }}"
              >
                {{ block.settings.block_button_label }}
              </a>
            </div>
          </div>
        {% else %}
          {% assign max_products = section.settings.max_products_to_show %}
          {% if block.settings.collection.id %}
            {% paginate collection.products by max_products id category_id: block.settings.collection.id %}
              <ul ui-block="products" {{ block.youcan_attributes }}>
                {% for product in items %}
                  {% render 'block.product' %}
                {% endfor %}
              </ul>
            {% endpaginate %}
          {% else %}
            <ul ui-block="products" {{ block.youcan_attributes }}>
              {% for product in (1..max_products) %}
                {% render 'block.product' %}
              {% endfor %}
            </ul>
          {% endif %}
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "label": "Featured Collection",
  "templates": ["index"],
  "limit": 3,
  "max_blocks": 11,
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "main_color",
      "label": "Main Color",
      "default": "#121212"
    },
    {
      "type": "select",
      "id": "color_intensity",
      "label": "Color Intensity",
      "options": [
        { "label": "As Solid Background", "value": "as-solid-bg" },
        { "label": "As Light Background", "value": "as-light-bg" },
        { "label": "As Foreground", "value": "as-foreground" }
      ],
      "default": "as-foreground"
    },
    {
      "type": "checkbox",
      "id": "override_global_colors",
      "label": "Override global colors",
      "default": false
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Explore our line"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Discover Radiance"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "max_products_to_show",
      "label": "Maximum products to show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 8
    },
    {
      "type": "checkbox",
      "id": "show_discount_badge",
      "label": "Show discount badge",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "label": "Top Spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 64
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "label": "Bottom Spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 64
    }
  ],
  "blocks": [
    {
      "type": "media",
      "label": "Media",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Headings"
        },
        {
          "type": "text",
          "id": "block_heading",
          "label": "Heading",
          "default": "Care for your skin"
        },
        {
          "type": "text",
          "id": "block_subheading",
          "label": "Subheading",
          "default": "Made for sensitive skin"
        },
        {
          "type": "header",
          "content": "Action"
        },
        {
          "type": "text",
          "id": "block_button_label",
          "label": "Label",
          "default": "Sell All Products"
        },
        {
          "type": "url",
          "id": "block_button_link",
          "label": "Link",
          "default": "#"
        },
        {
          "type": "select",
          "id": "block_button_style",
          "options": [
            { "label": "Primary", "value": "primary" },
            { "label": "Secondary", "value": "secondary" },
            { "label": "Underline", "value": "underline" }
          ],
          "label": "Style",
          "default": "primary"
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            { "label": "Start", "value": "start" },
            { "label": "Center", "value": "center" },
            { "label": "End", "value": "end" }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertical_alignment",
          "label": "Vertical alignment",
          "options": [
            { "label": "Top", "value": "start" },
            { "label": "Middle", "value": "center" },
            { "label": "Bottom", "value": "end" }
          ],
          "default": "start"
        }
      ]
    },
    {
      "type": "collection_item",
      "label": "Collection",
      "limit": 1,
      "settings": [
        {
          "type": "category",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}
