{{ 'section.image-with-text.css' | asset_url | stylesheet_tag }}

<div
  ui-section="image-with-text"
  {% if section.settings.override_global_colors %}
    style="
      --brand-hue: {{ section.settings.main_color.hue }};
      --brand-saturation: {{ section.settings.main_color.saturation }}%;
      --brand-lightness: {{ section.settings.main_color.lightness }}%;

      {% if section.settings.main_color.hue == 0 and section.settings.main_color.lightness <= 20 %}
        --brand-raw-lightness: {{ section.settings.main_color.lightness }}%;
      {% endif %}
    "
    data-scoped-color
    data-intensity="{{ section.settings.color_intensity }}"
  {% endif %}
  data-top-spacing="{{ section.settings.top_spacing }}"
  data-bottom-spacing="{{ section.settings.bottom_spacing }}"
>
  <div class="wrapper-area" data-height="{{ section.settings.image_height }}">
    <div ui-block="media" data-image-placement="{{ section.settings.image_placement }}">
      {% if section.settings.image.src %}
        <img
          src="{{ section.settings.image.src }}"
          alt="Image with Text"
          height="100%"
          width="100%"
          loading="lazy"
        >
      {% else %}
        {% render 'misc.image-fallback', icon_size: 100 %}
      {% endif %}
    </div>
    <div
      ui-block="content"
      data-text-alignment="{{ section.settings.text_alignment }}"
      data-vertical-alignment="{{ section.settings.vertical_alignment }}"
    >
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            <h4 class="heading" {{ block.youcan_attributes }}>{{ block.settings.content }}</h4>
          {% when 'subheading' %}
            <h1 class="subheading" {{ block.youcan_attributes }}>{{ block.settings.content }}</h1>
          {% when 'description' %}
            <p class="description" {{ block.youcan_attributes }}>{{ block.settings.content }}</p>
          {% when 'button' %}
            <a
              class="cta"
              ui-slot="button"
              data-variant="primary"
              data-mode="filled"
              data-size="lg"
              href="{{ block.settings.link }}"
              {{ block.youcan_attributes }}
            >
              {{ block.settings.label }}
            </a>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "label": "t:sections.image_with_text.label",
  "templates": ["index", "product", "list-collections", "page", "cart"],
  "limit": 3,
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.colors"
    },
    {
      "type": "color",
      "id": "main_color",
      "label": "t:common.colors.main_color",
      "default": "#121212"
    },
    {
      "type": "select",
      "id": "color_intensity",
      "label": "t:common.colors.color_intensity",
      "options": [
        { "label": "t:common.colors.options.as_solid_bg", "value": "as-solid-bg" },
        { "label": "t:common.colors.options.as_light_bg", "value": "as-light-bg" },
        { "label": "t:common.colors.options.as_foreground", "value": "as-foreground" }
      ],
      "default": "as-foreground"
    },
    {
      "type": "checkbox",
      "id": "override_global_colors",
      "label": "t:common.colors.override_global_colors",
      "default": false
    },
    {
      "type": "header",
      "content": "t:common.headers.media"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:common.globals.image"
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "t:common.globals.height",
      "options": [
        { "label": "t:common.layout.size.auto", "value": "auto" },
        { "label": "t:common.layout.size.medium", "value": "55" },
        { "label": "t:common.layout.size.large", "value": "70" }
      ],
      "default": "70"
    },
    {
      "type": "select",
      "id": "image_placement",
      "label": "t:common.globals.image_placement",
      "options": [
        { "label": "t:common.layout.image_placement.image_first", "value": "first" },
        { "label": "t:common.layout.image_placement.image_second", "value": "second" }
      ],
      "default": "first"
    },
    {
      "type": "header",
      "content": "t:common.headers.content"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:common.globals.text_alignment",
      "options": [
        { "label": "t:common.layout.alignment.start", "value": "start" },
        { "label": "t:common.layout.alignment.center", "value": "center" },
        { "label": "t:common.layout.alignment.end", "value": "end" }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "t:common.globals.vertical_alignment",
      "options": [
        { "label": "t:common.layout.vertical_alignment.top", "value": "start" },
        { "label": "t:common.layout.vertical_alignment.middle", "value": "center" },
        { "label": "t:common.layout.vertical_alignment.bottom", "value": "end" }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:common.headers.spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "label": "t:common.spacing.top_spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 64
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "label": "t:common.spacing.bottom_spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 64
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "label": "t:common.header.heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "content",
          "label": "t:common.headers.content",
          "default": "t:sections.image_with_text.default.heading"
        }
      ]
    },
    {
      "type": "subheading",
      "label": "t:common.header.subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "content",
          "label": "t:common.headers.content",
          "default": "t:sections.image_with_text.default.subheading"
        }
      ]
    },
    {
      "type": "description",
      "label": "t:common.header.description",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "content",
          "label": "t:common.headers.content",
          "default": "t:sections.image_with_text.default.description"
        }
      ]
    },
    {
      "type": "button",
      "label": "t:common.headers.button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:common.button.label",
          "default": "t:sections.image_with_text.default.button"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:common.button.link",
          "default": "#"
        },
        {
          "type": "select",
          "id": "style",
          "options": [
            { "label": "t:common.button.style.options.primary", "value": "primary" },
            { "label": "t:common.button.style.options.secondary", "value": "secondary" },
            { "label": "t:common.button.style.options.underline", "value": "underline" }
          ],
          "label": "t:common.button.style.label",
          "default": "primary"
        }
      ]
    }
  ]
}
{% endschema %}
