{{ 'section.list-collections.css' | asset_url | stylesheet_tag }}

<div
  ui-section="list-collections"
  {% if section.settings.override_global_colors %}
    style="
      --brand-hue: {{ section.settings.main_color.hue }};
      --brand-saturation: {{ section.settings.main_color.saturation }}%;
      --brand-lightness: {{ section.settings.main_color.lightness }}%;

      {% if section.settings.main_color.hue == 0 and section.settings.main_color.lightness <= 20 %}
        --brand-raw-lightness: {{ section.settings.main_color.lightness }}%;
      {% endif %}
    "
    data-scoped-color
    data-intensity="{{ section.settings.color_intensity }}"
  {% endif %}
  data-top-spacing="{{ section.settings.top_spacing }}"
  data-bottom-spacing="{{ section.settings.bottom_spacing }}"
>
  {% render 'misc.breadcrumb' %}
  <div ui-slot="head">
    <h1 class="subheading">All Collections</h1>
    <p class="description">Well cared for skin is the key to clean, natural beauty</p>
  </div>
  <div class="core-area">
    {% paginate collections by 24 cod %}
      {% if items.size > 0 %}
        <ul class="items" data-nbr-columns-desktop="{{ section.settings.nbr_columns_desktop }}">
          {% for collection in items %}
            {% render 'block.collection', collection: collection %}
          {% endfor %}
        </ul>
        {% render 'misc.pagination', next_page_url: next_page, previous_page_url: previous_page, current: current, last: last, terms: terms %}
      {% else %}
        {% assign empty_content = 'single-collection.empty.title' | t %}
        {% render 'misc.empty', heading: empty_content %}
      {% endif %}
    {% endpaginate %}
  </div>
</div>
{% schema %}
{
  "label": "List Collections",
  "templates": ["list-collections"],
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "main_color",
      "label": "Main Color",
      "default": "#121212"
    },
    {
      "type": "select",
      "id": "color_intensity",
      "label": "Color Intensity",
      "options": [
        { "label": "As Solid Background", "value": "as-solid-bg" },
        { "label": "As Light Background", "value": "as-light-bg" },
        { "label": "As Foreground", "value": "as-foreground" }
      ],
      "default": "as-foreground"
    },
    {
      "type": "checkbox",
      "id": "override_global_colors",
      "label": "Override global colors",
      "default": false
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "nbr_columns_desktop",
      "label": "Number of columns on Desktop",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "label": "Top Spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 64
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "label": "Bottom Spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 64
    }
  ]
}
{% endschema %}
