{{ 'section.navbar.css' | asset_url | stylesheet_tag }}

<div
  ui-layout="navbar"
  {% if section.settings.override_global_colors %}
    style="
      --brand-hue: {{ section.settings.main_color.hue }};
      --brand-saturation: {{ section.settings.main_color.saturation }}%;
      --brand-lightness: {{ section.settings.main_color.lightness }}%;

      {% if section.settings.main_color.hue == 0 and section.settings.main_color.lightness <= 20 %}
        --brand-raw-lightness: {{ section.settings.main_color.lightness }}%;
      {% endif %}
    "
    data-scoped-color
    data-intensity="{{ section.settings.color_intensity }}"
  {% endif %}
  data-sticky="{{ section.settings.is_sticky }}"
  data-top-spacing="{{ section.settings.top_spacing }}"
  data-bottom-spacing="{{ section.settings.bottom_spacing }}"
>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'logo_item' %}
        <div class="logo" {{ block.youcan_attributes }}>
          {% if settings.logo_desktop.src or settings.logo_mobile.src %}
            <a href="/">
              <picture>
                {% if settings.logo_mobile.src %}
                  <source srcset="{{ settings.logo_mobile.src }}" media="(max-width: 768px)">
                {% endif %}
                {% if settings.logo_desktop.src %}
                  <source srcset="{{ settings.logo_desktop.src }}" media="(min-width: 769px)">
                {% endif %}
                <img
                  src="{{ settings.logo_desktop.src | default: settings.logo_mobile.src }}"
                  alt="{{ store.name }}"
                  loading="eager"
                  height="100%"
                  width="{{ settings.logo_desktop_width }}px"
                  data-mobile-width="{{ settings.logo_mobile_width }}"
                >
              </picture>
            </a>
          {% else %}
            <a class="name" ui-slot="link-button" href="/">
              {{ store.name }}
            </a>
          {% endif %}
        </div>
      {% when 'menu_item' %}
        {% render 'misc.menu-drawer' %}

        <ul class="links" {{ block.youcan_attributes }}>
          {% for link in main-link-list.links %}
            <li class="link">
              <a ui-slot="link-button" data-size="md" href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% when 'actions_item' %}
        <div class="actions" {{ block.youcan_attributes }}>
          {% render 'misc.search-drawer' %}
          {% render 'misc.cart-drawer' %}
        </div>
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "label": "Navbar",
  "tag": "header",
  "limit": 1,
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "main_color",
      "label": "Main Color",
      "default": "#121212"
    },
    {
      "type": "select",
      "id": "color_intensity",
      "label": "Color Intensity",
      "options": [
        { "label": "As Solid Background", "value": "as-solid-bg" },
        { "label": "As Light Background", "value": "as-light-bg" },
        { "label": "As Foreground", "value": "as-foreground" }
      ],
      "default": "as-foreground"
    },
    {
      "type": "checkbox",
      "id": "override_global_colors",
      "label": "Override global colors",
      "default": false
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "is_sticky",
      "label": "Sticky",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "label": "Top Spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "label": "Bottom Spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 24
    }
  ],
  "blocks": [
    {
      "type": "logo_item",
      "label": "Logo",
      "limit": 1,
      "settings": []
    },
    {
      "type": "menu_item",
      "label": "Menu",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "checkbox",
          "id": "menu_show_social_media_links",
          "label": "Show social media links",
          "default": true
        }
      ]
    },
    {
      "type": "actions_item",
      "label": "Actions",
      "limit": 1,

      "settings": [
        {
          "type": "header",
          "content": "Search recommendations"
        },
        {
          "type": "category",
          "id": "search_collection",
          "label": "Collection"
        },
        {
          "type": "header",
          "content": "Cart recommendations"
        },
        {
          "type": "text",
          "id": "cart_most_searched_keywords",
          "label": "Most searched keywords"
        },
        {
          "type": "category",
          "id": "cart_collection",
          "label": "Products recommendation (collection)"
        }
      ]
    }
  ]
}
{% endschema %}
