{{ 'section.testimonials.css' | asset_url | stylesheet_tag }}

<ui-carousel
  ui-section="testimonials"
  {% if section.settings.override_global_colors %}
    style="
      --brand-hue: {{ section.settings.main_color.hue }};
      --brand-saturation: {{ section.settings.main_color.saturation }}%;
      --brand-lightness: {{ section.settings.main_color.lightness }}%;
    "
    data-scoped-color
    data-intensity="{{ section.settings.color_intensity }}"
  {% endif %}
  data-nbr-columns-desktop="{{ section.settings.nbr_columns_desktop }}"
  data-top-spacing="{{ section.settings.top_spacing }}"
  data-bottom-spacing="{{ section.settings.bottom_spacing }}"
>
  <div ui-slot="head">
    <div class="content">
      <h4 class="heading">{{ section.settings.heading }}</h4>
      <h1 class="subheading">{{ section.settings.subheading }}</h1>
    </div>
    {% assign min_items = section.settings.nbr_columns_desktop | plus: 0 %}
    {% if section.blocks.size > min_items %}
      <div class="actions">
        <button
          ui-carousel="arrow-previous"
          ui-slot="button"
          data-variant="neutral"
          data-mode="stroke"
          data-size="lg"
          data-as-icon
          aria-label="Previous"
        >
          {% render 'misc.icon', name: 'hgi-arrow-left-01' %}
        </button>
        <button
          ui-carousel="arrow-next"
          ui-slot="button"
          data-variant="neutral"
          data-mode="stroke"
          data-size="lg"
          data-as-icon
          aria-label="Next"
        >
          {% render 'misc.icon', name: 'hgi-arrow-right-01' %}
        </button>
      </div>
    {% endif %}
  </div>
  <ul class="items-area" ui-carousel="wrapper" ui-slot="carousel" aria-orientation="vertical" data-align="center">
    {% for testimonial in section.blocks %}
      {% render 'block.testimonial' %}
    {% endfor %}
  </ul>
</ui-carousel>

{% schema %}
{
  "label": "Testimonials",
  "templates": ["index", "page"],
  "limit": 3,
  "max_blocks": 10,
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "main_color",
      "label": "Main Color",
      "default": "#121212"
    },
    {
      "type": "select",
      "id": "color_intensity",
      "label": "Color Intensity",
      "options": [
        { "label": "As Solid Background", "value": "as-solid-bg" },
        { "label": "As Light Background", "value": "as-light-bg" },
        { "label": "As Foreground", "value": "as-foreground" }
      ],
      "default": "as-foreground"
    },
    {
      "type": "checkbox",
      "id": "override_global_colors",
      "label": "Override global colors",
      "default": false
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Explore our line"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Discover Radiance"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "nbr_columns_desktop",
      "label": "Number of columns on Desktop",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "label": "Top Spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 64
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "label": "Bottom Spacing",
      "min": 0,
      "max": 64,
      "step": 4,
      "unit": "px",
      "default": 64
    }
  ],
  "blocks": [
    {
      "type": "testimonial_item",
      "label": "Testimonial",
      "settings": [
        {
          "type": "header",
          "content": "Media"
        },
        {
          "type": "image_picker",
          "id": "testimonial_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "testimonial_author",
          "label": "Author",
          "default": "Layla"
        },
        {
          "type": "textarea",
          "id": "testimonial_content",
          "label": "Content",
          "default": "I've struggled with acne for years, but after using this product for just a few weeks, my skin is clear and radiant. "
        },
        {
          "type": "product",
          "id": "testimonial_product",
          "label": "Product"
        }
      ]
    }
  ]
}
{% endschema %}
