{{ 'section.thankyou.css' | asset_url | stylesheet_tag }}

<div ui-section="thankyou">
  <div class="order-summary">
    <div class="summary-head">
      {% render 'const.payment-status', status: order.paymentStatusSlug %}
    </div>
    <div ui-slot="divider" role="separator" data-variant="solid-text">
      {{ 'order.products' | t }}
    </div>
    <div class="order-info">
      {% for product in order.order_variants %}
        <div class="product">
          <div class="image">
            {% if product.image %}
              <img
                src="{{ product.image }}"
                alt="{{ product.name }}"
                height="100%"
                width="100%"
              >
            {% else %}
              {% render 'misc.image-fallback' %}
            {% endif %}
          </div>
          <div class="content">
            <span class="title">{{ product.name }}</span>
            <span class="count">x{{ product.quantity }}</span>
          </div>
          <div class="value">{{ product.price | default: 0 | money }}</div>
        </div>
      {% endfor %}
    </div>
    <div ui-slot="divider" role="separator" data-variant="solid-text">
      {{ 'order.payment' | t }}
    </div>
    <div class="order-info">
      <div class="item">
        <span class="label">{{ 'order.payment_method.label' | t }}:</span>
        <span class="value">
          {% assign payment_gateway = order.gatewayType %}
          {% render 'const.payment-gateway', type: payment_gateway %}
        </span>
      </div>
    </div>
    <div ui-slot="divider" role="separator" data-variant="solid-text">
      {{ 'order.order_summary' | t }}
    </div>
    <div class="order-info">
      <div class="item">
        <span class="label">{{ 'order.subtotal' | t }}</span>
        <span class="value">{{ order.sub_total | default: 0 | money }}</span>
      </div>
      {% if order.coupon != null %}
        <div class="item">
          <span class="label">{{ 'order.coupon_code' | t }}</span>
          <div class="value">{{ order.coupon.code }}</div>
        </div>
        <div class="item">
          <span class="label">{{ 'order.discount_amount' | t }}</span>
          <span class="value">
            {% render 'const.discount-value', coupon: order.coupon %}
          </span>
        </div>
      {% endif %}
      {% if order.vat != 0 %}
        <div class="item">
          <span class="label">{{ 'cart.page.summary.vat' | t }} ({{ order.vat | times: 100 | append: '%' }})</span>
          <span class="value">{{ order.total_tax_amount | default: 0 | money }}</span>
        </div>
      {% endif %}
      <div class="item">
        <span class="label">{{ 'order.shipping' | t }}</span>
        {% if order.shippingCost == 0 or order.shippingCost == null %}
          {% assign shipping_cost = 'order.free' | t %}
        {% else %}
          {% assign shipping_cost = order.shippingCost | default: 0 | money %}
        {% endif %}
        <span class="value">{{ shipping_cost }}</span>
      </div>
      <div class="item">
        <span class="label">{{ 'order.total' | t }}</span>
        <span class="value total">{{ order.total | default: 0 | money }}</span>
      </div>
      <a
        href="{{ routes.root_url |  default: "/" }}"
        ui-slot="button"
        data-variant="neutral"
        data-mode="stroke"
        data-size="lg"
      >
        {{ 'order.action' | t }}
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "label": "Thank You",
  "templates": ["thankyou"],
  "limit": 1
}
{% endschema %}
