{% comment %}
  Renders a social link item (Block)

  Accepts:
  - type: {String} Social link type (Facebook, Instagram, TikTok, Snapchat, Whatsapp, X...)
  - href: {String} Social link source
  - target_arrow: {Boolean} Control the target arrow visibility
  - youcan_attributes: {String} (optional) YouCan attributes (allow blocks to be highlighted in the theme editor)

  Usage:
  {% render 'block-social', type: 'facebook', href: 'https://www.facebook.com' %}
{% endcomment %}

<li block="social" {{ youcan_attributes }}>
  <a href="{{ href | default: "#" }}" target="_blank">
    {%- case type -%}
      {% when 'facebook' %}
        <span>{{ 'socials.facebook' | t }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.18182 10.3333C5.20406 10.3333 5 10.5252 5 11.4444V13.1111C5 14.0304 5.20406 14.2222 6.18182 14.2222H8.54545V20.8889C8.54545 21.8081 8.74951 22 9.72727 22H12.0909C13.0687 22 13.2727 21.8081 13.2727 20.8889V14.2222H15.9267C16.6683 14.2222 16.8594 14.0867 17.0631 13.4164L17.5696 11.7497C17.9185 10.6014 17.7035 10.3333 16.4332 10.3333H13.2727V7.55556C13.2727 6.94191 13.8018 6.44444 14.4545 6.44444H17.8182C18.7959 6.44444 19 6.25259 19 5.33333V3.11111C19 2.19185 18.7959 2 17.8182 2H14.4545C11.191 2 8.54545 4.48731 8.54545 7.55556V10.3333H6.18182Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
        </svg>
      {% when 'instagram' %}
        <span>{{ 'socials.instagram' | t }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none">
          <path d="M2.5 12C2.5 7.52166 2.5 5.28249 3.89124 3.89124C5.28249 2.5 7.52166 2.5 12 2.5C16.4783 2.5 18.7175 2.5 20.1088 3.89124C21.5 5.28249 21.5 7.52166 21.5 12C21.5 16.4783 21.5 18.7175 20.1088 20.1088C18.7175 21.5 16.4783 21.5 12 21.5C7.52166 21.5 5.28249 21.5 3.89124 20.1088C2.5 18.7175 2.5 16.4783 2.5 12Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
          <path d="M16.5 12C16.5 14.4853 14.4853 16.5 12 16.5C9.51472 16.5 7.5 14.4853 7.5 12C7.5 9.51472 9.51472 7.5 12 7.5C14.4853 7.5 16.5 9.51472 16.5 12Z" stroke="currentColor" stroke-width="1.5"/>
          <path d="M17.5078 6.5L17.4988 6.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      {% when 'tiktok' %}
        <span>{{ 'socials.tiktok' | t }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none">
          <path d="M16.8217 5.1344C16.0886 4.29394 15.6479 3.19805 15.6479 2H14.7293M16.8217 5.1344C17.4898 5.90063 18.3944 6.45788 19.4245 6.67608C19.7446 6.74574 20.0786 6.78293 20.4266 6.78293V10.2191C18.645 10.2191 16.9932 9.64801 15.6477 8.68211V15.6707C15.6477 19.1627 12.8082 22 9.32386 22C7.50043 22 5.85334 21.2198 4.69806 19.98C3.64486 18.847 2.99994 17.3331 2.99994 15.6707C2.99994 12.2298 5.75592 9.42509 9.17073 9.35079M16.8217 5.1344C16.8039 5.12276 16.7861 5.11101 16.7684 5.09914M6.9855 17.3517C6.64217 16.8781 6.43802 16.2977 6.43802 15.6661C6.43802 14.0734 7.73249 12.7778 9.32394 12.7778C9.62087 12.7778 9.9085 12.8288 10.1776 12.9124V9.40192C9.89921 9.36473 9.61622 9.34149 9.32394 9.34149C9.27287 9.34149 8.86177 9.36884 8.81073 9.36884M14.7244 2H12.2097L12.2051 15.7775C12.1494 17.3192 10.8781 18.5591 9.32386 18.5591C8.35878 18.5591 7.50971 18.0808 6.98079 17.3564" stroke="currentColor" stroke-linejoin="round"/>
        </svg>
      {% when 'snapchat' %}
        <span>{{ 'socials.snapchat' | t }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none">
          <path d="M19.5404 18.6947C20.0401 18.3741 20.6836 18.4316 21.6521 17.8965C22.269 17.5559 21.9175 17.3459 21.7185 17.2464C18.2115 15.5503 17.652 12.9278 17.6277 12.731C17.5967 12.4944 17.5636 12.3087 17.8223 12.0699C18.0722 11.8377 19.1844 11.15 19.4918 10.9355C20.0003 10.5795 20.2259 10.2235 20.06 9.7857C19.9451 9.48498 19.662 9.36999 19.3635 9.36999C19.2706 9.36999 19.1756 9.38105 19.0849 9.40095C18.5255 9.52257 17.9815 9.80339 17.6675 9.87857C17.6255 9.88963 17.5857 9.89405 17.5525 9.89405C17.3867 9.89405 17.3248 9.81887 17.338 9.61765C17.3778 9.00514 17.4619 7.81108 17.3646 6.69442C17.2319 5.15762 16.7366 4.39696 16.1484 3.72475C15.8654 3.40191 14.5453 2 12.0024 2C9.46609 2 8.13936 3.40191 7.85632 3.72475C7.26814 4.39917 6.77283 5.15983 6.64015 6.69442C6.54286 7.81108 6.63131 9.00514 6.66669 9.61765C6.67774 9.81003 6.62025 9.89405 6.4522 9.89405C6.41903 9.89405 6.38144 9.88963 6.33721 9.87857C6.02322 9.80339 5.47926 9.52257 4.91982 9.40095C4.82916 9.38105 4.73408 9.36999 4.64121 9.36999C4.3427 9.36999 4.05966 9.48277 3.94468 9.7857C3.77883 10.2235 4.00217 10.5795 4.51296 10.9355C4.82032 11.15 5.93256 11.8377 6.18243 12.0699C6.44114 12.3109 6.40797 12.4967 6.37702 12.731C6.35048 12.9278 5.79325 15.5503 2.28626 17.2464C2.08062 17.3459 1.73125 17.5559 2.34818 17.8965C3.31669 18.4294 3.96015 18.3719 4.45989 18.6947C4.88444 18.9689 4.63458 19.5593 4.94194 19.7716C5.32005 20.0347 6.44335 19.7539 7.8917 20.2315C9.10345 20.6317 9.84421 21.7617 12.0001 21.7617C14.1517 21.7617 14.9145 20.6273 16.1086 20.2315C17.5569 19.7539 18.678 20.0347 19.0584 19.7716C19.3657 19.5593 19.1158 18.9689 19.5404 18.6947Z" stroke="currentColor" stroke-linejoin="round"/>
        </svg>
      {% when 'whatsapp' %}
        <span>{{ 'socials.whatsapp' | t }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none">
          <path d="M8.6175 12.4037L10.4966 10.5L10.0004 7H7C7.00036 10 8.58063 13.4407 11.6225 15.4209M11.6225 15.4209C13.1131 16.3912 14.9993 17 17 17V14L13.4982 13.5L11.6225 15.4209Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12.0019 22.002C17.5259 22.002 22.0039 17.5239 22.0039 12C22.0039 6.47607 17.5259 1.99805 12.0019 1.99805C6.47802 1.99805 2 6.47607 2 12C2 13.8889 2.43396 15.4979 3.34399 17.005L2.00177 22L6.97239 20.666C8.48539 21.5862 10.1017 22.002 12.0019 22.002Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      {% when 'x-twitter' %}
        <span>{{ 'socials.x' | t }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none">
          <path d="M3 21L10.5484 13.4516M21 3L13.4516 10.5484M13.4516 10.5484L8 3H3L10.5484 13.4516M13.4516 10.5484L21 21H16L10.5484 13.4516" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      {% else %}

    {% endcase %}
    {% if target_arrow %}
      {% render 'ui-icon', name: 'call_made', size: 20 %}
    {% endif %}
  </a>
</li>
