{% comment %}
  Renders a collection item (Block)

  Accepts:
  - collection: {Object} Collection info
  - action: {String} Collection action button content
  - youcan_attributes: {String} (optional) YouCan attributes (allow blocks to be highlighted in the theme editor)

  Usage:
  {% render 'block-collection', collection: {...}, action: "View collection" %}
{% endcomment %}

<li block="collection" {{ youcan_attributes }}>
  <div class="media">
    {% if collection.preview_image %}
      <img
        srcset="
          {{ collection.preview_image.medium }} 480w,
          {{ collection.preview_image.large }} 800w,
          {{ collection.preview_image.original }} 1200w
        "
        sizes="
          (max-width: 640px) 50vw,
          (max-width: 768px) 33vw,
          (max-width: 1024px) 25vw,
          33vw
        "
        src="{{ collection.preview_image.original }}"
        alt="{{ collection.name }}"
        height="100%"
        width="100%"
      >
    {% else %}
      {% render 'ui-icon', name: 'image', size: 60, filled: true %}
    {% endif %}
  </div>
  <div class="content">
    <div class="text">
      <span class="title">{{ collection.name | default: 'My collection' }}</span>
      {% if collection.description %}
        <p class="description">{{ collection.description }}</p>
      {% endif %}
    </div>
    <a href="/collections/{{ collection.slug }}" ui-link="secondary" class="action">{{ action }}</a>
  </div>
</li>
