{{ 'core.express-checkout.css' | asset_url | stylesheet_tag }}

{% comment %}
  Renders an icon (Material Icons)

  Accepts:
  - fields: {Array} Checkout fields

  Usage:
  {% render 'core-express-checkout', name: [...] %}
{% endcomment %}

{% assign fields = checkout.fields %}
{% assign linked_fields = 'country,region,city' %}
{% assign has_linked_fields = checkout.linked_fields %}
{% assign has_phone_validation = checkout.phone_validation %}

<ui-express-checkout>
  {% for field in fields %}
    {% assign field_name = field.name %}

    {% if field.custom %}
      {% assign field_name = 'extra_fields[' | append: field.name | append: ']' %}
    {% endif %}

    {% unless has_linked_fields and linked_fields contains field.name %}
      {% if field.name == 'phone' and has_phone_validation %}
        {% render 'misc-phone-validation', field: field %}
      {% else %}
        <label ui-express-checkout-field>
          <span ui-express-checkout-label>{{ field.display_name }}</span>
          {% case field.type %}
            {% when 'text', 'number', 'hidden' %}
              <input
                {% if field.name == 'phone' or field.type == 'number' %}
                  inputmode="tel"
                {% endif %}
                {% if field.name == 'email' %}
                  inputmode="email"
                {% endif %}
                type="{{ field.type }}"
                name="{{ field_name }}"
                value="{{ field.default_value }}"
                placeholder="{{ field.placeholder }}"
                {% if field.required %}
                  required
                {% endif %}
              >
            {% when 'textarea' %}
              <textarea
                name="{{ field_name }}"
                placeholder="{{ field.placeholder }}"
                {% if field.required %}
                  required
                {% endif %}
              ></textarea>
            {% when 'select' %}
              <select
                name="{{ field_name }}"
                {% if field.required %}
                  required
                {% endif %}
              >
                {% for opt in field.options %}
                  <option
                    value="{{ opt }}"
                    {% if option == field.default_value %}
                      selected
                    {% endif %}
                  >
                    {{ opt }}
                  </option>
                {% endfor %}
              </select>
          {% endcase %}
        </label>
      {% endif %}
    {% endunless %}
  {% endfor %}

  {% if has_linked_fields or has_phone_validation %}
    {% javascript %}
      window.storeMarketCountries = new Promise((resolve) => {
        document.addEventListener('DOMContentLoaded', async () => {
          const data = await youcanjs.misc.getStoreMarketCountries();
          resolve(data);
        });
      });
    {% endjavascript %}
  {% endif %}

  {% if has_linked_fields %}
    {% render 'misc-linked-fields', fields: fields %}
  {% endif %}
</ui-express-checkout>
