{% comment %}
  Renders cart drawer bundle item

  Accepts:
  - bundle: {Object} bundle info

  Usage:
  {% render 'misc-cart-drawer-item' %}
{% endcomment %}

<div class="item">
  <div class="image" ui-cart-item="image">
    {% if bundle.image %}
      <img src="{{ bundle.image }}" alt="{{ bundle.name }}" width="50" height="50">
    {% else %}
      {% render 'ui-icon', name: 'image', filled: true %}
    {% endif %}
  </div>
  <div class="info">
    <span class="name">{{ bundle.name }}</span>
    <div class="variants">
      {% for variant in bundle.variations %}
        <span>{{ variant[1] }}</span>
        {% unless forloop.index == bundle.variations.size - 1 %}
          <span>/</span>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
  <div class="price">
    <span class="original">{{ bundle.price | money }}</span>
    <span class="compare-at">{{ bundle.price | money }}</span>
  </div>
</div>
