{{ 'featured-products.css' | asset_url | stylesheet_tag }}
{{ 'countdown.css' | asset_url | stylesheet_tag }}

{% assign max_index = 3 %}
{% if index == nil or index > max_index %}
  {% assign index = 0 %}
{% endif %}

{% assign random_titles = "Product A,Product B,Product C,Product D" | split: "," %}
{% assign random_prices = "19.99,19.99,19.99,19.99" | split: "," %}

<div class='product-block featured-product-placeholder'>
  <div class='product-thumbnail'>
    {% assign incremented_index = index | plus: 1 %}
    {% assign product_image = "product-placeholder-" | append: incremented_index | append: '.png' %}
    <img 
      src="{{ product_image | asset_url  }}" 
      loading="lazy" width="194" style="height: auto;" 
      alt="{{ random_titles[index] }}" 
    />
  </div>
  <div class='product-details'>
    <span class='product-title'>{{ random_titles[index] }}</span>
  </div>
  <div class="prices">
    <span class='product-price'>{{ random_prices[index] | money }}</span>
  </div>
</div>
