<div class='quantity-wrapper'>
  <div class='decrease'>
    <button onclick="updateQuantity('{{ item.id }}', '{{ item.product_variant_id }}', '{{ item.quantity | minus: 1 }}')">
      -
    </button>
  </div>
  <input
    onchange="updateOnchange('{{ item.id }}', '{{ item.product_variant_id }}', {{ item.inventory }})"
    oninput="restrictInputValue(event.target, {{ item.inventory }})"
    type='text'
    value='{{ item.quantity }}'
    id='{{ item.product_variant_id }}'
    aria-label="quantity"
  >
  <div class='increase'>
    <button onclick="updateQuantity('{{ item.id }}', '{{ item.product_variant_id }}', '{{ item.quantity | plus: 1 }}')">
      +
    </button>
  </div>
</div>
