{{ 'section.multicolumn.css' | asset_url | stylesheet_tag }}

{% if section.settings.custom_color %}
  {% style %}
    #youcan-section--{{ section.id }}:has([ui-section="multicolumn"]) {
      --brand-lightness: {{ section.settings.color.lightness | divided_by: 100 }};
      --brand-chroma: {{ section.settings.color.chroma }};
      --brand-hue: {{ section.settings.color.oklch_hue }};
    }
  {% endstyle %}
{% endif %}

<div
  ui-section="multicolumn"
  {% if section.settings.custom_color %}
    data-custom-color
    data-theme="{{ section.settings.theme }}"
  {% endif %}
>
  {% if section.settings.heading %}
    <div class="head">
      <h2 class="title">{{ section.settings.heading }}</h2>
    </div>
  {% endif %}
  {% if section.blocks.size %}
    <ul class="list">
      {% for block in section.blocks %}
        <li {{ block.youcan_attributes }}>
          {% if block.settings.link %}
            <a class="column-item" href="{{ block.settings.link }}" target="{{ block.settings.url_target }}">
          {% else %}
            <div class="column-item">
          {% endif %}
          {% if block.settings.show_image %}
            <div class="media" data-aspect-ratio="{{ section.settings.image_aspect_ratio }}">
              {% if block.settings.image %}
                <img
                  src="{{ block.settings.image.src }}"
                  alt="{{ block.settings.title }}"
                  height="100%"
                  width="100%"
                  loading="lazy"
                >
              {% else %}
                {% render 'misc.image-fallback' %}
              {% endif %}
            </div>
          {% endif %}
          <div class="info">
            {% if block.settings.title %}
              <h2 class="heading">{{ block.settings.title }}</h2>
            {% endif %}
            {% if block.settings.description %}
              <p class="description">{{ block.settings.description }}</p>
            {% endif %}
          </div>
          {% if block.settings.link %}
            </a>
          {% else %}
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {% render 'misc.empty', type: 'block' %}
  {% endif %}
</div>

{% schema %}
{
  "label": "t:sections.multicolumn.label",
  "limit": 3,
  "max_blocks": 12,
  "settings": [
    { "type": "header", "content": "t:common.headers.header" },
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.header.heading",
      "default": "t:sections.multicolumn.default.heading"
    },
    { "type": "header", "content": "t:common.headers.appearance" },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "t:common.aspect_ratio.with_image",
      "options": [
        { "label": "t:common.aspect_ratio.options.square", "value": "square" },
        { "label": "t:common.aspect_ratio.options.portrait", "value": "portrait" },
        { "label": "t:common.aspect_ratio.options.landscape", "value": "landscape" }
      ],
      "default": "square"
    },
    { "type": "checkbox", "id": "custom_color", "label": "t:common.custom_color.label", "default": false },
    {
      "type": "color",
      "id": "color",
      "label": "t:common.custom_color.color",
      "default": "#121212",
      "visible_if": { "setting_id": "custom_color", "value": true }
    },
    {
      "type": "select",
      "id": "theme",
      "label": "t:common.custom_color.theme.label",
      "options": [
        { "label": "t:common.custom_color.theme.options.light", "value": "light" },
        { "label": "t:common.custom_color.theme.options.dark", "value": "dark" }
      ],
      "default": "light",
      "visible_if": { "setting_id": "custom_color", "value": true }
    }
  ],
  "blocks": [
    {
      "type": "column",
      "label": "t:sections.multicolumn.blocks.column.label",
      "settings": [
        { "type": "header", "content": "t:common.headers.content" },
        {
          "type": "text",
          "id": "title",
          "label": "t:common.content.title",
          "default": "t:sections.multicolumn.blocks.column.default.title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:common.content.description",
          "default": "t:sections.multicolumn.blocks.column.default.content"
        },
        { "type": "header", "content": "t:common.headers.media" },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.media.image",
          "visible_if": { "setting_id": "show_image", "value": true }
        },
        { "type": "checkbox", "id": "show_image", "label": "t:common.media.show_image", "default": true },
        { "type": "header", "content": "t:common.headers.link" },
        { "type": "url", "id": "link", "label": "t:common.link.url" },
        {
          "type": "select",
          "id": "url_target",
          "label": "t:common.link.open_link_in.label",
          "options": [
            { "label": "t:common.link.open_link_in.options.same_tab", "value": "_self" },
            { "label": "t:common.link.open_link_in.options.new_tab", "value": "_blank" }
          ],
          "default": "_self"
        }
      ]
    }
  ]
}
{% endschema %}
