{{ 'section.special-offer.css' | asset_url | stylesheet_tag }}
{{ 'section.special-offer.js' | asset_url | script_tag_deferred }}

{% style %}
  #youcan-section--{{ section.id }} {
    position: absolute;
    transform: scale(0);
  }
{% endstyle %}

{% if section.settings.custom_color %}
  {% style %}
    #youcan-section--{{ section.id }}:has([ui-section="special-offer"]) {
      --brand-lightness: {{ section.settings.color.lightness | divided_by: 100 }};
      --brand-chroma: {{ section.settings.color.chroma }};
      --brand-hue: {{ section.settings.color.oklch_hue }};
    }
  {% endstyle %}
{% endif %}

{% if section.settings.enabled and settings.shopping_flow != 'express_checkout' %}
  <ui-special-offer
    ui-section="special-offer"
    ui-slot="drawer-content"
    id="offer"
    popover="manual"
    {% if section.settings.custom_color %}
      data-custom-color
      data-theme="{{ section.settings.theme }}"
    {% endif %}
  >
    <div ui-slot="drawer-header">
      <h3 ui-slot="drawer-title">{{ section.settings.heading }}</h3>
      <button
        type="button"
        ui-slot="button"
        data-mode="ghost"
        data-size="md"
        data-as-icon
        aria-label="Close"
        ui-special-offer="skip"
      >
        {% render 'misc.icon', name: 'hgi-cancel-01' %}
      </button>
    </div>
    <div ui-slot="drawer-body">
      <div class="offer">
        {% if section.settings.note %}
          <div class="head">
            <span class="heading">{{ section.settings.note }}</span>
          </div>
        {% endif %}
        {% if product.related_products.size %}
          <ul class="list">
            {% for p in product.related_products %}
              {% assign default_variant = p.selected_or_first_available_variant %}
              {% assign price = default_variant.price | default: p.price %}
              {% assign compare_at_price = default_variant.compare_at_price | default: p.compare_at_price %}

              <li class="product-item">
                {% assign default_title = 'general.product' | t | append: ' ' | append: forloop.index %}
                {% assign title = p.name | default: default_title %}

                <a class="media" href="{{ p.url }}" title="{{ title }}">
                  {% if p.preview_image %}
                    <img
                      src="{{ p.preview_image.original }}"
                      alt="{{ title }}"
                      height="65"
                      width="65"
                      loading="lazy"
                    >
                  {% else %}
                    {% render 'misc.image-fallback', type: 'product', icon_size: 40 %}
                  {% endif %}
                  {% unless default_variant.available %}
                    <div class="sold-out">
                      <span ui-slot="status-badge" data-variant="stroke" data-status="failed" data-size="xs">{{ 'general.sold_out' | t }}</span>
                    </div>
                  {% endunless %}
                </a>
                <div class="info">
                  <a class="name" href="{{ p.url }}" title="{{ title }}">{{ title }}</a>
                  <div class="price">
                    <span class="original">{{ price | default: 0 | money }}</span>
                    {% if compare_at_price %}
                      <span class="compare-at">{{ compare_at_price | default: 0 | money }}</span>
                    {% endif %}
                  </div>
                  {% unless default_variant.variations == null or default_variant.variations.default %}
                    <div class="variants">
                      {% for variant in default_variant.variations %}
                        <span class="variant">{{ variant[1] }}</span>
                      {% endfor %}
                    </div>
                  {% endunless %}
                </div>
                <input
                  ui-slot="checkbox"
                  type="checkbox"
                  value="{{ default_variant.id }}"
                  {% unless default_variant.available %}
                    disabled
                  {% endunless %}
                  ui-special-offer="item"
                >
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
    <div class="actions" ui-slot="drawer-footer">
      <button ui-slot="button" data-mode="filled" data-size="lg" ui-special-offer="submit" disabled>
        <span>-</span>
      </button>
      <button ui-slot="button" data-mode="ghost" data-size="lg" ui-special-offer="skip">
        {{ 'special_offer.skip_this_offer' | t }}
      </button>
    </div>
  </ui-special-offer>
{% endif %}

{% schema %}
{
  "label": "t:sections.special_offer.label",
  "settings": [
    { "type": "paragraph", "content": "t:sections.special_offer.hint" },
    { "type": "paragraph", "content": "t:sections.special_offer.warning" },
    { "type": "checkbox", "id": "enabled", "label": "t:sections.special_offer.enabled", "default": false },
    { "type": "header", "content": "t:common.headers.content" },
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.header.heading",
      "default": "t:sections.special_offer.default.heading"
    },
    {
      "type": "textarea",
      "id": "note",
      "label": "t:sections.special_offer.note",
      "default": "t:sections.special_offer.default.note"
    },
    { "type": "header", "content": "t:common.headers.appearance" },
    { "type": "checkbox", "id": "custom_color", "label": "t:common.custom_color.label", "default": false },
    {
      "type": "color",
      "id": "color",
      "label": "t:common.custom_color.color",
      "default": "#121212",
      "visible_if": { "setting_id": "custom_color", "value": true }
    },
    {
      "type": "select",
      "id": "theme",
      "label": "t:common.custom_color.theme.label",
      "options": [
        { "label": "t:common.custom_color.theme.options.light", "value": "light" },
        { "label": "t:common.custom_color.theme.options.dark", "value": "dark" }
      ],
      "default": "light",
      "visible_if": { "setting_id": "custom_color", "value": true }
    }
  ]
}
{% endschema %}
