{% comment %}
  Renders a column item (Block)

  Accepts:
    - column: {Object} Item info

  Usage:
  {% render 'block.column' %}
{% endcomment %}

<li ui-block="column" data-alignment="{{ section.settings.alignment }}" {{ column.youcan_attributes }}>
  <div class="media" data-size="{{ column.settings.column_image_size }}">
    {% if column.settings.column_image.src %}
      <img
        src="{{ column.settings.column_image.src }}"
        alt="{{ column.settings.column_heading }}"
        height="100%"
        width="100%"
      >
    {% else %}
      {% render 'misc.image-fallback', icon_size: 40 %}
    {% endif %}
  </div>
  <div class="content">
    <h3 class="heading">{{ column.settings.column_heading }}</h3>
    <p class="description">{{ column.settings.column_description }}</p>
  </div>
</li>
