{% comment %}
  Renders a product item (Block)

  Accepts:
  - product: {Object} Item info

  Usage:
  {% render 'block.product-item', product: {...} %}
{% endcomment %}

{% assign default_variant = product.settings.block_product.selected_or_first_available_variant %}
{% assign price = default_variant.price | default: product.settings.block_product.price %}
{% assign compare_at_price = default_variant.compare_at_price | default: product.settings.block_product.compare_at_price %}

<ui-product
  ui-block="product-item"
  product-id="{{ product.settings.block_product.id }}"
  {{ product.youcan_attributes }}
>
  <a class="media" href="/products/{{ product.settings.block_product.slug }}">
    {% if product.settings.block_product.preview_image %}
      <img
        src="{{ product.settings.block_product.preview_image.original }}"
        alt="{{ product.settings.block_product.name }}"
        height="100%"
        width="100%"
        loading="lazy"
      >
    {% else %}
      {% render 'misc.image-fallback', icon_size: 20 %}
    {% endif %}
  </a>
  <div class="main-info">
    <a
      class="title"
      ui-slot="link-button"
      data-variant="black"
      data-size="md"
      href="/products/{{ product.settings.block_product.slug }}"
    >
      {{ product.settings.block_product.name | default: 'Product name' }}
    </a>
    <ui-variants>
      {% for variant in product.settings.block_product.options %}
        {% assign default = '' %}
        {% assign name_id = 100 | rand: 2000 %}
        {% assign unique_name = variant.name | append: '_' | append: name_id %}

        {% for variation in product.settings.block_product.selected_or_first_available_variant.variations %}
          {% if variation[0] == variant.name %}
            {% assign default = variation[1] %}
          {% endif %}
        {% endfor %}

        <div ui-variant="{{ variant.type }}">
          <select ui-slot="input" data-size="sm" name="{{ unique_name }}">
            {% for opt in variant.values %}
              {% assign label = opt %}
              {% assign value = opt %}

              {% if variant.type == 'color_base_buttons' or variant.type == 'image_based_buttons' %}
                {% assign label = opt.value %}
                {% assign value = opt.value %}
              {% endif %}
              <option
                value="{{ value }}"
                {% if value == default %}
                  selected
                {% endif %}
              >
                {{ label }}
              </option>
            {% endfor %}
          </select>
        </div>
      {% endfor %}
    </ui-variants>
  </div>
  <div class="secondary-info">
    <div class="price">
      {% if compare_at_price %}
        <s class="compare-at-price"> {{ compare_at_price | default: 0 | money }} </s>
      {% endif %}
      <span class="original-price"> {{ price | default: 0 | money }} </span>
    </div>    
    {% render 'core.shop-button', product: product.settings.block_product, as_icon: true, mode: 'lighter' %}
  </div>
</ui-product>
