{% comment %}
  Renders a product showcase item (Block)

  Accepts:
  - product: {Object} Item info

  Usage:
  {% render 'block.showcase', product: {...} %}
{% endcomment %}

{% assign default_variant = product.settings.product.selected_or_first_available_variant %}
{% assign price = default_variant.price | default: product.settings.product.price %}
{% assign compare_at_price = default_variant.compare_at_price | default: product.settings.product.compare_at_price %}

<li ui-carousel="item" ui-block="showcase" ui-slot="carousel-item" {{ product.youcan_attributes }}>
  <a href="{{ product.settings.product.url }}" class="media">
    {% if product.settings.product.preview_image %}
      <img
        srcset="
          {{ product.settings.product.preview_image.medium }} 480w,
          {{ product.settings.product.preview_image.large }} 800w,
          {{ product.settings.product.preview_image.original }} 1200w
        "
        sizes="
          (max-width: 640px) 50vw,
          (max-width: 768px) 33vw,
          (max-width: 1024px) 25vw,
          33vw
        "
        src="{{ product.settings.product.preview_image.original }}"
        alt="{{ product.settings.product.name }}"
        height="100%"
        width="100%"
        loading="lazy"
      >
    {% else %}
      {% render 'misc.image-fallback', icon_size: 40 %}
    {% endif %}
  </a>
  <div class="content">
    {% if product.settings.badge_text %}
      <div
        class="badge"
        ui-slot="status-badge"
        data-variant="light"
        data-status="primary"
      >
        {{ product.settings.badge_text }}
      </div>
    {% endif %}
    <a class="title" ui-slot="link-button" data-variant="black" data-size="md" href="/">
      {% assign placeholder = 'product.title' | t %}
      {{ product.settings.product.name | default: placeholder }}
    </a>
    <div class="price">
      <span class="original-price">
        {{ price | default: 0 | money }}
      </span>
      {% if compare_at_price %}
        <s class="compare-at-price">
          {{ compare_at_price | default: 0 | money }}
        </s>
      {% endif %}
    </div>
    {% if product.settings.product.description %}
      <article class="description">
        {{ product.settings.product.description }}
      </article>
    {% endif %}
    <a
      class="cta"
      ui-slot="button"
      data-variant="primary"
      data-mode="filled"
      data-size="lg"
      href="{{ product.settings.product.url }}"
    >
      {{ 'general.shop_now' | t }}
    </a>
  </div>
</li>
