{% comment %}
  Renders a product card (Block)

  Accepts:
  - product: {Object} Item info

  Usage:
  {% render 'block.product', product: {...} %}
{% endcomment %}

{% assign default_variant = product.selected_or_first_available_variant %}
{% assign price = default_variant.price | default: product.price %}
{% assign compare_at_price = default_variant.compare_at_price | default: product.compare_at_price %}

<li
  ui-block="product"
  data-alignment="{{ settings.product_alignment }}"
  data-image-ratio="{{ settings.product_image_ratio }}"
  {{ product.youcan_attributes }}
>
  <a href="{{ product.url }}" class="media">
    {% if product.preview_image %}
      <img
        srcset="
          {{ product.preview_image.medium }} 480w,
          {{ product.preview_image.large }} 800w,
          {{ product.preview_image.original }} 1200w
        "
        sizes="
          (max-width: 640px) 50vw,
          (max-width: 768px) 33vw,
          (max-width: 1024px) 25vw,
          33vw
        "
        src="{{ product.preview_image.original }}"
        alt="{{ product.name }}"
        height="100%"
        width="100%"
      >
    {% else %}
      {% render 'misc.image-fallback', icon_size: 40 %}
    {% endif %}
  </a>
  <div class="content">
    <a class="title" ui-slot="link-button" data-variant="black" data-size="md" href="/">
      {% assign placeholder = 'product.title' | t %}
      {{ product.name | default: placeholder }}
    </a>
    <div class="price">
      <span class="original-price">
        {{ price | default: 0 | money }}
      </span>
      {% if compare_at_price %}
        <s class="compare-at-price">
          {{ compare_at_price | default: 0 | money }}
        </s>
      {% endif %}
    </div>
  </div>
  {% comment %} <div class="badge" ui-slot="badge" data-variant="filled" data-size="md" data-color="red" data-square="true">
    {% if settings.sale_badge_type == 'text' %} New {% else %} -20% {% endif %}
  </div> {% endcomment %}
  <button class="main-action" ui-slot="button" data-variant="neutral" data-mode="filled" data-size="lg">Add to Cart</button>
  <button
    class="secondary-action"
    ui-slot="button"
    data-variant="neutral"
    data-mode="lighter"
    data-size="lg"
    data-as-icon
  >
    {% render 'misc.icon', name: 'hgi-shopping-bag-01' %}
  </button>
</li>
