{% comment %}
  Renders a product item (Block)

  Accepts:
  - product: {Object} Item info

  Usage:
  {% render 'block.product-item', product: {...} %}
{% endcomment %}

{% assign default_variant = product.selected_or_first_available_variant %}
{% assign price = default_variant.price | default: product.price %}
{% assign compare_at_price = default_variant.compare_at_price | default: product.compare_at_price %}

<li ui-block="product-item" {{ product.youcan_attributes }}>
  <a class="media" href="#">
    {% render 'misc.image-fallback' %}
  </a>
  <div class="main-info">
    <a class="title" ui-slot="link-button" data-variant="black" data-size="md" href="#">Chanel No. 5</a>
    <ui-select ui-slot="select" data-size="md" data-variant="compact">
      <button ui-slot="select-trigger" popovertarget="my-select-{{ forloop.index }}" type="button">
        {{ 'general.select' | t }}
      </button>

      <div ui-slot="select-content" id="my-select-{{ forloop.index }}" popover>
        {% for opt in (1..4) %}
          <button ui-slot="select-option" popovertarget="my-select-{{ forloop.index }}" type="button">
            <label>
              <input type="radio" name="text" value="option-{{ opt }}">
              Option {{ opt }}
            </label>
          </button>
        {% endfor %}
      </div>
    </ui-select>
  </div>
  <div class="secondary-info">
    <div class="price">
      <s class="compare-at-price"> {{ 0 | money }} </s>
      <span class="original-price"> {{ 0 | money }} </span>
    </div>
    <button ui-slot="button" data-variant="neutral" data-mode="stroke" data-size="lg" data-as-icon>
      {% render 'misc.icon', name: ' hgi-shopping-bag-01' %}
    </button>
  </div>
</li>
