{% comment %}
  Renders the cart item template (cart page)

  Accepts:
  - product: {Object} cart item info

  Usage:
  {% render 'misc-cart-item', product: {...} %}
{% endcomment %}

<tr>
  <td>
    <ui-cart-remove
      item="{{ product.id }}"
      product-variant="{{ product.product_variant_id }}"
    >
      <button
        ui-slot="button"
        data-variant="primary"
        data-mode="lighter"
        data-size="sm"
        data-as-icon
        aria-label="delete"
        ui-cart-item="delete-button"
      >
        {% render 'misc.icon', name: 'hgi-delete-02' %}
      </button>
    </ui-cart-remove>
  </td>
  <td>
    <div class="product">
      <div class="image" ui-cart-item="image">
        <img
          src="{{ product.image }}"
          alt="{{ product.name }}"
          height="100%"
          width="100%"
          {% if product.image contains '/store-front/images/product-default' %}
            hidden
          {% endif %}
        >
        {% if product.image contains '/store-front/images/product-default' %}
          {% render 'misc.image-fallback' %}
        {% else %}
          {% render 'misc.image-fallback', hidden: true %}
        {% endif %}
      </div>
      <div class="info">
        <a
          class="title"
          href="{{ product.url }}"
          ui-slot="link-button"
          data-size="md"
          ui-cart-item="title"
        >
          {{ product.name }}
        </a>
        <span
          class="variants"
          ui-cart-item="variant"
          {% if product.variations == null or product.variations.default %}
            hidden
          {% endif %}
        >
          {% for variant in product.variations %}
            <span>{{ variant[1] }}</span>
            {% unless forloop.index == product.variations.size - 1 %}
              <span>/</span>
            {% endunless %}
          {% endfor %}
        </span>
      </div>
    </div>
  </td>
  <td>
    <span class="price" ui-cart-item="price">{{ product.price | default: 0 | money }}</span>
  </td>
  <td>
    {% render 'core.quantity' %}
  </td>
  <td>
    {% assign subtotal = product.quantity | times: product.price %}
    <span class="subtotal" ui-cart-item="subtotal">{{ subtotal | money }}</span>
  </td>
</tr>
