{{ 'misc.cart-drawer.css' | asset_url | stylesheet_tag }}

{% comment %}
  Renders a cart drawer

  Usage:
  {% render 'misc.cart-drawer' %}
{% endcomment %}

<div ui-slot="sheet-content" id="cart" popover>
  <div ui-slot="sheet-header">
    <h2 ui-slot="sheet-title">{{ 'cart.title' | t }}</h2>
    <button
      ui-slot="button"
      data-variant="primary"
      data-mode="lighter"
      data-size="md"
      aria-label="Close"
      popovertarget="cart"
    >
      {% render 'misc.icon', name: 'hgi-cancel-01' %}
    </button>
  </div>
  <div ui-slot="sheet-body">
    {% render 'core.cart-form' %}
  </div>
  <div
    ui-slot="sheet-footer"
    {% unless cart.count > 0 %}
      hidden
    {% endunless %}
    ui-cart-drawer="footer"
  >
    <div class="footer">
      <span class="label">{{ 'cart.drawer.total' | t }}</span>
      <span class="value" ui-cart-item="subtotal">{{ cart.sub_total | default: 0 | money }}</span>
      <span class="description">{{ 'cart.drawer.note' | t }}</span>
    </div>
    <div class="navigation">
      <a
        href="/cart"
        ui-slot="button"
        data-variant="primary"
        data-mode="stroke"
        data-size="lg"
        popovertarget="cart"
      >
        {{ 'cart.drawer.actions.view_cart' | t }}
      </a>
      <a
        href="{{ cart.cart_submit_url }}"
        ui-slot="button"
        data-variant="primary"
        data-mode="filled"
        data-size="lg"
      >
        {% render 'misc.icon', name: settings.cart_icon %}
        {{ 'cart.drawer.actions.checkout' | t }}
      </a>
    </div>
  </div>
</div>
