<div class="bundle-item-row">
  <img
    src="{{ product.image }}"
    alt="{{ product.name }}"
    class="bundle-item-image"
    loading="lazy"
  >
  <div class="bundle-item-info">
    <a class="bundle-item-name" href="{{ product.url }}">{{ product.name }}</a>
    {% unless product.variations == null or product.variations.default %}
      <div class="bundle-item-variants">
        {% for variant in product.variations %}
          <span>{{ variant[0] }}: {{ variant[1] }}</span>
        {% endfor %}
      </div>
    {% endunless %}
  </div>
  <div class="bundle-item-price">
    {% assign subtotal = product.quantity | times: product.price %}
    {% if subtotal == 0 %}
      <div class="gift">
        {% render 'gift-icon' %}
        <span class="free">{{ 'general.free' | t }}</span>
      </div>
    {% else %}
      <span class="price">{{ subtotal | money }}</span>
    {% endif %}
  </div>
</div>
