<a
  href='/collections/{{ category.slug }}'
  class='collection-block'
  {{ block.youcan_attributes }}
>
  <div class='collection-thumbnail'>
    {% if category.image %}
      <img
        loading='lazy'
        src='{{ category.image }}'
        alt='{{ category.name }}'
      >
    {% else %}
      <img
        loading='lazy'
        src='{{ 'default_product.jpeg' | asset_url }}'
        alt='{{ category.name }}'
      >
    {% endif %}
  </div>
  <div class='collection-details'>
    <span class='collection-name'>{{ category.name }}</span>
  </div>
</a>
