{{ 'express-checkout.css' | asset_url | stylesheet_tag }}

{% assign checkout_id = 100 | rand: 2000 %}
{% assign linked_fields = 'country,region,city' %}
{% assign has_linked_fields = checkout.linked_fields %}
{% assign has_phone_validation = checkout.phone_validation %}

{% style %}
  {% if is_sticky %}
    body {
      padding-bottom: 80px;
    }

    #express-checkout-form {
      display: none;
    }
  {% endif %}

  .custom-checkout-{{ checkout_id }} {
    border: 1px solid {{ settings.form_border_colour.hex }};
  }

  .custom-checkout-{{ checkout_id }} .express-checkout-fields {
    grid-gap: {{ settings.inputs_gap }}px;
  }

  .custom-checkout-{{ checkout_id }} input, {
    padding: {{ settings.input_padding }}px;
  }

  .custom-checkout-{{ checkout_id }} input,
  .custom-checkout-{{ checkout_id }} textarea,
  .custom-checkout-{{ checkout_id }} select,
  .custom-checkout-{{ checkout_id }} .phone-fieldset {
    border-radius: {{ settings.input_border_radius }}px;
    font-size: {{ settings.input_text_size }}px !important;

    {% if settings.input_background_color %}
    background-color: {{ settings.input_background_color.hex }};
    {% endif %}

    {% if settings.input_text_color %}
    color: {{ settings.input_text_color.hex }};
    {% endif %}

    {% if settings.input_border_color %}
    border: 1px solid {{ settings.input_border_color.hex }};
    {% endif %}
  }

  .custom-checkout-{{ checkout_id }} select:not(.phone-select-menu),
  .custom-checkout-{{ checkout_id }} textarea {
    padding: calc({{ settings.input_padding }}px - 4px);
  }

  .express-checkout-button {
    padding: {{ settings.button_padding }}px;
    border-radius: {{ settings.button_border_radius }}px;
    font-size: {{ settings.button_text_size }}px;

    {% if settings.button_background_color %}
    background-color: {{ settings.button_background_color.hex }} !important;
    {% endif %}
  }

  .express-checkout-button span {
    font-weight: bold;
  }

  {% if settings.button_text_color %}
  .custom-checkout-{{ checkout_id }} button span {
    color: {{ settings.button_text_color.hex }} !important;
  }
  {% endif %}

  {% if settings.input_placeholder_color %}
  .custom-checkout-{{ checkout_id }} input::placeholder,
  .custom-checkout-{{ checkout_id }} textarea::placeholder {
    color: {{ settings.input_placeholder_color.hex }};
  }
  {% endif %}

  .express-checkout-button:disabled {
    background: #bdc3c7 !important;
    color: #ffffff !important;
    cursor: not-allowed;
  }

  {% if has_phone_validation %}
    .custom-checkout-{{ checkout_id }} .phone-countries-wrapper,
    .custom-checkout-{{ checkout_id }} .phone-number {
      padding: {{ settings.input_padding }}px;
    }

    .phone-countries-wrapper {
      border-inline-end: 1px solid {{ settings.input_border_color.hex }};
    }
  {% endif %}
{% endstyle %}

<form
  id="express-checkout-form"
  class="custom-checkout-{{ checkout_id }} {% if is_placeholder %}express-checkout-placeholder{% endif %}"
  onsubmit="return false;"
>
  <div class="express-checkout-fields">
    <div class="express-checkout-title">{{ settings.form_title }}</div>
    {% for field in checkout.fields %}
      {% assign field_name = field.name %}
      {% if field.custom %}
        {% assign field_name = 'extra_fields[' | append: field.name | append: ']' %}
      {% endif %}

      <div
        class="express-checkout-field"
        {% if field contains field.hidden %}
          hidden
        {% endif %}
      >
        {% unless has_linked_fields and linked_fields contains field.name %}
          {% case field.type %}
            {% when 'select' %}
              <select class="w-full" name="{{ field_name }}">
                {% if field.placeholder %}
                  <option
                    value=""
                    disabled
                    {% if field.default_value == '' %}
                      selected
                    {% endif %}
                  >
                    {{ field.placeholder }}
                  </option>
                {% endif %}
                {% for option in field.options %}
                  <option
                    value="{{ option }}"
                    {% if option == field.default_value %}
                      selected
                    {% endif %}
                  >
                    {{ option }}
                  </option>
                {% endfor %}
              </select>
            {% when 'textarea' %}
              <textarea
                name="{{ field_name }}"
                id="{{ field.name }}"
                class="w-full"
                placeholder="{{ field.placeholder }}"
                required="{{ field.required }}"
                min
              ></textarea>
            {% else %}
              {% if field.name == 'phone' and has_phone_validation %}
                <fieldset class="phone-fieldset" data-phone-fieldset>
                  <input type="hidden" name="{{ field_name }}" data-phone-hidden-input>
                  <div class="phone-countries-wrapper">
                    <span class="phone-code" data-phone-displayed-country-code></span>
                    <select
                      class="phone-select-menu"
                      name="phone_country_code"
                      autocomplete="tel-country-code"
                      data-phone-select-country-code
                    ></select>
                  </div>
                  <input
                    type="{{ field.type }}"
                    inputmode="tel"
                    name="phone_number"
                    class="w-full phone-number"
                    placeholder="{{ field_name }}"
                    autocomplete="tel-national"
                    data-phone-number
                  >
                </fieldset>
                <div class="validation-error" style="display: none;" data-phone-error>
                  {{ 'errors.invalid_phone_number' | t }}
                </div>
              {% else %}
                <input
                  {% if field.name == 'phone' or field.type == 'number' %}
                    inputmode="tel"
                  {% endif %}
                  {% if field.name == 'email' %}
                    inputmode="email"
                  {% endif %}
                  name="{{ field_name }}"
                  type="{{ field.type }}"
                  id="{{ field.name }}"
                  class="w-full"
                  placeholder="{{ field.placeholder }}"
                  required="{{ field.required }}"
                >
              {% endif %}
          {% endcase %}
        {% else %}
          <select
            data-linked-field="{{ field.name }}"
            required="{{ field.required }}"
            name="{{ field.name }}"
            class="w-full"
          ></select>
        {% endunless %}
        <div
          class="validation-error"
          {% if field.custom %}
            data-error="extra_fields[{{ field.name }}]"
          {% else %}
            data-error="{{ field.name }}"
          {% endif %}
        ></div>
      </div>
    {% endfor %}
    {% if is_sticky == false %}
      <button
        type="submit"
        class="express-checkout-button"
        {% if is_placeholder %}
          disabled
        {% endif %}
        onclick="placeOrder(this)"
      >
        <span class="spinner hidden" id="loading__checkout"></span>
        <span>{{ settings.express_checkout_cta | default: 'general.buy_now' | t }}</span>
      </button>
    {% endif %}
  </div>
</form>

{% if has_linked_fields or has_phone_validation %}
  {% javascript %}
    window.storeMarketCountries = new Promise((resolve) => {
      document.addEventListener('DOMContentLoaded', async () => {
        const data = await youcanjs.misc.getStoreMarketCountries();
        resolve(data);
      });
    });
  {% endjavascript %}
{% endif %}

{% if has_linked_fields %}
  {{ 'linked-fields.js' | asset_url | script_tag_deferred }}
{% endif %}

{% if has_phone_validation %}
  {{ 'https://unpkg.com/libphonenumber-js@1.12.27/bundle/libphonenumber-min.js' | script_tag_deferred }}
  {{ 'phone-validation.js' | asset_url | script_tag_deferred }}
{% endif %}

{{ 'express-checkout.js' | asset_url | script_tag_deferred }}
