{{ 'express-checkout.css' | asset_url | stylesheet_tag }}

{% assign checkout_id = 100 | rand: 2000 %}
{% assign linked_fields = 'country,region,city' %}
{% assign has_linked_fields = checkout.linked_fields %}

{% style %}
  {% if is_sticky %}
    body {
      padding-bottom: 80px;
    }

    #express-checkout-form {
      display: none;
    }
  {% endif %}

  .custom-checkout-{{ checkout_id }} {
    border: 1px solid {{ settings.form_border_colour.hex }};
  }

  .custom-checkout-{{ checkout_id }} .express-checkout-fields {
    grid-gap: {{ settings.inputs_gap }}px;
  }

  .custom-checkout-{{ checkout_id }} input,
  .custom-checkout-{{ checkout_id }} textarea,
  .custom-checkout-{{ checkout_id }} select,
  .custom-checkout-{{ checkout_id }} fieldset {
    padding: {{ settings.input_padding }}px;
    border-radius: {{ settings.input_border_radius }}px;
    font-size: {{ settings.input_text_size }}px !important;

    {% if settings.input_background_color %}
    background-color: {{ settings.input_background_color.hex }};
    {% endif %}

    {% if settings.input_text_color %}
    color: {{ settings.input_text_color.hex }};
    {% endif %}

    {% if settings.input_border_color %}
    border: 1px solid {{ settings.input_border_color.hex }};
    {% endif %}
  }

  .custom-checkout-{{ checkout_id }} select,
  .custom-checkout-{{ checkout_id }} textarea {
    padding: calc({{ settings.input_padding }}px - 4px);
  }

  .express-checkout-button {
    padding: {{ settings.button_padding }}px;
    border-radius: {{ settings.button_border_radius }}px;
    font-size: {{ settings.button_text_size }}px;

    {% if settings.button_background_color %}
    background-color: {{ settings.button_background_color.hex }} !important;
    {% endif %}
  }

  .express-checkout-button span {
    font-weight: bold;
  }

  {% if settings.button_text_color %}
  .custom-checkout-{{ checkout_id }} button span {
    color: {{ settings.button_text_color.hex }} !important;
  }
  {% endif %}

  {% if settings.input_placeholder_color %}
  .custom-checkout-{{ checkout_id }} input::placeholder,
  .custom-checkout-{{ checkout_id }} textarea::placeholder {
    color: {{ settings.input_placeholder_color.hex }};
  }
  {% endif %}

  .express-checkout-button:disabled {
    background: #bdc3c7 !important;
    color: #ffffff !important;
    cursor: not-allowed;
  }

  /* Custom phone input group */
  .phone-field__input-group {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 !important;
  }

  .phone-field__select {
    border: none !important;
    border-right: 1px solid {{ settings.input_border_color.hex }} !important;
    border-radius: 0 !important;
    width: 30%;
    padding: 0 !important;
  }

  .phone-field__select option[data-code]::before {
    content: attr(data-code);
  }

  .phone-field__number {
    border: none !important;
    padding: 0 !important;
  }
{% endstyle %}

<form
  id="express-checkout-form"
  class="custom-checkout-{{ checkout_id }} {% if is_placeholder %}express-checkout-placeholder{% endif %}"
  onsubmit="return false;"
>
  <div class="express-checkout-fields">
    <div class="express-checkout-title">{{ settings.form_title }}</div>
    {% for field in checkout.fields %}
      {% assign field_name = field.name %}
      {% if field.custom %}
        {% assign field_name = 'extra_fields[' | append: field.name | append: ']' %}
      {% endif %}

      <div
        class="express-checkout-field"
        {% if field contains field.hidden %}
          hidden
        {% endif %}
      >
        {% unless has_linked_fields and linked_fields contains field.name %}
          {% case field.type %}
            {% when 'select' %}
              <select class="w-full" name="{{ field_name }}">
                {% if field.placeholder %}
                  <option
                    value=""
                    disabled
                    {% if field.default_value == '' %}
                      selected
                    {% endif %}
                  >
                    {{ field.placeholder }}
                  </option>
                {% endif %}
                {% for option in field.options %}
                  <option
                    value="{{ option }}"
                    {% if option == field.default_value %}
                      selected
                    {% endif %}
                  >
                    {{ option }}
                  </option>
                {% endfor %}
              </select>
            {% when 'textarea' %}
              <textarea
                name="{{ field_name }}"
                id="{{ field.name }}"
                class="w-full"
                placeholder="{{ field.placeholder }}"
                required="{{ field.required }}"
                min
              ></textarea>
            {% else %}
            <!-- Phone Input Group -->
              {% if field.name == 'phone' and checkout.phoneValidation %}
                <fieldset dir="ltr" class="phone-field__input-group" name="{{ field_name }}">
                  <input type="hidden" id="{{ field.name }}" name="{{ field_name }}">
                  <select id="phone-field__country-code" class="phone-field__select"></select>
                  <input
                  type="{{ field.type }}"
                  inputmode="tel"
                  id="phone-field__number"
                  class="w-full phone-field__number"
                  placeholder="{{ field.placeholder }}"
                  required="{{ field.required }}"
                >
                </fieldset>
                <div style="display: none;" class="validation-error" id="validation-error__phone_field">{{ 'errors.invalid_phone_number' | t }}</div>
              {% else %}
              <input
                {% if field.name == 'phone' or field.type == 'number' %}
                  inputmode="tel"
                {% endif %}
                {% if field.name == 'email' %}
                  inputmode="email"
                {% endif %}
                name="{{ field_name }}"
                type="{{ field.type }}"
                id="{{ field.name }}"
                class="w-full"
                placeholder="{{ field.placeholder }}"
                required="{{ field.required }}"
              >
              {% endif %}
          {% endcase %}
        {% else %}
          <select
            data-linked-field="{{ field.name }}"
            required="{{ field.required }}"
            name="{{ field.name }}"
            class="w-full"
          ></select>
        {% endunless %}
        <div
          class="validation-error"
          {% if field.custom %}
            data-error="extra_fields[{{ field.name }}]"
          {% else %}
            data-error="{{ field.name }}"
          {% endif %}
        ></div>
      </div>
    {% endfor %}
    {% if is_sticky == false %}
      <button
        type="submit"
        class="express-checkout-button"
        {% if is_placeholder %}
          disabled
        {% endif %}
        onclick="placeOrder(this)"
      >
        <span class="spinner hidden" id="loading__checkout"></span>
        <span>{{ settings.express_checkout_cta | default: 'general.buy_now' | t }}</span>
      </button>
    {% endif %}
  </div>
</form>

{{ "https://unpkg.com/libphonenumber-js@1.12.27/bundle/libphonenumber-min.js" | script_tag_deferred }}

{{ 'express-checkout.js' | asset_url | script_tag_deferred }}
{% if has_linked_fields %}
  {{ 'linked-fields.js' | asset_url | script_tag_deferred }}
{% endif %}
