{% comment %}
  Renders the cart item template (cart page)

  Usage:
  {% render 'cart-item' %}
{% endcomment %}

<div class="item">
  <div class="info">
    <div class="image" data-cart-item="image">
      <img
        loading="lazy"
        height="100%"
        width="100%"
        src="{{ product.image }}"
        alt="{{ product.name }}"
        {% if product.image contains '/store-front/images/product-default' %}
          hidden
        {% endif %}
      >
      <div
        class="card-placeholder"
        {% if product.image %}
          hidden
        {% endif %}
        data-cart-item-image-placeholder
      >
        {% render 'yc-placeholder', name: 'product', size: '48' %}
      </div>
    </div>
    <div class="heading">
      <span title="{{ product.name }}" data-cart-item="title">
        {{ product.name | default: 'Product Name' }}
      </span>
      <p
        class="variant"
        data-cart-item="variant"
        {% if product.variations == null or product.variations.default %}
          hidden
        {% endif %}
      >
        {% for variant in product.variations %}
          <span>{{- variant[1] -}}</span>
          {% unless forloop.index == product.variations.size - 1 %}
            <span>/</span>
          {% endunless %}
        {% endfor %}
      </p>
      {% if product.variants %}
      {% endif %}
      <span data-base-price data-cart-item="price">{{ product.price | default: 0 | money }}</span>
    </div>
  </div>
  <div class="controls">
    {% render 'yc-quantity-control', product: product, button_size: 'sm', inventory: product.inventory %}
    {% assign subtotal = product.quantity | times: product.price %}
    <span data-cart-item="subtotal">{{ subtotal | money }}</span>
    <yc-cart-remove-button
      item="{{ product.id }}"
      product-variant="{{ product.product_variant_id }}"
      data-cart-item="delete-button"
    >
      <button
        class="yc-btn icon delete"
        data-delete
        data-size="sm"
        aria-label="Delete"
      >
        {% render 'yc-icon', name: 'trash' %}
      </button>
    </yc-cart-remove-button>
  </div>
</div>
