{{ 'collection-card.css' | asset_url | stylesheet_tag }}

<a
  class="collection-card"
  aria-label="{{ collection.name }}"
  href="/collections/{{ collection.slug }}"
>
  <div class="collection-cover">
    <img
      width="100%"
      height="100%"
      alt="{{ collection.name }}"
      src="{{ collection.image }}"
    >
  </div>
  <span class="collection-name">{{ collection.name }}</span>
</a>
