{% comment %}
  Renders a collection card

  Accepts:
  - collection: {Object} Collection information
  - youcan_attributes: {String} (optional) YouCan attributes (allow blocks to be highlighted in the theme editor)

  Usage:
  {% render 'collection-card', collection: {...} %}
{% endcomment %}

<a
  class="collection-card"
  aria-label="{{ collection.name }}"
  href="/collections/{{ collection.slug }}"
  style="--collection-height: {{ height |  default: 400 }}"
  {{ youcan_attributes }}
>
  <div class="cover">
    {% if collection.image %}
      <img
        width="100%"
        height="100%"
        alt="{{ collection.name }}"
        src="{{ collection.image }}"
        loading="lazy"
      >
    {% else %}
      <div class="card-placeholder">
        {% render 'yc-placeholder', name: 'collection' %}
      </div>
    {% endif %}
  </div>
  <div
    class="info"
    {% if height %}
      data-small
    {% endif %}
  >
    <span class="name">{{ collection.name | default: 'Collection Name' }}</span>
  </div>
</a>
