<a
  class="collection-card"
  aria-label="{{ collection.name }}"
  href="/collections/{{ collection.slug }}"
>
  <div class="collection-cover">
    {% if collection.image %}
      <img
        width="100%"
        height="100%"
        alt="{{ collection.name }}"
        src="{{ collection.image }}"
        loading="lazy"
      >
    {% else %}
      {% comment %} TODO: Placeholder {% endcomment %}
    {% endif %}
  </div>
  <span class="collection-name">{{ collection.name | default: 'Collection Name' }}</span>
</a>
