{% assign column = block.settings %}
{% assign setting = section.settings %}

<div class="column-card" data-position="{{ setting.position }}">
  <div class="column-img">
    <img
      width="100%"
      height="100%"
      alt="{{ column.title }}"
      src="{{ column.image.src }}"
      data-width="{{ setting.image_width }}"
      data-ratio="{{ setting.image_ratio }}"
    >
  </div>
  <div class="column-info">
    <span class="column-title h4">{{ column.title }}</span>
    <p class="column-subtitle">{{ column.subtitle }}</p>
  </div>
</div>
