{{ 'component-countdown-timer.css' | asset_url | stylesheet_tag }}
{{ 'component-countdown-timer.js' | asset_url | script_tag_deferred }}

{% comment %}
  Renders a countdown timer (usually used in featured & single product sections)

  Accepts:
  - year: {Number} Year
  - month: {Number} Month
  - day: {Number} Day
  - hour: {Number} Hour
  - minute: {Number} Minute
  - second: {Number} Second
  - title: {String} (Optional) Countdown timer title

  Usage:
  {% render 'countdown-timer', year: 2025, month: 02, day: 14, hour: 15, minute: 33, second: 59 %}
{% endcomment %}

<yc-countdown-timer
  date="{{ year }}-{{ month }}-{{ day }}"
  time="{{ hour }}:{{ minute }}:{{ second }}"
  style="
    --timer-background: {{ block.settings.background_color.hex }};
    --timer-foreground: {{ block.settings.foreground_color.red }}, {{ block.settings.foreground_color.green }}, {{ block.settings.foreground_color.blue }};
  "
>
  {% if title %}
    <div class="title">
      <p>{{ title }}</p>
    </div>
  {% endif %}
  <div class="time">
    <div class="timeslot">
      <span data-days="{{ days }}">--</span>
      <span>{{ 'general.countdown.days' | t }}</span>
    </div>
    <div class="timeslot">
      <span data-hours="{{ hours }}">--</span>
      <span>{{ 'general.countdown.hours' | t }}</span>
    </div>
    <div class="timeslot">
      <span data-minutes="{{ minutes }}">--</span>
      <span>{{ 'general.countdown.minutes' | t }}</span>
    </div>
    <div class="timeslot">
      <span data-seconds="{{ seconds }}">--</span>
      <span>{{ 'general.countdown.seconds' | t }}</span>
    </div>
  </div>
</yc-countdown-timer>
