{{ 'header-cart-drawer.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-drawer-items.js' | asset_url | script_tag_deferred }}

{% assign cart_size = cart.items.size %}

<yc-drawer id="cart" data-hidden="true" data-direction="rtl">
  <button class="cart-btn icon" aria-label="cart" data-toggle>
    <span
      class="total-items {% unless cart_size > 0 %} hidden {% endunless %}"
      data-cart-badge
    >
      {{- cart_size -}}
    </span>
    {% render 'yc-icon', name: 'cart' %}
    <span class="total-amount">{{ cart.sub_total | money }}</span>
  </button>
  <div class="drawer-container">
    <div class="drawer-box">
      <div class="cart-drawer {% unless cart_size != null %}is-empty{% endunless %}">
        <div class="header">
          <div class="title">
            {% render 'yc-icon' | name: 'cart' %}
            <span>{{ 'cart.drawer.title' | t }}</span>
          </div>
          <button class="close-btn icon" data-size="sm" aria-label="close" data-toggle>
            {% render 'yc-icon' | name: 'x-mark' %}
          </button>
        </div>
        <yc-cart-drawer-items>
          <template id="cart-item-template">
            {% render 'cart-drawer-item' %}
          </template>
          {% for item in cart.items %}
            {% render 'cart-drawer-item', product: item %}
          {% endfor %}
        </yc-cart-drawer-items>
        <div class="footer">
          <div class="totals">
            <span>{{ 'cart.drawer.total' | t }}</span>
            <span data-total>{{ cart.sub_total | money }}</span>
          </div>
          <div class="actions">
            <a href="/cart" class="yc-btn primary">{{ 'cart.drawer.actions.check_out' | t }}</a>
            <button class="yc-btn secondary" data-toggle>{{ 'cart.drawer.actions.continue_shopping' | t }}</button>
          </div>
        </div>
        {% assign placeholder_title = 'cart.empty.title' | t %}
        {% render 'yc-empty', icon: 'cart', heading: placeholder_title %}
      </div>
    </div>
    <div class="drawer-overlay overlay" data-toggle></div>
  </div>
</yc-drawer>
