<div class="item">
  <div class="image">
    {% if product.thumbnail %}
      <img
        loading="lazy"
        height="100%"
        width="100%"
        src="{{ product.thumbnail }}"
        alt="{{ product.name }}"
      >
    {% else %}
      <div class="card-placeholder">
        {% render 'yc-placeholder', name: 'product', size: '32' %}
      </div>
    {% endif %}
  </div>
  <div class="info">
    <div class="heading">
      <span class="name" title="{{ product.name }}">
        {{ product.name | default: 'Product Name' }}
      </span>
      {% if product.variations.size > 1 %}
        <p class="variant">
          {% for variant in product.variations %}
            <span>{{- variant[1] -}}</span>
            {% unless forloop.index == product.variations.size - 1 %}
              <span>/</span>
            {% endunless %}
          {% endfor %}
        </p>
      {% endif %}
      <span class="quantity">x2</span>
    </div>
  </div>
  <span class="item-subtotal">
    {{ product.price | default: 0 | money }}
  </span>
</div>
