{% comment %}
  Renders a product card

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', lazy_load: true %}
{% endcomment %}

{{ 'product-card.css' | asset_url | stylesheet_tag }}

{% style %}
  .product-card {
    --border-radius: {{ settings.product_card_border_radius }}px;
    --badge-text-color: {{ settings.badge_text_color.hex }};
    --badge-background-color: {{ settings.badge_background_color.hex }};
  }
{% endstyle %}

<div class="product-card {{ settings.product_card_style }}">
  <a href="#" class="img-link" aria-label="PRODUCT NAME">
    <img
      src="{{ 'hoodie.webp' | asset_url }}"
      alt="Product Name"
      {% unless lazy_load == false %}
        loading="lazy"
      {% endunless %}
      height="100%"
      width="100%"
    >
  </a>
  <div class="badge" data-position="{{ settings.badge_position }}">
    <span>New</span>
  </div>
  <div class="info">
    <a href="#" class="link title">Sneaker</a>
    <div class="price">
      <span class="current">459 MAD</span>
      <span class="compare-at">799 MAD</span>
    </div>
    {% unless settings.product_card_style == 'compact' %}
      <button class="yc-btn secondary">Buy now</button>
    {% endunless %}
  </div>
</div>
