{% style %}
  .single-product {
    {% if count == 0 %}
      --inventory-status-color: var(--color-gray-300);
    {% elsif count > threshold %}
      --inventory-status-color: var(--color-success-500);
    {% else %}
      --inventory-status-color: var(--color-warning-50);
    {% endif %}
  }
{% endstyle %}

<div class="inventory">
  {% render 'yc-icon', name: 'status', size: 28 %}
  {% if count == 0 %}
    {{ 'product.inventory_out_of_stock' | t }}
  {% elsif count > threshold %}
    {% if show_count %}
      {{ 'product.inventory_in_stock_show_count' | t | replace: '%', count }}
    {% else %}
      {{ 'product.inventory_in_stock' | t }}
    {% endif %}
  {% else %}
    {% if show_count %}
      {{ 'product.inventory_low_stock_show_count' | t | replace: '%', count }}
    {% else %}
      {{ 'product.inventory_low_stock' | t }}
    {% endif %}
  {% endif %}
</div>
