{% comment %}
  Renders a product card

  Accepts:
  - product: {Object} Product Liquid object
  - badge_text (optional)

  Usage:
  {% render 'card-product', lazy_load: true %}
{% endcomment %}

{% assign default_variant = product.first_available_variant %}

<div class="product-card" data-style="{{ settings.product_card_style }}">
  <a href="{{ product.url }}" class="img-link" aria-label="{{ product.name }}" draggable="false">
    {% if product.thumbnail %}
      <img
        loading="lazy"
        height="100%"
        width="100%"
        src="{{ product.thumbnail }}"
        alt="{{ product.name }}"
      >
    {% else %}
      <div class="card-placeholder">
        {% render 'yc-placeholder', name: 'product' %}
      </div>
    {% endif %}
  </a>
  {% if badge_text %}
    <div class="badge" data-position="{{ settings.badge_position }}">
      <span>{{ badge_text }}</span>
    </div>
  {% endif %}
  <div class="info">
    <a href="{{ product.url }}" class="link title" draggable="false">
      {{ product.name | default: 'Product Name' }}
    </a>
    <div class="price">
      <span class="current">
        {% assign product_price = default_variant.price | default: product.price %}
        {{ product_price | default: 0 | money -}}
      </span>
      {% if product.compare_at_price != null %}
        <span class="compare-at">
          {% assign product_compare_at_price = default_variant.compare_at_price
            | default: product.compare_at_price
          %}
          {{ product_compare_at_price | default: 0 | money }}
        </span>
      {% endif %}
    </div>
    {% unless settings.product_card_style == 'compact' %}
      {% if product.variants.size > 1 %}
        {% render 'product-quick-view', product: product %}
      {% else %}
        {% render 'yc-add-to-cart',
          variant_id: default_variant.id,
          available: product.available
        %}
      {% endif %}
    {% endunless %}
  </div>
</div>
