{% comment %}
  Renders a product card

  Accepts:
  - product: {Object} Product Liquid object
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)
  - show_badge (optional)
  - badge_text (optional)
  - quick_add (optional)

  Usage:
  {% render 'card-product', lazy_load: true %}
{% endcomment %}

{{ 'product-card.css' | asset_url | stylesheet_tag }}

<div class="product-card" data-style="{{ settings.product_card_style }}">
  <a href="{{ product.url }}" class="img-link" aria-label="{{ product.name }}">
    <img
      loading="lazy"
      src="{{ product.thumbnail }}"
      alt="{{ product.name }}"
      height="100%"
      width="100%"
    >
  </a>
  {% if show_badge and badge_text %}
    <div class="badge" data-position="{{ settings.badge_position }}">
      <span>{{ badge_text }}</span>
    </div>
  {% endif %}
  <div class="info">
    <a href="{{ product.url }}" class="link title">
      {{ product.name | default: 'Product Name' }}
    </a>
    <div class="price">
      <span class="current">{{ product.price | default: 0 | money }}</span>
      {% if product.compare_at_price != null %}
        <span class="compare-at">
          {{ product.compare_at_price | default: 0 | money }}
        </span>
      {% endif %}
    </div>
    {% unless settings.product_card_style == 'compact' %}
      {% comment %} TODO: Add quick add and normal add to cart logic {% endcomment %}
      <button class="yc-btn buy">
        {{ 'general.buy_now' | t }}
      </button>
    {% endunless %}
  </div>
</div>
