{% assign slide = block.settings %}
{% assign slideshow = section.settings %}

<yc-slider-item>
  <img src="{{ slide.image.src }}" alt="{{ slide.title }}" height="100%" width="100%">
  <yc-slider-content data-alignment="{{ slideshow.content_alignment }}">
    {% if slide.heading %}
      <p class="heading">{{ slide.heading }}</p>
    {% endif %}
    {% if slide.subheading %}
      <p class="subheading">{{ slide.subheading }}</p>
    {% endif %}
    {% if slide.button_text %}
      <a href="{{ slide.button_link }}" class="yc-btn">
        {{ slide.button_text }}
      </a>
    {% endif %}
  </yc-slider-content>
</yc-slider-item>
