{% comment %}
  Renders a sort component (search | products)

  Accepts:
  - url: {String} The collection/search URL with sorting params

  Usage:
  {% render 'yc-sort', url: "{your_store}.youcan.store?sort_field=price&sort_order=asc" %}
{% endcomment %}

{% assign sort_field = '' %}
{% assign sort_order = '' -%}
{% assign query_params = url | split: '?' | last | split: '&' %}

{% for param in query_params %}
  {% if param contains 'sort_field=' %}
    {% assign sort_field = param | split: '=' | last %}
  {% elsif param contains 'sort_order=' %}
    {% assign sort_order = param | split: '=' | last %}
  {% endif %}
{% endfor %}

{% assign alphabetical_asc = 'general.sort.alphabetical_asc' | t %}
{% assign alphabetical_desc = 'general.sort.alphabetical_desc' | t %}
{% assign oldest = 'general.sort.oldest' | t %}
{% assign newest = 'general.sort.newest' | t %}
{% assign price_low_high = 'general.sort.price_low_high' | t %}
{% assign price_high_low = 'general.sort.price_high_low' | t %}

{% capture labels %}
  {{ alphabetical_asc }}, {{ alphabetical_desc }}, {{ oldest }}, {{ newest }}, {{ price_low_high }}, {{ price_high_low }}
{% endcapture -%}

{% assign keys = ',name,name,created_at,created_at,price,price' | split: ',' %}
{% assign values = 'desc,asc' | split: ',' %}
{% assign options = labels | split: ',' %}

<div class="mobile-sort">
  <yc-dialog-trigger class="select-trigger" data-modal="#sort-{{ section.id }}">
    <label for="trigger" class="yc-btn icon" data-trigger>
      {% render 'yc-icon', name: 'sort' %}
    </label>
  </yc-dialog-trigger>

  <yc-dialog as-drawer id="sort-{{ section.id }}" class="mobile-sort-dialog">
    <yc-select>
      <button class="icon">
        {% assign placeholder = 'general.sort.placeholder' | t %}
        {% for opt in options %}
          {% assign index = forloop.index %}
          {% assign field = keys[index] %}
          {% assign order = index | modulo: 2 == 0 %}

          {% if field == sort_field and values[order] == sort_order %}
            {% assign placeholder = opt %}
          {% endif %}
        {% endfor %}

        {{ placeholder }}
      </button>

      <yc-select-content>
        <yc-select-header>
          <span> {{ 'general.sort.label' | t }}: </span>
        </yc-select-header>
        {% for opt in options %}
          {% assign index = forloop.index %}
          {% assign field = keys[index] %}
          {% assign order = index | modulo: 2 == 0 %}
          {% assign href = '?sort_field=' | append: field | append: '&sort_order=' | append: values[order] %}
          {% unless terms == null or terms == '' %}
            {% assign href = href | append: '&q=' | append: terms %}
          {% endunless %}

          <a
            {% if field == sort_field and values[order] == sort_order %}
              data-checked
            {% endif %}
            href="{{ href }}"
          >
            <span>{{ opt }}</span>
          </a>
        {% endfor %}
      </yc-select-content>
    </yc-select>
  </yc-dialog>
</div>

<div class="desktop-sort">
  <yc-select>
    <button class="icon">
      {% assign placeholder = 'general.sort.placeholder' | t %}
      {% for opt in options %}
        {% assign index = forloop.index %}
        {% assign field = keys[index] %}
        {% assign order = index | modulo: 2 == 0 %}

        {% if field == sort_field and values[order] == sort_order %}
          {% assign placeholder = opt %}
        {% endif %}
      {% endfor %}

      {{ placeholder }}
    </button>

    <yc-select-content>
      <yc-select-header>
        <span> {{ 'general.sort.label' | t }}: </span>
      </yc-select-header>
      {% for opt in options %}
        {% assign index = forloop.index %}
        {% assign field = keys[index] %}
        {% assign order = index | modulo: 2 == 0 %}
        {% assign href = '?sort_field=' | append: field | append: '&sort_order=' | append: values[order] %}
        {% unless terms == null or terms == '' %}
          {% assign href = href | append: '&q=' | append: terms %}
        {% endunless %}

        <a
          {% if field == sort_field and values[order] == sort_order %}
            data-checked
          {% endif %}
          href="{{ href }}"
        >
          <span>{{ opt }}</span>
        </a>
      {% endfor %}
    </yc-select-content>
  </yc-select>
</div>

{% comment %}
  <yc-modal as-drawer>
    <div class="select-trigger">
      <label for="trigger" class="yc-btn icon" data-trigger>
        {% render 'yc-icon', name: 'sort' %}
      </label>
    </div>

    <yc-modal-content>
      <yc-select>
        <button class="icon">
          {% assign placeholder = 'general.sort.placeholder' | t %}
          {% for opt in options %}
            {% assign index = forloop.index %}
            {% assign field = keys[index] %}
            {% assign order = index | modulo: 2 == 0 %}

            {% if field == sort_field and values[order] == sort_order %}
              {% assign placeholder = opt %}
            {% endif %}
          {% endfor %}

          {{ placeholder }}
        </button>

        <yc-select-content>
          <yc-select-header>
            <span> {{ 'general.sort.label' | t }}: </span>
          </yc-select-header>
          {% for opt in options %}
            {% assign index = forloop.index %}
            {% assign field = keys[index] %}
            {% assign order = index | modulo: 2 == 0 %}
            {% assign href = '?sort_field=' | append: field | append: '&sort_order=' | append: values[order] %}
            {% unless terms == null or terms == '' %}
              {% assign href = href | append: '&q=' | append: terms %}
            {% endunless %}

            <a
              {% if field == sort_field and values[order] == sort_order %}
                data-checked
              {% endif %}
              href="{{ href }}"
            >
              <span>{{ opt }}</span>
            </a>
          {% endfor %}
        </yc-select-content>
      </yc-select>
    </yc-modal-content>
  </yc-modal>
{% endcomment %}
