<!doctype html>
{% assign lang = store.store_locale.iso_code %}

<html
  lang="{{ lang }}"
  dir="{{ settings.theme_direction }}"
>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ request.url }}">

    {% render 'page-title' %}
    {%- render 'meta-tags' -%}
    {%- render 'head-config' -%}
  </head>
  <body>
    {%- render 'overlay' -%}
    {%- render 'alert' -%}

    {%- section 'notice-bar' %}
    {%- section 'main-navbar' %}

    <main class="main-content">
      {{ content_for_layout }}
    </main>

    {% section 'main-footer' %}
    {%- render 'cart-drawer' -%}

    {% javascript %}
      const FORM = {
        errors: '{{ form.errors | first }}',
      };
    {% endjavascript %}

    {{ 'main.js' | asset_url | script_tag }}
  </body>
</html>
